{% extends "admin_tools/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
        {% for child in module.children %}
        <h3><a href="{{ child.url }}">
            {% if child.title == "Dialer_Campaign" %}
                {% trans "Dialer Campaign" %}
            {% else %}
                {% if child.title == "Dialer_Cdr" %}
                    {% trans "Dialer CDR" %}
                {% else %}
                    {% if child.title == "Dialer_Gateway" %}
                        {% trans "Dialer Gateway" %}
                    {% else %}
                        {% if child.title == "Prefix_Country" %}
                            {% trans "Prefix Country" %}
                        {% else %}
                            {% if child.title == "Dialer_Settings" %}
                                {% trans "Dialer Settings" %}
                            {% else %}
                                {% if child.title == "Voip_App" %}
                                    {% trans "VoIP Application" %}
                                {% else %}
                                    {{ child.title }}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
             
            </a></h3>
        <ul>
            {% for model in child.models %}
            {% spaceless %}
            <li>
                {% if model.change_url %}<a href="{{ model.change_url }}">{{ model.title }}</a>{% else %}{{ model.title }}{% endif %}
                {% if model.add_url or model.change_url %}
                <ul>
                    {% if model.add_url %}<li><a class="addlink" href="{{ model.add_url }}"><span class="icon">{% trans "Add" %}</span></a></li>{% endif %}
                    {% if model.change_url %}<li><a class="changelink" href="{{ model.change_url }}"><span class="icon">{% trans "Change" %}</span></a></li>{% endif %}
                </ul>
                {% endif %}
            </li>
            {% endspaceless %}
            {% endfor %}
        </ul>
        {% endfor %}
{% endblock %}
