{% extends "admin_tools/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
        {% for child in module.children %}
        <h3><a href="{{ child.url }}">{{ child.title }}</a></h3>
        <ul>
            {% for model in child.models %}
            {% spaceless %}
            <li>
                {% if model.change_url %}
                    <a href="{{ model.change_url }}">
                        {% if model.title == "VoIP Call" %}
                            {% trans "call report"|title %}
                        {% else %}
                            {{ model.title }}
                        {% endif %}
                    </a>
                {% else %}
                    {{ model.title }}
                {% endif %}

                {% if model.add_url or model.change_url %}
                <ul>
                    {% if model.add_url %}
                    <li>
                        <a class="addlink" href="{{ model.add_url }}"><span class="icon">{% trans "add"|title %}</span></a>
                    </li>
                    {% endif %}
                    {% if model.change_url %}
                        {% if model.title != "VoIP Call" %}
                        <li>
                            <a class="changelink" href="{{ model.change_url }}">
                                <span class="icon">{% trans "change"|title %}</span>
                            </a>
                        </li>
                        {% endif %}
                    {% endif %}
                </ul>
                {% endif %}
            </li>

            <li>
                {% if model.change_url %}
                    {% if model.title == "VoIP Call" %}
                        <a class="" href="/admin/dialer_cdr/voipcall/voip_report/">{% trans "call aggregate report"|title %}</a>
                    {% endif %}
                {% endif %}
            </li>


            {% endspaceless %}
            {% endfor %}
        </ul>
        {% endfor %}
{% endblock %}
