{% extends "frontend/master.html" %}
{% load i18n common_tags %}

{% block content_header %}
    <h1>
        {% if action == 'update' %}
            {% trans "update"|title %}
        {% else %}
            {% trans "add"|title %}
        {% endif %} {% trans "contact"|title %}
        <small>{% trans "add contact details"|capfirst %}</small>
    </h1>
{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
    <li class="active"><a href="#tabs-1" data-toggle="tab">{% trans "general"|title %}</a></li>
    <li class="{% if action == 'tabs-2' %}active{% endif %}"><a href="#tabs-2" data-toggle="tab">{% trans "advanced data"|title %}</a></li>
</ul>
<form class="well" role="form" method="POST" action="." enctype="multipart/form-data">
    {% csrf_token %}
    <div class="tab-content">
        <div id="tabs-1" class="tab-pane active">
            <div class="row">
                {% get_fieldset phonebook,contact as contact_fields from form %}
                {% for field in contact_fields.visible_fields %}
                    <div class="col-md-6">
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                            <div class="col-xs-8">
                                <label class="control-label" for="{{ field.auto_id }}">{{ field.label|capfirst }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    <span class="help-block">
                                        {{ field.errors|removetags:"ul li"|safe }}
                                    </span>
                                {% endif %}
                                <span class="help-block">
                                    {{ field.help_text|capfirst }}
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                {% get_fieldset status,last_name,first_name,email as contact_fields from form %}
                {% for field in contact_fields.visible_fields %}
                    <div class="col-md-6">
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                            <div class="col-xs-8">
                                <label class="control-label" for="{{ field.auto_id }}">{{ field.label|capfirst }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    <span class="help-block">
                                        {{ field.errors|removetags:"ul li"|safe }}
                                    </span>
                                {% endif %}
                                <span class="help-block">
                                    {{ field.help_text|capfirst }}
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="tabs-2" class="tab-pane {% if action == 'tabs-2' %}active{% endif %}">
            <div class="row">
                {% get_fieldset unit_number,address,city,state,country,unit_number,additional_vars,description as contact_fields from form %}
                {% for field in contact_fields.visible_fields %}
                    <div class="col-md-6">
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                            <div class="col-xs-8">
                                <label class="control-label" for="{{ field.auto_id }}">{{ field.label|capfirst }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    <span class="help-block">
                                        {{ field.errors|removetags:"ul li"|safe }}
                                    </span>
                                {% endif %}
                                <span class="help-block">
                                    {{ field.help_text|capfirst }}
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br/>
    {% include "frontend/common_submit_buttons.html" %}
</form>

{% endblock %}
