{% extends "frontend/master.html" %}
{% load i18n common_tags utils_tags crispy_forms_tags %}

{% block header_files %}
{% endblock %}

{% block extra_files %}
{% endblock %}

{% block row_fluid %}
{% endblock %}

{% block header %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block container %}
    {% block content %}

        {% if err_msg %}
            {% include "frontend/extra_modal_header.html" %}
            <script type="text/javascript">
                $(window).load(function(){
                    $('#section-modal').modal('show');
                });
                function back_to(){
                    var url = '/module/survey/' + '{{ survey_id }}'  + '/#row{{ section_id }}';
                    $(location).attr('href', url);
                }
                $(function () {
                    $('#helpover').popover();
                });
            </script>
            <!-- modal content-->
            <div class="modal fade" id="section-modal" role="dialog" aria-labelledby="section_modal" data-backdrop="static">
        {% endif %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="id_close_x" type="button" class="close" data-dismiss="modal" aria-hidden="true" {% if err_msg %}onclick="back_to();"{% endif %}>&times;</button>
                    <h4>{{ action|capfirst }} {% trans "section"|title %}
                    </h4>
                </div>

                <!-- Form to update or add new section -->
                <form method="POST" role="form" action="{% if action == 'update' %}/section/{{ section_id }}/{% else %}/section/add/?survey_id={{ survey_id }}{% endif %}" enctype="multipart/form-data" id="update_form">

                    <div class="modal-body">
                    <!-- modal content -->
                        {% crispy form form.helper %}
                    </div>

                    <div class="modal-footer" align="right">
                        {% if action == 'update' %}
                            <button type="submit" id="id_update" name="update" class="btn btn-primary" value="update">
                                <i class="fa fa-edit fa-lg"></i> {% trans "update"|title %}
                            </button>
                        {% else %}
                            <button type="submit" id="id_add" name="add" class="btn btn-primary" value="{% trans 'save'|title %}">
                                <i class="fa fa-save fa-lg"></i> {% trans "save"|title %}
                            </button>
                        {% endif %}

                        <button id="id_close" type="button" class="btn btn-default" data-dismiss="modal" {% if err_msg %}onclick="back_to();"{% endif %}>{% trans "close"|title %}</button>
                    </div>
                </form>
            </div>
        </div>

        {% if err_msg %}
            </div>
        {% endif %}

    {% include "frontend/extra_modal_footer.html" %}

    {% endblock %}

{% endblock %}

{% block footer %}
{% endblock %}
