{% extends "frontend/master.html" %}
{% load i18n crispy_forms_tags %}

{% block header_files %}
{% endblock %}

{% block bootstrap_switch_js %}
{% endblock %}

{% block extra_files %}
{% endblock %}

{% block row_fluid %}
{% endblock %}

{% block header %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block container %}

    {% block content %}
    {% if err_msg %}
        {% include "frontend/extra_modal_header.html" %}
        {% include "frontend/extra_modal_footer.html" %}
        <script type="text/javascript" charset="utf-8">
            $(window).load(function(){
                $('#section-modal').modal('show');
            });
            function back_to(){
                var url = '/module/survey/' + '{{ survey_id }}'  + '/#row{{ section_id }}';
                $(location).attr('href', url);
            }
        </script>
    <!-- modal content-->
    <div class="modal fade" id="section-modal" role="dialog" aria-labelledby="section_modal" data-backdrop="static">

    {% endif %}
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <a id="id_close_x" class="close" data-dismiss="modal" {% if err_msg %}onclick="back_to();"{% endif %}>&times;</a>
                <h3>{% trans "branch to section"|title %}</h3>
            </div>

            <form method="POST" action="{% if action == 'update' %}/section/branch/{{ branching_id }}/{% else %}/section/branch/add/?section_id={{ section_id }}{% endif %}" enctype="multipart/form-data" id="update_form">

                <!--"keys" is hidden for section_type 1 (voice) & 5(record message)-->
                <div class="modal-body">
                    <script type="text/javascript">
                        $(function() {
                            $('#button-anything').change( function() {
                                $("#id_keys").val('any');
                            });
                            $('#button-invalid').change( function() {
                                $("#id_keys").val('invalid');
                            });
                        });
                    </script>
                    {% crispy form form.helper %}
                </div>

                <div class="modal-footer">
                    {% if section_type != SECTION_TYPE.HANGUP_SECTION and section_type != SECTION_TYPE.DNC %}
                        {% if action == 'update' %}
                            <button type="submit" id="id_update" name="update" class="btn btn-primary" value="update">
                                <i class="fa fa-edit fa-lg"></i> {% trans "update"|title %}
                            </button>
                        {% else %}
                            <button type="submit" id="id_add" name="add" class="btn btn-primary" value="{% trans 'save'|title %}">
                                <i class="fa fa-save fa-lg"></i> {% trans "save"|title %}
                            </button>
                        {% endif %}
                    {% endif %}
                    <button id="id_close" type="button" class="btn btn-default" data-dismiss="modal" {% if err_msg %}onclick="back_to();"{% endif %}>{% trans "close"|title %}</button>
                </div>
            </form>
        </div>
    </div>

    {% if err_msg %}
    </div>
    {% endif %}

    {% endblock %}

{% endblock %}

{% block footer %}
{% endblock %}

