{% extends "frontend/master.html" %}
{% load i18n common_tags utils_tags %}

{% block header_files %}
{% endblock %}

{% block extra_files %}
{% endblock %}

{% block row_fluid %}
{% endblock %}

{% block header %}
{% endblock %}

{% block newfies_custom_js %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block container %}
    {% block content %}

        {% if err_msg %}
            {% include "frontend/extra_modal_header.html" %}
            <script type="text/javascript">
                $(window).load(function(){
                    $('#section-modal').modal('show');
                });
                function back_to(){
                    var url = '/module/survey/' + '{{ survey_id }}'  + '/#row{{ section_id }}';
                    $(location).attr('href', url);
                }
                $(function () {
                    $('#helpover').popover();
                });
            </script>
            <!-- modal content-->
            <div class="modal fade" id="section-modal" role="dialog" aria-labelledby="section_modal" data-backdrop="static">
        {% endif %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="id_close_x" type="button" class="close" data-dismiss="modal" aria-hidden="true" {% if err_msg %}onclick="back_to();"{% endif %}>&times;</button>
                    <h4>
                        {% if action == 'update' %}
                            {% trans "update"|title %}
                        {% else %}
                            {% trans "add"|title %}
                        {% endif %} {% trans "section"|title %}
                    </h4>
                </div>

                <!-- Form to update or add new section -->
                <form method="POST" role="form" action="{% if action == 'update' %}/section/{{ section_id }}/{% else %}/section/add/?survey_id={{ survey_id }}{% endif %}" enctype="multipart/form-data" id="update_form">
                    {% csrf_token %}
                    {{ form.survey }}

                    <div class="modal-body">
                    <!-- modal content-->

                        <div class="row">
                            {% if form.type %}
                                {% field_html_code form.type 'col-md-10 col-xs-12' %}
                            {% endif %}
                        </div>

                        {% if form.type.value|convert_to_int == SECTION_TYPE.MULTI_CHOICE or form.type.value|convert_to_int == SECTION_TYPE.RATING_SECTION or form.type.value|convert_to_int == SECTION_TYPE.CAPTURE_DIGITS or form.type.value|convert_to_int == SECTION_TYPE.CONFERENCE %}

                            <div class="row">
                                {% if form.retries %}
                                    {% field_html_code form.retries 'col-md-6 col-xs-10' %}
                                {% endif %}
                                {% if form.timeout %}
                                    {% field_html_code form.timeout 'col-md-6 col-xs-10' %}
                                {% endif %}
                            </div>

                        {% endif %}

                        <div class="row">
                            <div class="col-md-8 col-xs-12">
                                <div class="form-group {% if form.question.errors %}has-error{% endif %}">
                                    <label class="control-label" for="{{ form.question.auto_id }}">
                                        {% if form.type.value|convert_to_int == SECTION_TYPE.MULTI_CHOICE or form.type.value|convert_to_int == SECTION_TYPE.RATING_SECTION or form.type.value|convert_to_int == SECTION_TYPE.CAPTURE_DIGITS %}
                                            {% trans "question"|capfirst %}
                                        {% else %}
                                            {% trans "section title"|capfirst %}
                                        {% endif %}
                                    </label>
                                    {{ form.question }}
                                    {% if form.question.errors %}
                                        <span class="help-block">
                                            {{ form.question.errors|removetags:"ul li"|safe }}
                                        </span>
                                    {% endif %}
                                    <span class="help-block">
                                        {{ form.question.help_text|capfirst }}
                                    </span>
                                </div>
                            </div>
                            <!--Audio field while updating section-->
                            <div class="col-md-4 col-xs-12">
                                <div class="form-group {% if form.audiofile.errors %}has-error{% endif %}">
                                    <label class="control-label" for="{{ form.audiofile.auto_id }}">{{ form.audiofile.label|title }}</label>

                                    {{ form.audiofile }}&nbsp;
                                    <a href="#" id="helpover" rel="popover" data-placement="top" data-content="{% blocktrans %}If an audio file is not selected, the script will be played using Text-To-Speech{% endblocktrans %}" data-original-title="{% trans "information"|title %}"><i class="icon-info-sign"></i></a>
                                    {% if form.audiofile.errors %}
                                        <span class="help-block">{{ form.audiofile.errors|removetags:"ul li"|safe }}</span>
                                    {% endif %}
                                    <span class="help-block">
                                    {{ form.audiofile.help_text|capfirst }}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!--Multiple choice Section form-->
                        {% if form.type.value|convert_to_int == SECTION_TYPE.MULTI_CHOICE %}
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    {% trans "configure valid multi-choice options. The value of each field will be shown in the survey report"|capfirst %}
                                </div>
                            </div>
                            <div class="row">
                                {% get_fieldset key_0,key_1,key_2,key_3,key_4,key_5,key_6,key_7,key_8,key_9 as key_fields from form %}
                                {% for field in key_fields.visible_fields %}
                                    {% field_html_code field 'col-xs-2' False False %}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <!--Rating Section form-->
                        {% if form.type.value|convert_to_int == SECTION_TYPE.RATING_SECTION %}
                            <div class="row">
                                {% if form.rating_laps %}
                                    {% field_html_code form.rating_laps 'col-md-3 col-xs-3' %}
                                {% endif %}
                            </div>
                        {% endif %}

                        <!--Enter number Section form-->
                        {% if form.type.value|convert_to_int == SECTION_TYPE.CAPTURE_DIGITS %}
                            <div class="row">
                                <div class="col-md-4 col-xs-12 ">
                                    <div class="form-group">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label for="{{ form.validate_number.auto_id }}">{{ form.validate_number.label|capfirst }}</label><br/>
                                            <div class="make-switch switch-small">
                                            {{ form.validate_number }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                {% if form.number_digits %}
                                    {% field_html_code form.number_digits 'col-md-6 col-xs-10' %}
                                {% endif %}

                                {% if form.min_number %}
                                    {% field_html_code form.min_number 'col-md-3 col-xs-10' %}
                                {% endif %}

                                {% if form.max_number %}
                                    {% field_html_code form.max_number 'col-md-3 col-xs-10' %}
                                {% endif %}
                            </div>
                        {% endif %}

                        <!--Call transfer Section form-->
                        {% if form.type.value|convert_to_int == SECTION_TYPE.CALL_TRANSFER %}
                            <div class="row">
                                {% if form.phonenumber %}
                                    {% field_html_code form.phonenumber 'col-md-6 col-xs-12' %}
                                {% endif %}
                            </div>
                        {% endif %}

                        <!--Conference Section form-->
                        {% if form.type.value|convert_to_int == SECTION_TYPE.CONFERENCE %}
                            <div class="row">
                                {% if form.conference %}
                                    {% field_html_code form.conference 'col-md-6 col-xs-10' %}
                                {% endif %}
                            </div>
                        {% endif %}


                        <!--SMS Section form-->
                        {% if form.type.value|convert_to_int == SECTION_TYPE.SMS %}
                            <div class="row">
                                {% if form.sms_text %}
                                    {% field_html_code form.sms_text 'col-md-10 col-xs-10' %}
                                {% endif %}
                            </div>
                        {% endif %}

                        <!--Survey complete field -->
                        <div class="row">
                            <div class="col-md-6 col-xs-10">
                                <label for="{{ form.completed.auto_id }}">
                                    {% trans "completed"|capfirst %}
                                </label><br/>
                                <div class="make-switch switch-small">
                                {{ form.completed }}
                                </div>
                            </div>
                        </div>

                        <!--invalid_audiofile-->
                        {% if form.type.value|convert_to_int == SECTION_TYPE.MULTI_CHOICE or form.type.value|convert_to_int == SECTION_TYPE.RATING_SECTION %}
                            <div class="row">
                                {% if form.invalid_audiofile %}
                                    {% field_html_code form.invalid_audiofile 'col-md-8 col-xs-10' %}
                                {% endif %}
                            </div>

                        {% endif %}
                        </div>

                    <div class="modal-footer" align="right">
                        {% if action == 'update' %}
                            <button type="submit" id="id_update" name="update" class="btn btn-primary" value="update">
                                <i class="fa fa-edit fa-lg"></i> {% trans "update"|title %}
                            </button>
                        {% else %}
                            <button type="submit" id="id_add" name="add" class="btn btn-primary" value="{% trans 'save'|title %}">
                                <i class="fa fa-save fa-lg"></i> {% trans "save"|title %}
                            </button>
                        {% endif %}

                        <button id="id_close" type="button" class="btn btn-default" data-dismiss="modal" {% if err_msg %}onclick="back_to();"{% endif %}>{% trans "close"|title %}</button>
                    </div>
                </form>
            </div>
        </div>

        {% if err_msg %}
            </div>
        {% endif %}

    {% include "frontend/extra_modal_footer.html" %}

    {% endblock %}

    {% block footer %}
    {% endblock %}

{% endblock %}
