{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{% trans "API" %} {% trans "browser"|capfirst %}</title>

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}newfies/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
    }
    </style>
    <link href="{{ STATIC_URL }}newfies/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <!--Override bootstrap-->
    <link href="{{ STATIC_URL }}newfies/css/override_bootstrap.css" rel="stylesheet">

    <!-- jquery UI css -->
    <link type="text/css" href="{{ STATIC_URL }}newfies/css/jquery-ui-bootstrap/jquery-ui-1.8.16.custom.css" rel="stylesheet">
    <!-- Le javascript -->
    <script type="text/javascript" src="{{ STATIC_URL }}newfies/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}newfies/bootstrap/js/bootstrap.js"></script>

    <!-- Newfies custom css -->
    <link type="text/css" media="screen" href="{{ STATIC_URL }}newfies/css/newfies_custom.css" rel="stylesheet"/>

    <link rel="stylesheet" href="{{ STATIC_URL }}api_browser/css/h5bp.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}api_browser/css/screen.css">
    <style type="text/css">
    body {
        color: black;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 20px;
    }
    .container {
        width: 940px;
    }
    </style>

</head>
<body>
    {% block menu %}
        {% include "frontend/bootstrap_menu.html" %}
    {% endblock %}

    <ul class="breadcrumb">
        <li><a href="/api-explorer/"> {% trans "API" %} {% trans "explorer"|capfirst %}</a> /</li>
        <li class="active">{{ schema.title|title }} {% trans "API" %} {% trans "playground"|title %}</li>
    </ul>

    {% block container %}
        <div class="container">

            <!--<div class="page-header">
                <h1>{{ schema.title }}</h1>
            </div>-->

            {% block content %}
            {% endblock %}

            {% block footer %}{% endblock %}
        </div>
    {% endblock %}
</body>


<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}' +
        'api_browser/js/jquery-1.7.1.min.js"><\/script>')</script>
<script src="{{ STATIC_URL }}api_browser/js/jquery.class.min.js"></script>
<script src="{{ STATIC_URL }}api_browser/js/jquery.rest-form.js"></script>
<script src="{{ STATIC_URL }}api_browser/js/jquery.form2json.js"></script>
<script src="{{ STATIC_URL }}api_browser/js/app.js"></script>
{% block javascripts %}{% endblock %}
</html>
