{% extends "frontend/master.html" %}
{% load i18n crispy_forms_tags %}

{% block header_files %}
{% endblock %}

{% block extra_files %}
{% endblock %}

{% block row_fluid %}
{% endblock %}

{% block header %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block container %}
    {% block content %}

        {% if err_msg %}
            {% include "frontend/extra_modal_header.html" %}
            {% include "frontend/extra_modal_footer.html" %}
            <script type="text/javascript" charset="utf-8">
                $(window).load(function(){
                    $('#campaign-duplicate').modal('show');
                });
                function back_to(){
                    var url = '/campaign/';
                    $(location).attr('href', url);
                }
            </script>
            <!-- modal content-->
            <div class="modal fade" id="campaign-duplicate" role="dialog" aria-labelledby="campaign_duplicate" data-backdrop="static">
        {% endif %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a id="id_close_x" class="close" data-dismiss="modal" {% if err_msg %}onclick="back_to();"{% endif %}>&times;</a>
                    <h3>{% trans "campaign"|title %}
                        <small></small>
                    </h3>
                </div>
                <form role="form" method="POST" action="/campaign_duplicate/{{ campaign_id }}/" enctype="multipart/form-data" id="update_form">
                    <div class="modal-body">
                        {% crispy form form.helper %}
                    </div>

                    <div class="modal-footer" align="right">
                        <button type="submit" class="btn btn-primary" id="id_add" name="add" value="{% trans 'save'|title %}">
                            <i class="fa fa-save"></i> {% trans "save"|title %}
                        </button>
                        <button id="id_close" type="button" class="btn btn-default" data-dismiss="modal" {% if err_msg %}onclick="back_to();"{% endif %}>{% trans "close"|title %}</button>
                    </div>
                </form>
            </div>
        </div>
    {% if err_msg %}
        </div>
    {% endif %}

    {% endblock %}

{% endblock %}

{% block footer %}
{% endblock %}
