*.pyc
*dilla*
*.db
*nbproject*
*devserver*
*.idea*
*.egg
test.db
newfies/settings_local.py
docs/build/*
contact_*.txt
TEST
newfies/usermedia/tts/*.*
newfies/usermedia/recording/*.*
build/
dist/
coverage_info
output.html
amd*.lua
*.log
lua/tts/*.wav
lua/tts/*.mp3
lua/tts/*.txt
lua/*amd*
acapela*.lua
*.ipynb
bower_components
