global-exclude *.pyc

include README.rst
include COPYING
include newfies/django.wsgi
include install/conf/requirements.txt

recursive-include newfies *
    
exclude newfies/__init__.py
exclude newfies/settings.py
exclude newfies/manage.py