{% load i18n crispy_forms_tags %}
{% if msg_number %}
    <br/>
    <div class="alert alert-success">
        <strong>{% trans "alert"|title %} : </strong>  {{ msg_number|capfirst }}
    </div>
{% endif %}
{% if error_number %}
    <br/>
    <div class="alert alert-danger">
        <strong>{% trans "alert"|title %} : </strong>  {{ error_number|capfirst }}
    </div>
{% endif %}

<br/>

<form class="well" action="" method="post">
    {% crispy check_phone_no_form check_phone_no_form.helper %}
    <div class="row">
        <div class="col-md-12 text-right">
            <input type="hidden" name="action" value="tabs-4" />
            <input type="hidden" name="form-type" value="check-number" />
            <input type="submit" class="btn btn-primary" value="{% trans 'check'|title %}" />
        </div>
    </div>
</form>
