{% load i18n utils_tags %}
{% if msg_number %}
    <br/>
    <div class="alert alert-success">
        <strong>{% trans "alert"|title %} : </strong>  {{ msg_number|capfirst }}
    </div>
{% endif %}
{% if error_number %}
    <br/>
    <div class="alert alert-danger">
        <strong>{% trans "alert"|title %} : </strong>  {{ error_number|capfirst }}
    </div>
{% endif %}

<br/>

<form class="well" action="" method="post">{% csrf_token %}
    {% for field in check_phone_no_form %}
        <div class="row">
            {% field_html_code field 'col-md-3 col-xs-8' %}
        </div>
    {% endfor %}
    <div class="text-right">
        <input type="hidden" name="action" value="tabs-5" />
        <input type="hidden" name="form-type" value="check-number" />
        <input type="submit" class="btn btn-primary" value="{% trans 'check'|title %}" />
    </div>
</form>
