{% load i18n utils_tags %}
{% if msg_detail %}
    <br/>
    <div class="alert alert-success">
        <strong>{% trans "alert"|title %} : </strong>  {{ msg_detail|capfirst }}
    </div>
{% endif %}

{% if error_detail %}
    <br/>
    <div class="alert alert-danger">
        <strong>{% trans "alert"|title %} : </strong>  {{ error_detail|capfirst }}
    </div>
{% endif %}
<br/>

<form class="well" role="form" action="" method="post">{% csrf_token %}
    <div class="row">
    {% for field in user_detail_form %}
        {% field_html_code field %}
    {% endfor %}
    </div>
    <div class="row">
    {% for field in user_detail_extened_form %}
        {% field_html_code field %}
    {% endfor %}
    </div>
    <div class="text-right">
        <input type="hidden" name="action" value="tabs-1" />
        <input type="hidden" name="form-type" value="change-detail" />
        <input type="submit" class="btn btn-primary" value="{% trans 'change detail'|title %}" />
    </div>
</form>
