{% extends "frontend/master.html" %}
{% load i18n utils_tags %}

{% block extra_files %}
    <style type="text/css">
    .add {
        background:transparent url('{{ STATIC_URL }}newfies/icons/add.png') no-repeat scroll left center;
        padding:1px 1px 1px 20px;
    }
    </style>
{% endblock %}

{% block content_header %}
    <h1>
        {% if action == 'update' %}
            {% trans "update"|title %}
        {% else %}
            {% trans "add"|title %}
        {% endif %} {% trans "DNC" %} {% trans "contact"|title %}
        <small>{% trans "add DNC contact details"|capfirst %}</small>
    </h1>
{% endblock %}

{% block content %}

<form class="well" role="form" method="POST" action="." enctype="multipart/form-data">{% csrf_token %}

    {% for field in form %}
    <div class="row">
        {% field_html_code field '' 'col-xs-6' %}
    </div>
    {% endfor %}
    {% include "frontend/common_submit_buttons.html" %}
</form>

{% endblock %}
