{% extends "frontend/master.html" %}
{% load i18n crispy_forms_tags %}

{% block content_header %}
    <h1>{% trans "import DNC contacts"|capfirst %} <small>{% trans "import list of DNC contacts by uploading CSV files"|capfirst %}</small></h1>
{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed">
    <caption><h3>{% trans "sample file"|title %}</h3></caption>
    <thead>
    <tr>
        <th>{% trans "contact number"|title %}</th>
    </tr>
    </thead>
    <tr>
        <td>650784355</td>
    </tr>
    <tr>
        <td>650723032</td>
    </tr>
    </table>
</div>

<br/>

{% crispy form form.helper %}

{% if success_import_list %}
<div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th>{% trans "DNC contact(s) imported (display max 100)" %} :</th>
        </tr>
        {% for row in success_import_list %}
        <tr>
            <td>
                {{ row }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

{% if type_error_import_list %}
<br/>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th>{% trans "type mismatch"|title %} :</th>
        </tr>
        {% for row in type_error_import_list %}
        <tr>
            <td>
                {{ row }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

{% endblock %}
