{% extends "frontend/master.html" %}
{% load i18n common_tags pagination_tags crispy_forms_tags %}

{% block content_header %}
    <h1>{% trans "DNC" %} {% trans "contacts"|title %} <small>{% trans "list, add and edit Do Not Call contacts"|capfirst %}</small></h1>
{% endblock %}

{% block content %}
<div id="form_collapse" class="collapse">
    {% crispy form form.helper %}
</div>
{% include "frontend/common_search_toggle_button.html" %}
<div>&nbsp;</div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {% trans "action"|capfirst %} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% if perms.dnc.delete_dnccontact %}
                    <li><a href="#" onclick="delete_button()">{% trans "delete selected"|title %}</a></li>
                {% endif %}
                <li>
                    <a href="export_view/">{% trans "DNC" %} {% trans "export"|capfirst %}</a>
                </li>
            </ul>
        </div>
        {% if perms.dnc.add_dnccontact %}
            <button type="button" class="btn btn-info" onclick="add_button()">
                <i class="fa fa-plus"></i> {% trans "add"|title %}
            </button>
        {% endif %}
    </div>
</div>

<br/>

<div class="row">
    <div class="col-md-12">
        <form method="POST" role="form" action="del/0/" enctype="multipart/form-data" id="ListForm">{% csrf_token %}
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th><input type="checkbox" onclick="toggleChecked(this.checked)"></th>
                        <th>{% sort_link DNC_CONTACT_COLUMN_NAME.id|capfirst col_name_with_order.id %}</th>
                        <th>{% sort_link DNC_CONTACT_COLUMN_NAME.dnc|capfirst col_name_with_order.dnc %}</th>
                        <th>{% sort_link DNC_CONTACT_COLUMN_NAME.phone_number|capfirst col_name_with_order.phone_number %}</th>
                        <th>{% sort_link DNC_CONTACT_COLUMN_NAME.date|capfirst col_name_with_order.updated_date %}</th>
                        <th>{% trans 'action'|capfirst %}</th>
                    </tr>
                    </thead>
                    {% if phone_number_list %}
                        {% autopaginate all_phone_number_list newfies_page_size %}
                        {% for row in phone_number_list %}
                            <tr>
                                <td><input type="checkbox" name="select" class="checkbox" value="{{ row.id }}" /></td>
                                <td>{{ row.id }}</td>
                                <td>{{ row.dnc__name }}</td>
                                <td>{{ row.phone_number }}</td>
                                <td>{{ row.updated_date }}</td>
                                <td>
                                    {% if perms.dnc.change_dnccontact %}
                                        <a href="{{ row.id }}/" title="{% trans 'update DNC contact'|title %}"><i class="fa fa-edit"></i></a>
                                    {% endif %}
                                    {% if perms.dnc.delete_dnccontact %}
                                        <a id="id_delete_confirm" href="del/{{ row.id }}/" title="{% trans 'delete DNC contact'|title %}"><i class="fa fa-trash-o"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6" align="center">
                                {% trans "no records found"|title %}
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </div>
            <div class="text-right">
                {% trans "total"|title %} : {{ total_phone_numbers }}
            </div>
            {% if phone_number_list %}
                {% paginate %}
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
