{% extends "frontend/master.html" %}
{% load dialer_cdr_extras i18n icons %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

<div class="login" align="center">

{% if validlink %}
<center>{% trans 'Enter new password' %}</center>
<div>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</div>

<form action="" method="post">{% csrf_token %}
<div>{{ form.new_password1.errors }} </div>
<div align=left>{{ form.new_password1.label }}: {{ form.new_password1 }} </div>
<div>{{ form.new_password2.errors }}</div>
<div align=left>{{ form.new_password2.label }}: {{ form.new_password2 }}</div>
<div><input type="submit" value="{% trans 'Change my password' %}" /></div>
</form>

{% else %}

<center>{% trans 'Password reset unsuccessful' %}</center>
<br/>

<div>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</div>

{% endif %}

</div>
{% endblock %}
