{% load i18n %}

{% if msg_note %}
    <div class="alert alert-success">
        <strong>{% trans "Alert" %} : </strong>  {{ msg_note }}
    </div>
{% endif %}

<form method="POST" action="del/0/" enctype="multipart/form-data" id="ListForm">
    {% csrf_token %}
    <input type="hidden" name="action" value="tabs-3" />
    <input type="hidden" name="form-type" value="notification_list" />
    <table id="flex1" align="left" style="display:none;"></table>
</form>

<script type="text/javascript">

    $("#flex1").flexigrid({
        url: "/notification_grid/",
        method: 'GET',
        dataType: 'json',
        colModel : [
            {display: '<input type="checkbox" onclick="toggleChecked(this.checked)">', name: '', width: 50, align: 'center'},
            {display: '{% trans "Message" %}', name: 'message', width: 300, sortable: true, align: 'center'},
            {display: '{% trans "Notification type" %}', name: 'notice_type', width: 300, sortable: true, align: 'center'},
            {display: '{% trans "Sender" %}', name: 'sender', width: 100, sortable: true, align: 'center'},
            {display: '{% trans "Date" %}', name: 'added', width : 250, align: 'center'},
            {display: '{% trans "Action" %}', name: '', width : 100, align: 'center', formatter:'showlink', formatoptions:{baseLinkUrl:'', }, },
        ],
        buttons : [
            {name: '{% trans "Delete notifications" %}', bclass: 'delete', onpress : delete_button},
            {separator: true},
            {name: '{% trans "Mark as read" %}', bclass: 'add', onpress : make_read_button},
            {separator: true},
            {name: '{% trans "Mark all as read" %}', bclass: 'add', onpress : mark_read_all_button},
        ],
        sortname: "id",
        sortorder: "desc",
        usepager: true,
        title: '{% trans "Notification" %}',
        useRp: true,
        rp: 10,
        showTableToggleBtn: true,
        //width: 900,
        height: 265,
        pagetext: '{% trans "Page" %}',
        outof: '{% trans "of" %}',
        nomsg: '{% trans "No items" %}',
        procmsg: '{% trans "Processing, please wait ..." %}',
        pagestat: '{% trans "Displaying" %} {from} {% trans "to" %} {to} {% trans "of" %} {total} {% trans "items" %}',
        //preProcess: formatContactResults,
        onSuccess: function(data){
            //alert(data);
        },
        onError: function(){
            alert("Request failed");
        },
    });

    function make_read_button()
    {
        $('<input>').attr({
            type: 'hidden',
            id: 'id_mark_read',
            name: 'mark_read',
            value: 'true',
        }).appendTo('#ListForm');

        $('#ListForm').submit();
    }
    function delete_button()
    {
        $('<input>').attr({
            type: 'hidden',
            id: 'id_mark_read',
            name: 'mark_read',
            value: 'false',
        }).appendTo('#ListForm');

        $('#ListForm').submit();
    }
    function mark_read_all_button()
    {
        window.location.replace("/user_detail_change/?action=tabs-3&notification=mark_read_all");
    }
</script>