{% load i18n %}
{% if dialer_set %}
<div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <td>{% trans "maximum calls per minute"|title %}</td>
            <td>{{ dialer_set.max_frequency }}</td>
        </tr>
        <tr>
            <td>{% trans "maximum call duration"|title %}</td>
            <td>{{ dialer_set.callmaxduration }}</td>
        </tr>
        <tr>
            <td>{% trans "maximum retries"|title %}</td>
            <td>{{ dialer_set.maxretry }}</td>
        </tr>
        <tr>
            <td>{% trans "timeout"|title %}</td>
            <td>{{ dialer_set.max_calltimeout }}</td>
        </tr>
        <tr>
            <td>{% trans "maximum campaigns"|title %}</td>
            <td>{{ dialer_set.max_cpg }}</td>
        </tr>
        <tr>
            <td>{% trans "maximum subscribers per campaign"|title %}</td>
            <td>{{ dialer_set.max_subr_cpg }}</td>
        </tr>
        <tr>
            <td>{% trans "maximum number of contact per user"|title %}</td>
            <td>{{ dialer_set.max_contact }}</td>
        </tr>
        <tr>
            <td>{% trans "whitelist"|title %}</td>
            <td>{{ dialer_set.whitelist }}</td>
        </tr>
        <tr>
            <td>{% trans "blacklist"|title %}</td>
            <td>{{ dialer_set.blacklist }}</td>
        </tr>
        <tr>
            <td>{% trans "maximum SMS per minute"|capfirst %}</td>
            <td>{{ dialer_set.sms_max_frequency }}</td>
        </tr>
        <tr>
            <td>{% trans "maximum SMS retries"|capfirst %}</td>
            <td>{{ dialer_set.sms_maxretry }}</td>
        </tr>
        <tr>
            <td>{% trans "maximum SMS campaigns"|capfirst %}</td>
            <td>{{ dialer_set.sms_max_number_campaign }}</td>
        </tr>
        <tr>
            <td>{% trans "maximum subscribers per SMS campaign"|capfirst %}</td>
            <td>{{ dialer_set.sms_max_number_subscriber_campaign }}</td>
        </tr>
    </table>
</div>
{% endif %}