{% extends "frontend/master.html" %}
{% load dialer_cdr_extras i18n icons %}

{% block title %}
{% trans 'User Detail Change' %}
{% endblock %}


{% block extra_files %}
{% endblock %}

{% block content %}
<script>
$(function() {
	$( "#tabs" ).tabs().tabs("select", {{ selected }});
});
</script>


<div class="demo">

<div id="tabs" style="width:600px;">
	<ul>
		<li><a href="#tabs-1">{% trans "Account" %}</a></li>
		<li><a href="#tabs-2">{% trans "Password" %}</a></li>
		<li><a href="#tabs-3">{% trans "Notifications" %}</a></li>
	</ul>
	<div id="tabs-1">
        {% if msg_detail %}
        <div class="success">                
                <strong>{% trans "Alert" %} : </strong>  {{ msg_detail }}
        </div>
        {% endif %}
        {% if error_detail %}
        <div class="error">
                <span class="ui-icon ui-icon-alert" style="float: left; margin-right: 0.3em;"></span>
                <strong>{% trans "Alert" %} : </strong>  {{ error_detail }}
        </div>
        {% endif %}
        <br/>
        <form action="" method="post">{% csrf_token %}
            <table align=center border=1>
                {{ user_detail_form.as_table }}
                <tr>
                <td colspan=2 align=right>
                    <input type="hidden" name="form-type" value="change-detail" />
                    <input type="submit" value="{% trans 'Change detail' %}" />
                </td>
                </tr>
            </table>
        </form>
	</div>
	<div id="tabs-2">
        {% if msg_pass %}
        <div class="success">                
                <strong>{% trans "Alert" %} : </strong>  {{ msg_pass }}
        </div>
        {% endif %}
        {% if error_pass %}
        <div class="error">
                <span class="ui-icon ui-icon-alert" style="float: left; margin-right: 0.3em;"></span>
                <strong>{% trans "Alert" %} : </strong>  {{ error_pass }}
        </div>
        {% endif %}
        <br/>
        <form action="" method="post">{% csrf_token %}
            <table align=center border=1>
                {{ user_password_form.as_table }}
                <tr>
                <td colspan=2 align=right>
                    <input type="hidden" name="form-type" value="change-password" />
                    <input type="submit" value="{% trans 'Change password' %}" />
                </td>
                </tr>
            </table>
        </form>
	</div>
	<div id="tabs-3">
        <table id="rounded-corner" style="width:550px;">
        <thead>
        <tr>
            <th class="rounded-company">{% trans "ID" %}</th>
            <th class="rounded-q1">{% trans "Message" %}</th>
            <th class="rounded-q2">{% trans "Notification type" %}</th>
            <th class="rounded-q3">{% trans "Sender" %}</th>
            <th class="rounded-q3">{% trans "Notification date" %}</th>
            <th class="rounded-q4">{% trans "Status" %}</th>
        </tr>
        </thead>
		{% if user_notification %}
            {% for note in user_notification %}
            <tr>
                <td>{{ note.id }}<!--<a href="../view_notification/{{ note.id }}/"></a>--></td>
                <td>{{ note.message }}</td>
                <td>{{ note.notice_type }}</td>
                <td>{{ note.sender }}</td>
                <td>{{ note.added|timesince }}</td>
                <td>
                    {% if note.unseen == 1 %}
                        <a href='../update_notice_status_cust/{{ note.id }}/' title="Unseen" {% icon 'new' %}>&nbsp;</a>
                    {% else %}
                        <a href='../update_notice_status_cust/{{ note.id }}/' title="Seen" {% icon 'tick' %}>&nbsp;</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan=4 align=center>{% trans "No Record(s) found." %}</td></tr>
        {% endif %}
       </table>
	</div>
</div>

</div><!-- End demo -->

{% endblock %}
