{% extends "frontend/master.html" %}
{% load i18n %}

{% block content_header %}
    <h1>{% trans "settings"|title %} <small>{% trans "Password, account limits, phone number verification and language"|capfirst %}</small></h1>
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
    <li class="{% if action == 'tabs-1' %}active{% endif %}"><a href="#tabs-1" data-toggle="tab">{% trans "account"|title %}</a></li>
    <li class="{% if action == 'tabs-2' %}active{% endif %}"><a href="#tabs-2" data-toggle="tab">{% trans "password"|title %}</a></li>
    <li class="{% if action == 'tabs-3' %}active{% endif %}"><a href="#tabs-3" data-toggle="tab">{% trans "account limits"|title %}</a></li>
    <li class="{% if action == 'tabs-4' %}active{% endif %}"><a href="#tabs-4" data-toggle="tab">{% trans "verify number"|title %}</a></li>
    <li class="{% if action == 'tabs-5' %}active{% endif %}"><a href="#tabs-5" data-toggle="tab">{% trans "language"|title %}</a></li>
</ul>
<div class="tab-content">

	<div id="tabs-1" class="tab-pane {% if action == 'tabs-1' %}active{% endif %}">
        {% include "frontend/registration/user_account.html" %}
    </div>

    <div id="tabs-2" class="tab-pane {% if action == 'tabs-2' %}active{% endif %}">
        {% include "frontend/registration/user_change_password.html" %}
    </div>

    <div id="tabs-3" align="left" class="tab-pane {% if action == 'tabs-3' %}active{% endif %}">
        <div>&nbsp;</div>
        {% include "frontend/registration/user_dialer_settings.html" %}
    </div>

    <div id="tabs-4" align="left"  class="tab-pane {% if action == 'tabs-4' %}active{% endif %}">
        {% include "frontend/registration/check_user_phone_number.html" %}
	</div>

    <div id="tabs-5" align="left" class="tab-pane {% if action == 'tabs-5' %}active{% endif %}">
        <div>&nbsp;</div>
        <form class="well" role="form" action="/i18n/setlang/" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3 col-xs-8">
                        <label>{% trans "change the language"|capfirst %}</label>
                        <select name="language" id="language-container" class="form-control">
                            {% for lang in LANGUAGES %}
                            <option value="{{ lang.0 }}" {% ifequal lang.0 LANGUAGE_CODE %}selected{% endifequal %}>{{ lang.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>


<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".tabs").tabs();
    });

  $(function () {
    $('.tabs a:last').tab('show');
  })
</script>

{% endblock %}
