{% load i18n %}
{% if dialer_set %}
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <td>{% trans "Maximum calls per minute" %}</td>
            <td>{{ dialer_set.max_frequency }}</td>
        </tr>
        <tr>
            <td>{% trans "Maximum call duration" %}</td>
            <td>{{ dialer_set.callmaxduration }}</td>
        </tr>
        <tr>
            <td>{% trans "Maximum retries" %}</td>
            <td>{{ dialer_set.maxretry }}</td>
        </tr>
        <tr>
            <td>{% trans "Timeout" %}</td>
            <td>{{ dialer_set.max_calltimeout }}</td>
        </tr>
        <tr>
            <td>{% trans "Maximum campaigns" %}</td>
            <td>{{ dialer_set.max_number_campaign }}</td>
        </tr>
        <tr>
            <td>{% trans "Maximum subscribers per campaign" %}</td>
            <td>{{ dialer_set.max_number_subscriber_campaign }}</td>
        </tr>
        <tr>
            <td>{% trans "Whitelist" %}</td>
            <td>{{ dialer_set.whitelist }}</td>
        </tr>
        <tr>
            <td>{% trans "Blacklist" %}</td>
            <td>{{ dialer_set.blacklist }}</td>
        </tr>
    </table>
{% endif %}