{% extends "frontend/master.html" %}
{% load i18n dialer_cdr_extras %}

{% block extra_files %}
    {% include "common_audiofield.html" %}
{% endblock %}

{% block content_header %}
    <h1>
        {% if action == 'update' %}
            {% trans "Update" %}
        {% else %}
            {% trans "Add" %}
        {% endif %}
        {% trans "Audio Files" %}
        <small>{% trans "Upload audio to be used in Voice applications" %}</small>
    </h1>
{% endblock %}

{% block content %}

<form class="well" method="POST" action="." enctype="multipart/form-data" id="update_form">{% csrf_token %}

    {# audiofield form #}
    {% for field in form %}
    <div class="clearfix{% if field.errors %} error{% endif %}">
        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
        <div class="input">
            {{ field }}
            {% if field.errors %}
                <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span>
            {% endif %}
            <span class="help-block">{{ field.help_text }} </span>
        </div>
    </div>
    {% endfor %}

    <div class="actions">
         {% if action == 'update' %}
            <input id="update" class="btn-primary" type="submit" value="{% trans "Update" %}" />
         {% else %}
            <input id="add" type="submit" class="btn-primary" value="{% trans "Submit" %}" />
         {% endif %}
    </div>

</form>

{% endblock %}
