{% load i18n survey_tags %}

<div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">&times;</a>
    <h3>{% trans "delete section"|title %}</h3>
</div>

<div class="modal-body">
    <p>{% trans "You are about to delete" %} <b>"{{ section_type|section_type_name }}"</b>, {% trans "this procedure is irreversible." %}</p>
    <p>{% trans "Do you want to proceed?" %}</p>
</div>

<div class="modal-footer">
    <a href="/section/delete/{{ section_id }}/?delete=true" class="btn btn-danger">{% trans "yes"|title %}</a>
    <a href="#" class="close btn" data-dismiss="modal">{% trans "no"|title %}</a>
</div>
