{% extends "frontend/master.html" %}
{% load i18n %}

{% block header_files %}
{% endblock %}

{% block extra_files %}
{% endblock %}

{% block row_fluid %}
{% endblock %}

{% block header %}
{% endblock %}

{% block newfies_custom_js %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block container %}

    {% block content %}

    {% if err_msg %}
        {% include "frontend/extra_modal_header.html" %}

        <script type="text/javascript" charset="utf-8">
            $(window).load(function(){
                $('#section-modal').modal('show');
            });
            function back_to(){
                var url = '/module/survey/' + '{{ survey_id }}'  + '/#row{{ section_id }}';
                $(location).attr('href', url);
            }
        </script>
    <!-- modal content-->
    <div class="modal fade" id="section-modal" role="dialog" aria-labelledby="section_modal" data-backdrop="static">

    {% endif %}
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <a id="id_close_x" class="close" data-dismiss="modal" {% if err_msg %}onclick="back_to();"{% endif %}>&times;</a>
                <h3>{% trans "branch to section"|title %}</h3>
            </div>

            <form method="POST" action="{% if action == 'update' %}/section/branch/{{ branching_id }}/{% else %}/section/branch/add/?section_id={{ section_id }}{% endif %}" enctype="multipart/form-data" id="update_form">
            {% csrf_token %}

            {{ form.section }}
            <!--"keys" is hidden for section_type 1 (voice) & 5(record message)-->
            <div class="modal-body">
                {% if section_type != SECTION_TYPE.HANGUP_SECTION and section_type != SECTION_TYPE.DNC %}

                {% if section_type == SECTION_TYPE.PLAY_MESSAGE or section_type == SECTION_TYPE.RECORD_MSG or section_type == SECTION_TYPE.CALL_TRANSFER or section_type == SECTION_TYPE.CONFERENCE or section_type == SECTION_TYPE.SMS %}
                    {{ form.keys }}
                {% else %}
                    <div class="row">
                        <div class="col-md-6">
                            <script type="text/javascript">
                            $(function() {
                                $("#button-anything").on('click', function() {
                                    $("#id_keys").attr('value', 'any');
                                });
                                $("#button-invalid").on('click', function() {
                                    $("#id_keys").attr('value', 'invalid');
                                });
                            });
                            </script>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default">
                                    <input type="radio" name="keys_button" id="button-anything">{% trans "any other key"|title %}
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="keys_button" id="button-invalid"> {% trans "invalid"|title %}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group {% if form.keys.errors %}has-error{% endif %}">
                            <div class="col-xs-6">
                                <label class="control-label" for="{{ form.keys.auto_id }}">{{ form.keys.label|title }}</label>
                                {{ form.keys }}
                                {% if form.keys.errors %}
                                    <span class="help-block">
                                        {{ form.keys.errors }}
                                    </span>
                                {% endif %}
                                <span class="help-block">
                                    {{ form.keys.help_text|safe }}
                                </span>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="form-group {% if form.goto.errors %}has-error{% endif %}">
                        <div class="col-xs-6">
                            <label class="control-label" for="{{ form.goto.auto_id }}">{{ form.goto.label|title }}</label>
                            {{ form.goto }}
                            {% if form.goto.errors %}
                                <span class="help-block">
                                    {{ form.goto.errors|removetags:"ul li"|safe }}
                                </span>
                            {% endif %}
                            <span class="help-block">
                                {{ form.goto.help_text|safe }}
                            </span>
                        </div>
                    </div>
                </div>
                {% else %}

                <div class="row">
                    <div class="col-md-6">
                        <span class="help-block">{% trans "no branching, this will terminate the call"|capfirst %}</span>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="modal-footer">
                {% if section_type != SECTION_TYPE.HANGUP_SECTION and section_type != SECTION_TYPE.DNC %}
                    {% if action == 'update' %}
                        <button type="submit" id="id_update" name="update" class="btn btn-primary" value="update">
                            <i class="fa fa-edit fa-lg"></i> {% trans "update"|title %}
                        </button>
                    {% else %}
                        <button type="submit" id="id_add" name="add" class="btn btn-primary" value="{% trans 'save'|title %}">
                            <i class="fa fa-save fa-lg"></i> {% trans "save"|title %}
                        </button>
                    {% endif %}
                {% endif %}
                <button id="id_close" type="button" class="btn btn-default" data-dismiss="modal" {% if err_msg %}onclick="back_to();"{% endif %}>{% trans "close"|title %}</button>
            </div>
            </form>
        </div>
    </div>

{% if err_msg %}
</div>
{% endif %}

{% include "frontend/extra_modal_footer.html" %}

{% endblock %}

{% block footer %}
{% endblock %}

{% endblock %}
