{% extends "frontend/master.html" %}
{% load i18n common_tags %}

{% block header_files %}
{% endblock %}

{% block extra_files %}
{% endblock %}

{% block row_fluid %}
{% endblock %}

{% block header %}
{% endblock %}

{% block newfies_custom_js %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block container %}
    {% block content %}

        {% if err_msg %}
            {% include "frontend/extra_modal_header.html" %}
            <script type="text/javascript">
                $(window).load(function(){
                    $('#section-modal').modal('show');
                });
                function back_to(){
                    var url = '/module/survey/' + '{{ survey_id }}'  + '/#row{{ section_id }}';
                    $(location).attr('href', url);
                }
                $(function () {
                    $('#helpover').popover();
                });
            </script>
            <!-- modal content-->
            <div class="modal fade" id="section-modal" role="dialog" aria-labelledby="section_modal" data-backdrop="static">
        {% endif %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="id_close_x" type="button" class="close" data-dismiss="modal" aria-hidden="true" {% if err_msg %}onclick="back_to();"{% endif %}>&times;</button>
                    <h4>
                        {% if action == 'update' %}
                            {% trans "update"|title %}
                        {% else %}
                            {% trans "add"|title %}
                        {% endif %} {% trans "section"|title %}
                    </h4>
                </div>

                <!-- Form to update or add new section -->
                <form method="POST" role="form" action="{% if action == 'update' %}/section/{{ section_id }}/{% else %}/section/add/?survey_id={{ survey_id }}{% endif %}" enctype="multipart/form-data" id="update_form">
                    {% csrf_token %}
                    {{ form.survey }}

                    <div class="modal-body">
                    <!-- modal content-->

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group {% if form.type.errors %}has-error{% endif %}">
                                    <div class="col-xs-12">
                                        <label class="control-label" for="{{ form.type.auto_id }}">{{ form.type.label|capfirst }}</label>
                                        {{ form.type }}
                                        {% if form.type.errors %}
                                            <span class="help-block">
                                                {{ form.type.errors|removetags:"ul li"|safe }}
                                            </span>
                                        {% endif %}
                                        <span class="help-block">
                                            {{ form.type.help_text|capfirst }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if form.type.value|convert_to_int == SECTION_TYPE.MULTI_CHOICE or form.type.value|convert_to_int == SECTION_TYPE.RATING_SECTION or form.type.value|convert_to_int == SECTION_TYPE.CAPTURE_DIGITS or form.type.value|convert_to_int == SECTION_TYPE.CONFERENCE %}

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group {% if form.retries.errors %}has-error{% endif %}">
                                        <div class="col-xs-10">
                                            <label class="control-label" for="{{ form.retries.auto_id }}">{{ form.retries.label|capfirst }}</label>
                                            {{ form.retries }}
                                            {% if form.retries.errors %}
                                                <span class="help-block">
                                                    {{ form.retries.errors|removetags:"ul li"|safe }}
                                                </span>
                                            {% endif %}
                                            <span class="help-block">
                                                {{ form.retries.help_text|capfirst }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group {% if form.timeout.errors %}has-error{% endif %}">
                                        <div class="col-xs-10">
                                            <label class="control-label" for="{{ form.timeout.auto_id }}">{{ form.timeout.label|capfirst }}</label>
                                            {{ form.timeout }}
                                            {% if form.timeout.errors %}
                                                <span class="help-block">
                                                    {{ form.timeout.errors|removetags:"ul li"|safe }}
                                                </span>
                                            {% endif %}
                                            <span class="help-block">
                                                {{ form.timeout.help_text|capfirst }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}

                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group {% if form.question.errors %}has-error{% endif %}">
                                    <div class="col-xs-12">
                                        <label class="control-label" for="{{ form.question.auto_id }}">
                                            {% if form.type.value|convert_to_int == SECTION_TYPE.MULTI_CHOICE or form.type.value|convert_to_int == SECTION_TYPE.RATING_SECTION or form.type.value|convert_to_int == SECTION_TYPE.CAPTURE_DIGITS %}
                                                {% trans "question"|capfirst %}
                                            {% else %}
                                                {% trans "section title"|capfirst %}
                                            {% endif %}
                                        </label>
                                        {{ form.question }}
                                        {% if form.question.errors %}
                                            <span class="help-block">
                                                {{ form.question.errors|removetags:"ul li"|safe }}
                                            </span>
                                        {% endif %}
                                        <span class="help-block">
                                            {{ form.question.help_text|capfirst }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--Audio field while updating section-->
                            <div class="col-md-4">
                                <div class="form-group {% if form.audiofile.errors %}has-error{% endif %}">
                                    <div class="col-xs-12">
                                        <label class="control-label" for="{{ form.audiofile.auto_id }}">{{ form.audiofile.label|title }}</label>

                                        {{ form.audiofile }}&nbsp;
                                        <a href="#" id="helpover" rel="popover" data-placement="top" data-content="{% blocktrans %}If an audio file is not selected, the script will be played using Text-To-Speech{% endblocktrans %}" data-original-title="{% trans "information"|title %}"><i class="icon-info-sign"></i></a>
                                        {% if form.audiofile.errors %}
                                            <span class="help-block">{{ form.audiofile.errors|removetags:"ul li"|safe }}</span>
                                        {% endif %}
                                        <span class="help-block">
                                        {{ form.audiofile.help_text|capfirst }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Multiple choice Section form-->
                        {% if form.type.value|convert_to_int == SECTION_TYPE.MULTI_CHOICE %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-xs-12">
                                        {% trans "configure valid multi-choice options. The value of each field will be shown in the survey report"|capfirst %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                {% get_fieldset key_0,key_1,key_2,key_3,key_4,key_5,key_6,key_7,key_8,key_9 as key_fields from form %}
                                {% for field in key_fields.visible_fields %}
                                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                                        <div class="col-xs-2">
                                            <label class="control-label" for="{{ field.auto_id }}">{{ field.label|capfirst }}</label>
                                            {{ field }}
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        <!--Rating Section form-->
                        {% if form.type.value|convert_to_int == SECTION_TYPE.RATING_SECTION %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group {% if form.rating_laps.errors %}has-error{% endif %}">
                                        <div class="col-xs-3">
                                            <label class="control-label" for="{{ form.rating_laps.auto_id }}">{{ form.rating_laps.label|capfirst }}</label>

                                            {{ form.rating_laps }}
                                            {% if form.rating_laps.errors %}
                                                <span class="help-block">{{ form.rating_laps.errors|removetags:"ul li"|safe }}</span>
                                            {% endif %}
                                            <span class="help-block">
                                            {{ form.rating_laps.help_text|capfirst }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <!--Enter number Section form-->
                        {% if form.type.value|convert_to_int == SECTION_TYPE.CAPTURE_DIGITS %}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="col-xs-12 form-group">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label for="{{ form.validate_number.auto_id }}">{{ form.validate_number.label|capfirst }}</label><br/>
                                            <div class="make-switch switch-small">
                                            {{ form.validate_number }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group {% if form.number_digits.errors %}has-error{% endif %}">
                                        <div class="col-xs-10">
                                            <label class="control-label" for="{{ form.number_digits.auto_id }}">{{ form.number_digits.label|capfirst }}</label>
                                            {{ form.number_digits }}
                                            {% if form.number_digits.errors %}
                                                <span class="help-block">
                                                    {{ form.number_digits.errors|removetags:"ul li"|safe }}
                                                </span>
                                            {% endif %}
                                            <span class="help-block">
                                                {{ form.number_digits.help_text|capfirst }}
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group {% if form.min_number.errors %}has-error{% endif %}">
                                        <div class="col-xs-10">
                                            <label class="control-label" for="{{ form.min_number.auto_id }}"> {{ form.min_number.label|capfirst }}</label>
                                            {{ form.min_number }}
                                            {% if form.min_number.errors %}
                                                <span class="help-block">{{ form.min_number.errors|removetags:"ul li"|safe }}</span>
                                            {% endif %}
                                            <span class="help-block">{{ form.min_number.help_text|capfirst|safe }} </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group {% if form.max_number.errors %}has-error{% endif %}">
                                        <div class="col-xs-10">
                                            <label class="control-label" for="{{ form.max_number.auto_id }}"> {{ form.max_number.label|capfirst }}</label>
                                            {{ form.max_number }}
                                            {% if form.max_number.errors %}
                                                <span class="help-block">{{ form.max_number.errors|removetags:"ul li"|safe }}</span>
                                            {% endif %}
                                            <span class="help-block">{{ form.max_number.help_text|capfirst|safe }} </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <!--Call transfer Section form-->
                        {% if form.type.value|convert_to_int == SECTION_TYPE.CALL_TRANSFER %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group {% if form.phonenumber.errors %}has-error{% endif %}">
                                        <div class="col-xs-12">
                                            <label class="control-label" for="{{ form.phonenumber.auto_id }}">{{ form.phonenumber.label|capfirst }}</label>

                                            {{ form.phonenumber }}
                                            {% if form.phonenumber.errors %}
                                                <span class="help-block">{{ form.phonenumber.errors|removetags:"ul li"|safe }}</span>
                                            {% endif %}
                                            <span class="help-block">
                                            {{ form.phonenumber.help_text|capfirst }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <!--Conference Section form-->
                        {% if form.type.value|convert_to_int == SECTION_TYPE.CONFERENCE %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group {% if form.conference.errors %}has-error{% endif %}">
                                        <div class="col-xs-10">
                                            <label class="control-label" for="{{ form.conference.auto_id }}">{{ form.conference.label|capfirst }}</label>
                                            {{ form.conference }}
                                            {% if form.conference.errors %}
                                                <span class="help-block">
                                                    {{ form.conference.errors|removetags:"ul li"|safe }}
                                                </span>
                                            {% endif %}
                                            <span class="help-block">
                                                {{ form.conference.help_text|capfirst }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}


                        <!--SMS Section form-->
                        {% if form.type.value|convert_to_int == SECTION_TYPE.SMS %}
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group {% if form.sms_text.errors %}has-error{% endif %}">
                                        <div class="col-xs-10">
                                            <label class="control-label" for="{{ form.sms_text.auto_id }}">{{ form.sms_text.label|capfirst }}</label>
                                            {{ form.sms_text }}
                                            {% if form.sms_text.errors %}
                                                <span class="help-block">
                                                    {{ form.sms_text.errors|removetags:"ul li"|safe }}
                                                </span>
                                            {% endif %}
                                            <span class="help-block">
                                                {{ form.sms_text.help_text|capfirst }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <!--Survey complete field -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-xs-10">
                                    <label for="{{ form.completed.auto_id }}">
                                        {% trans "completed"|capfirst %}
                                    </label><br/>
                                    <div class="make-switch switch-small">
                                    {{ form.completed }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--invalid_audiofile-->
                        {% if form.type.value|convert_to_int == SECTION_TYPE.MULTI_CHOICE or form.type.value|convert_to_int == SECTION_TYPE.RATING_SECTION %}
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group {% if form.invalid_audiofile.errors %}has-error{% endif %}">
                                        <div class="col-xs-10">
                                            <label class="control-label" for="{{ form.invalid_audiofile.auto_id }}">{{ form.invalid_audiofile.label|capfirst }}</label>
                                            {{ form.invalid_audiofile }}
                                            {% if form.invalid_audiofile.errors %}
                                                <span class="help-block">{{ form.invalid_audiofile.errors|removetags:"ul li"|safe }}</span>
                                            {% endif %}
                                            <span class="help-block">{{ form.invalid_audiofile.help_text|capfirst|safe }} </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                        </div>


                    <div class="modal-footer" align="right">
                        {% if action == 'update' %}
                            <button type="submit" id="id_update" name="update" class="btn btn-primary" value="update">
                                <i class="fa fa-edit fa-lg"></i> {% trans "update"|title %}
                            </button>
                        {% else %}
                            <button type="submit" id="id_add" name="add" class="btn btn-primary" value="{% trans 'save'|title %}">
                                <i class="fa fa-save fa-lg"></i> {% trans "save"|title %}
                            </button>
                        {% endif %}

                        <button id="id_close" type="button" class="btn btn-default" data-dismiss="modal" {% if err_msg %}onclick="back_to();"{% endif %}>{% trans "close"|title %}</button>
                    </div>
                </form>
            </div>
        </div>

        {% if err_msg %}
            </div>
        {% endif %}

    {% include "frontend/extra_modal_footer.html" %}

    {% endblock %}

    {% block footer %}
    {% endblock %}

{% endblock %}
