{% load i18n survey_tags %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal">&times;</a>
            <h3>{% trans "delete section"|title %}</h3>
        </div>

        <div class="modal-body">
            <p>{% trans "you are about to delete"|capfirst %} <b>"{{ section_type|section_type_name }}"</b>, {% trans "this procedure is irreversible." %}</p>
            <p>{% trans "do you want to proceed?"|capfirst %}</p>
        </div>

        <div class="modal-footer">
            <a href="/section/delete/{{ section_id }}/?delete=true" class="btn btn-danger">{% trans "yes"|title %}</a>
            <button id="id_close" type="button" class="btn btn-default" data-dismiss="modal">{% trans "close"|title %}</button>
        </div>
    </div>
</div>