{% extends "frontend/master.html" %}
{% load i18n %}

{% block header_files %}
{% endblock %}

{% block extra_files %}
{% endblock %}

{% block row_fluid %}
{% endblock %}

{% block header %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block container %}

    {% block content %}

        {% if err_msg %}
            {% include "frontend/extra_modal_header.html" %}
            <script type="text/javascript" charset="utf-8">
                $(window).load(function(){
                    $('#section-script-modal').modal('show');
                });
                function back_to(){
                    var url = '/module/survey/' + '{{ survey_id }}'  + '/#row{{ section_id }}';
                    $(location).attr('href', url);
                }
            </script>
        <!-- modal content-->
        <div class="modal fade" id="section-script-modal" role="dialog" aria-labelledby="section_script_modal">
        {% endif %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a id="id_close_x" class="close" data-dismiss="modal" {% if err_msg %}onclick="back_to();"{% endif %}>&times;</a>
                    <h3>{% if action == 'update' %}
                        {% trans "update"|title %}
                    {% else %}
                        {% trans "add"|title %}
                    {% endif %} {% trans "section script"|title %}
                        <small></small>
                    </h3>
                </div>


                <form method="POST" action="/section/script/{{ section_id }}/" enctype="multipart/form-data" id="update_form">
                {% csrf_token %}
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group {% if form.script.errors %}has-error{% endif %}">
                                <div class="col-xs-12">
                                    <label class="control-label" for="{{ form.script.auto_id }}">{{ form.script.label|title }}</label>
                                    {{ form.script }}
                                    {% if form.script.errors %}
                                        <span class="help-block">
                                            {{ form.script.errors|removetags:"ul li"|safe }}
                                        </span>
                                    {% endif %}
                                    <span class="help-block">
                                        {{ form.script.help_text|safe }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" align="right">
                        {% if action == 'update' %}
                            <button type="submit" id="id_update" name="update" class="btn btn-primary" value="update">
                                <i class="fa fa-edit fa-lg"></i> {% trans "update"|title %}
                            </button>
                        {% else %}
                            <button type="submit" id="id_add" name="add" class="btn btn-primary" value="{% trans 'save'|title %}">
                                <i class="fa fa-save fa-lg"></i> {% trans "save"|title %}
                            </button>
                        {% endif %}
                        <button id="id_close" type="button" class="btn btn-default" data-dismiss="modal" {% if err_msg %}onclick="back_to();"{% endif %}>{% trans "close"|title %}</button>
                    </div>

                </form>
            </div>
        </div>
        {% if err_msg %}
            </div>
        {% endif %}

    {% include "frontend/extra_modal_footer.html" %}

    {% endblock %}

    {% block footer %}
    {% endblock %}

{% endblock %}
