{% extends "frontend/master.html" %}
{% load i18n dialer_cdr_tags survey_tags pagination_tags common_tags icons %}

{% block extra_files %}
    {% include "frontend/common_datepicker.html" %}
    {% include "common_audiofield.html" %}
    {% include "frontend/custom_jquery_select_all.html" %}
{% endblock %}

{% block content_header %}
    <h1>{% trans "survey detail report"|title %} <small>{% trans "monitor survey reports"|capfirst %}</small></h1>
{% endblock %}

{% block content %}

<div class="tabbable">
<ul class="nav nav-tabs">
    <li {% if action == "tabs-1" %}class="active"{% endif %}><a href="#tabs-1" data-toggle="tab">{% trans "Survey result"|title %}</a></li>
    <li {% if action == "tabs-2" %}class="active"{% endif %}><a href="#tabs-2" data-toggle="tab">{% trans "Survey calls"|title %}</a></li>
    <li {% if action == "tabs-3" %}class="active"{% endif %}><a href="#tabs-3" data-toggle="tab">{% trans "Survey daily call report"|title %}</a></li>
</ul>

<div id="form_collapse" class="collapse">
    <form class="well" method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
            <div class="span12">
                <div class="row">
                    {% get_fieldset campaign,from_date,to_date as campaign_fields from form %}
                    {% for field in campaign_fields.visible_fields %}
                        <div class="span4 clearfix{% if field.errors %} control-group error{% endif %}">
                            <label for="{{ field.auto_id }}">{{ field.label }}</label>
                            <div class="input">
                                {{ field }}
                                {% if field.errors %}
                                    <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span>
                                {% endif %}
                                <span class="help-block">{{ field.help_text|safe }} </span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <label></label>
        <div class="actions">
            <input type="submit" class="btn btn-primary" name="submit" value="{% trans "submit"|title %}">
        </div>
    </form>
</div>

<a class="btn btn-small" id="toggle_btn" href="#" data-toggle="collapse" data-target="#form_collapse">
    <i class="icon-search"></i> <span>{% trans "search"|title %}</span>
</a>

<div class="tab-content">

    <div id="tabs-1" class="tab-pane {% if action == "tabs-1" %}active{% endif %}">
        <p>&nbsp;</p>

        {% if campaign_obj %}
            <table align="center" class="table table-striped table-bordered table-condensed">
                <thead>
                    <th>{% trans "total contact"|title %}</th>
                    <th>{% trans "Total contact that completed Call / Survey" %}</th>
                </thead>
                <tbody>
                    <td>{{ campaign_obj.totalcontact }}</td>
                    <td>{{ campaign_obj.completed }}</td>
                </tbody>
            </table>
        {% endif %}

        <p>&nbsp;</p>

        {% if survey_result %}
            {# grouping of survey result #}
            {% regroup survey_result by section__question as result %}

            {% for i in result %}
            <table align="center" class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th colspan="4">
                        <center>
                            <h4><em>{% trans "question"|title %}: {{ i.grouper }}</em></h4>
                        </center>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for item in i.list %}
                    <tr>
                        <td class="survey_edit_key"><b>{{ item.response }}</b></td>
                        <td class="survey_edit_key">{{ item.count }}</td>
                        <td class="survey_edit_key">
                            {% percentage_tag item.count i.list|running_total:'count' %}
                        </td>
                        <td>
                            <div class="progress progress-striped">
                                <div class="bar" style="width: {% percentage_tag item.count i.list|running_total:'count' %};"></div>
                            </div>
                        </td>
                    </tr>
                    {% if forloop.last %}
                        <tr>
                            <td class="survey_edit_key"><b>{% trans "total"|title %}:</b></td>
                            <td class="survey_edit_key">{{ i.list|running_total:'count' }}</td>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            {% endfor %}

        {% else %}
            <p>&nbsp;</p>
            <div class="graph_header">{% trans "no record found"|title %}</div>
        {% endif %}
    </div>

    <div id="tabs-2" class="tab-pane {% if action == "tabs-2" or action == "" %}active{% endif %}">
        <div class="graph_header">
            {% trans "survey call detail records"|title %} -
            <b>
                {% if start_date  %}
                    {{ start_date|date:"jS N Y" }}
                {% endif %}
                {% if end_date  %}
                    {% trans "to" %} {{ end_date|date:"jS N Y" }}
                {% endif %}
            </b>
        </div>
        <div class="btn-group">
            <button class="btn">{% trans "action"|title %}</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/export_surveycall_report/">{% trans "Export CSV file" %}</a></li>
            </ul>
        </div>
        <div>&nbsp;</div>
        <table class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th>{% sort_link SURVEY_CALL_RESULT_NAME.date col_name_with_order.starting_date %}</th>
                <th>{% sort_link SURVEY_CALL_RESULT_NAME.destination col_name_with_order.phone_number %}</th>
                <th>{% sort_link SURVEY_CALL_RESULT_NAME.duration col_name_with_order.duration %}</th>
                <th>{{ SURVEY_CALL_RESULT_NAME.disposition }}</th>
                <th>{{ SURVEY_CALL_RESULT_NAME.result }}</th>
            </tr>
            </thead>
            {% if rows %}
                {% autopaginate all_call_list PAGE_SIZE %}
                {% for row in rows %}
                    <tr>
                        <td>{{ row.starting_date }}</td>
                        <td>{{ row.phone_number }}</td>
                        <td>{{ row.duration|conv_min }}</td>
                        <td>{{ row.disposition }}</td>
                        <td>
                            <a href="#survey-campaign-result"  url="/survey_campaign_result/{{ row.id }}/" class="survey-campaign-result icon" data-toggle="modal" data-controls-modal="survey-campaign-result" title="{% trans "Result" %}" >
                                {% trans "view details"|title %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}

            {% else %}
                <tr>
                    <td colspan="9" align="center">
                        {% trans "no record found"|title %}
                    </td>
                </tr>
            {% endif %}
        </table>
        <div align="right" class="show-rows">
            {% trans "total calls"|title %} : {{ call_count }}
        </div>

        {% if rows %}
            {% paginate %}
        {% endif %}

        <!--Section branching change modal-->
        <script type="text/javascript" charset="utf-8">

            $(".survey-campaign-result").live('click', function() {
                var url = $(this).attr('url');
                var modal_id = $(this).attr('data-controls-modal');
                $("#" + modal_id).load(url);
            });

        </script>
        <!-- modal content-->
        <div id="survey-campaign-result" class="modal modal-big hide fade "></div>

    </div>

    <div id="tabs-3" class="tab-pane {% if action == "tabs-3" %}active{% endif %}">
        <div align=center>
            <h3><center>{% trans "call detail report summary"|title %}</center></h3>
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th>{% trans "date"|title %}</th>
                    <th>{% trans "duration"|title %}</th>
                    <th>{% trans "graphic"|title %}</th>
                    <th>{% trans "calls"|title %}</th>
                    <th><acronym title="{% trans "Average Connection Time" %}">{% trans "ACT" %}</acronym></th>
                </tr>
                </thead>
                <tbody>
                {% for td in total_data %}
                    <tr>
                        <td>{{ td.starting_date }}</td>
                        <td>{{ td.duration__sum|conv_min }}</td>
                        <td>{% if max_duration > 0 %}
                            <img src="{{STATIC_URL}}newfies/images/spacer.png" width="{{ td.duration__sum|cal_width:max_duration }}" style="vertical-align:center; height:15px"/>
                        {% endif %}
                        </td>
                        <td>{{ td.starting_date__count }}</td>

                        <td>{{ td.duration__avg|conv_min }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td>{% trans "Total" %}</td>
                    <td>{{ total_duration|conv_min }}</td>
                    <td></td>
                    <td>{{ total_calls }}</td>
                    <td>{{ total_avg_duration|conv_min }}</td>
                </tr>
                </tfoot>
            </table>
        </div>

    </div>
</div>
{% endblock %}
