{% extends "frontend/master.html" %}
{% load dialer_cdr_extras i18n icons %}

{% block content_header %}
    <h1>{% trans "Survey Report" %} <small>{% trans "Monitor survey results" %}</small></h1>
{% endblock %}

{% block content %}
    
{% if msg %}
    <div class="alert alert-success">
        <strong>{% trans "Alert" %} : </strong>  {{ msg }}
    </div>
{% endif %}

{% if err_msg %}
    <div class="alert alert-error">
        <strong>{% trans "Alert" %} : </strong>  {{ err_msg }}
    </div>
{% endif %}

<form class="well form-search" method="POST" action="." enctype="multipart/form-data">
{% csrf_token %}
    {# survey result form #}
    {% for field in form %}
     <div class="clearfix{% if field.errors %} error{% endif %}">
        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
        <div class="input">
            {{ field }}
            {% if field.errors %}
                <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span>
            {% endif %}
            <span class="help-block">{{ field.help_text }} </span>
        </div>
     </div>
     {% endfor %}

     <div class="actions">
         <input type="submit" class="btn-primary" name="submit" value="{% trans "Submit" %}">
     </div>
</form>

{% if survey_result %}
    {# grouping of survey result #}
    {% regroup survey_result by question as result %}

    {% for i in result %}
    <table align="center" class="bordered-table">
        <tr>
            <thead>
                <th colspan=5>{{ i.grouper }}</th>
            </thead>
        </tr>
        <tr>
            <td colspan=5>
            <!--{% for item in i.list %}<td>{{ item.response__count }} contact(s) pressed {{ item.response }}</td>{% endfor %}-->
            <table class="table table-striped table-bordered table-condensed">
            {# survey result will be managed in 5 columns #}
            {% for item in i.list|groupby_columns:5 %}
            <tr>
                {% for obj in item %}
                    {% if obj %}
                        <td>{{ obj.response__count }} contact(s) pressed {{ obj.response }}</td>
                    {% else %}
                        <td>&nbsp;</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
            </table>
            </td>
        </tr>
    </table>
    {% endfor %}
{% endif %}

{% endblock %}
