{% extends "frontend/master.html" %}
{% load i18n dialer_cdr_extras dajaxice_templatetags %}

{% block extra_files %}
    
{% dajaxice_js_import %}

<script src="{{ STATIC_URL }}newfies/js/jquery.dajax.core.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}newfies/js/jquery.ba-serializeobject.js" type="text/javascript"></script>


<script type="text/javascript">
   var initial_que_save = 1;
   var counter_id = (document.getElementById("id_new_que_form") ? document.getElementById("id_new_que_form").value : 0);
   var my_new_que=new Array();
   var arry_count = 0;

   /* to sort question order */
   function temp_call()
   {
       my_new_que[arry_count] = document.getElementById("id").value;
       arry_count++;
   }

   /* to save question */
   function to_call_question_form()
   {
        //Reset for new record
        if(counter_id!=document.getElementById("id_new_que_form").value)
        {
            initial_que_save = 1;
            counter_id=document.getElementById("id_new_que_form").value;
        }

        // initial record save with new form
        if(initial_que_save == 1)
        {
            var id = document.getElementById("id_new_que_form").value;
            question_form(id-1, 0);
            initial_que_save = initial_que_save + 1;
            setTimeout("temp_call()", 400);
        }
        else
        {   // update record with new form after  initial save
            var form_id = document.getElementById("id_new_que_form").value;
            var record_id = document.getElementById("id").value;
            question_form_after_initial_save(form_id-1, record_id, 1);
        }
   }


   function question_form_after_initial_save(id, record_id, form_type)
   {
       //form_type - 0 - new_form / 1 - old_form
       if (form_type==1)
       {
           data = $('#new_survey_que_form_' + id).serializeObject();
           form_type = 'old_form'
       }
       Dajaxice.survey.survey_question_add_update(Dajax.process, {'id': id, 'data': data, 'form_type': form_type, 'after_initial_save':1, 'record_id': record_id});
   }

   function question_form(id, form_type)
   {
       //form_type - 0 - new_form / 1 - old_form
       if (form_type==0)
       {
           data = $('#new_survey_que_form_' + id).serializeObject();
           form_type = 'new_form'
       }
       else
       {
           //data = $('#my_form').serialize(true);
           data = $('#que_form_' + id).serializeObject();           
           form_type = 'old_form'
       }

       Dajaxice.survey.survey_question_add_update(Dajax.process, {'id': id, 'data': data, 'form_type': form_type, 'after_initial_save':0, 'record_id': ''});
   }

   var initial_resp_save = 1;
   var counter_resp_id = (document.getElementById("new_response_id") ? document.getElementById("new_response_id").value : 0);

   function response_form(id, que_id, form_type, is_que_id_set){
       // jQuery
       // If you are using jQuery, you need this form->object serializer
       // https://github.com/cowboy/jquery-misc/blob/master/jquery.ba-serializeobject.js
       // form_type - 0 - new_form / 1 - old_form
       // is_que_id_set 0 - false / 1 - true
       
       //alert($('#response_form_' + id).serializeObject());
       var new_saved_que_id = 0 ;
       if(is_que_id_set==0)
       {
           //que_id=0 survey ques is not saved
           new_saved_que_id = document.getElementById("id").value;

           if(new_saved_que_id > 0)
           {
               que_id = new_saved_que_id; // survey ques is saved
           }
       }
       var new_saved_response_id = 0;
       if (form_type==0)
       {
           data = $('#new_response_form_' + id).serializeObject();
           form_type = 'new_form'

           // initial record save with new form
           if(initial_resp_save == 1)
           {
                new_saved_response_id = 0;
                initial_resp_save++;
           }
           else
           {
               // update record with new form after  initial save
               new_saved_response_id = (document.getElementById("new_response_id")? document.getElementById("new_response_id").value : 0);
           }
       }
       else
       {
           data = $('#response_form_' + id).serializeObject();
           form_type = 'old_form'
       }

       Dajaxice.survey.survey_response_add_update(Dajax.process, {'id': id, 'que_id': que_id, 'data': data, 'form_type': form_type, 'new_response_id': new_saved_response_id});
   }

   // To delete question & its responses
   function question_delete_form(id)
   {
       Dajaxice.survey.survey_question_delete(Dajax.process, {'id': id});
   }

   // To delete responses
   function response_delete_form(id)
   {
       Dajaxice.survey.survey_response_delete(Dajax.process, {'id': id});
   }

   // To sort question
   function question_sort_order(id, sort_order)
   {
       Dajaxice.survey.survey_question_sort(Dajax.process, {'id': id, 'sort_order': sort_order});
   }

   function my_js_callback(data)
   {
        if(data==Dajaxice.EXCEPTION){
            //alert('Error! Something happens!');
        }
        else if(data instanceof Object == false){
            //alert('No notification!');
        }
        else{
            //alert(data.message);
            window.location.reload();
            //Show the Div
        }
   }
    
   Dajaxice.setup({'default_exception_callback': my_js_callback});

</script>

<style type="text/css">
    /* style for question box for jquery UI sort*/
	.column { width: 95%; float: left; padding-bottom: 0px; }
	.portlet { margin: 0 1em 1em 0; }
	.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
	.portlet-header .ui-icon { float: right; }
	.portlet-content { padding: 0.4em; }
	.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
	.ui-sortable-placeholder * { visibility: hidden; }
    /* change span width for response inputs */
    .span5 {width: 160px;}
    /*.span6 {width: auto;}*/
</style>

<script type="text/javascript">

	$(function() {
		$( ".column" ).sortable({
            update: function(event, ui) {

                // survey question sorting logic
                var result = $('.column').sortable('toArray');
                var id = (document.getElementById("id") ? document.getElementById("id").value : 0) ;
                var flag = '0'; // unset
                j=1; // sort order
                for(i=0; i < (result.length)-1; i++) {
                    if(result[i].split('row')[0]=='') {
                        for (inner=0; inner < my_new_que.length; inner++) {
                            if(inner == result[i].split('row')[1]) {
                                question_sort_order(my_new_que[result[i].split('row')[1]], j);
                                flag = 1; //set
                                j++;
                            }
                            if(flag==1) {
                                break;
                            }
                        }
                        //for existing questions
                        if(flag==1) {
                            flag=0; // reset
                            continue;
                        } else {
                            question_sort_order(result[i].split('row')[1], j);
                            j++;
                        }
                    }
                }
            }
		});

		$( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" )
			.find( ".portlet-header" )
				.addClass( "ui-widget-header ui-corner-all" )
				.prepend( "<span class='ui-icon ui-icon-minusthick'></span>")
				.end()
			.find( ".portlet-content" );

		$( ".portlet-header .ui-icon" ).click(function() {
			$( this ).toggleClass( "ui-icon-minusthick" ).toggleClass( "ui-icon-plusthick" );
			$( this ).parents( ".portlet:first" ).find( ".portlet-content" ).toggle();
		});

		//$( ".column" ).disableSelection();
	});
</script>

<script type="text/javascript">
var res_div_count = 0;
// To add new question form
function addFormField() {

    //var id = ( document.getElementById("id") ? document.getElementById("id").value : 0) ;
    var id = ( document.getElementById("id_new_que_form") ? document.getElementById("id_new_que_form").value : 0)
    var id_res = ( document.getElementById("id_res") ? document.getElementById("id_res").value : 1);

	$("#divTxt").replaceWith('<div id="row' + id + '" class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">\
	<div class="portlet-header ui-widget-header ui-corner-all">{% trans "New Question" %}</div>\
	<div class="portlet-content">'+
    '<form action="." id="new_survey_que_form_' + id +'" method="post" enctype="multipart/form-data">'+
    "{% csrf_token %}"+
    '<div class="row">'+
       '<div class="span12">'+
            '<div class="row">'+
            {% for field in new_survey_que_form.visible_fields %}
              '<div class="span6"><p><b>{{ field.label|capfirst }}</p></b></div>' +
            {% endfor %}
            '</div>'+
       '</div>'+
    '</div>'+
    '<div class="row">'+
    '<div class="span12">'+
        '<div class="row">'+
    {% for field in new_survey_que_form.visible_fields %}
        {% if forloop.first %}
            {% for hidden in new_survey_que_form.hidden_fields %}
                '{{ hidden|escapejs }}'+
            {% endfor %}
            '<div class="span6">'+
                '{{ field|escapejs }}'+
            '</div>'+
        {% else %}
            '<div class="span3">'+
                '{{ field|escapejs }}'+
            '</div>'+
        {% endif %}
        {% if forloop.last %}
        '<div class="span3"><!--<input value="Save" onclick="question_form('+id+', 0)" type="button">-->'+
        '<input class="btn-danger" value="{% trans "Delete question" %}" onClick="removeFormField(\'#row' + id + '\'); return false;" type="button"></div>'+
        {% endif %}
    {% endfor %}
        '</div>'+
    '</div>'+
    '</div>'+
    '<div class="row">'+
        '<div class="span6">'+
            '<span class="help-inline">{% trans "If no audio file is selected, then text to speech is used to read out the question" %}</span>'+
        '</div>'+
    '</div><span>&nbsp;</span>'+
    '<div class="row">'+
        '<div class="span4">'+
              '<div class="row">'+
              '<div class="span2"><p><b>{% trans "Key Digit" %}</b></p></div>'+
              '<div class="span2"><p><b>{% trans "Key Value" %}</b></p></div>'+
              '</div>'+
        '</div>'+
    '</div>'+
    '<div id="divTxtRes_'+res_div_count+'"></div><input class="btn" value="{% trans "Add Response" %}" onclick="javascript:addResFormField('+id+', 0); return false;" type="button" />'+
    '</form>' +
    '</div>' +
    '</div><div id="divTxt"></div>');

    res_div_count = res_div_count + 1;
    id = (id - 1) + 2;    
    document.getElementById("id").value = id;

    var id_new_que_form  = document.getElementById("id_new_que_form").value  ;
    id_new_que_form = (id_new_que_form - 1) + 2;    
    document.getElementById("id_new_que_form").value = id_new_que_form;
}

// To remvoe added question form
function removeFormField(id) {
	$(id).remove();
}

// To add new response form
function addResFormField(que_id, is_que_id_set) {
    
    var id = ( document.getElementById("id_res") ? document.getElementById("id_res").value : 1);
    //alert(que_id);
	$("#divTxtRes_"+que_id).append('<div id="row_res' + id + '">' +
    '<form action="." id="new_response_form_' + id +'" method="post" enctype="multipart/form-data">'+
    "{% csrf_token %}"+
    '<div class="row">'+
       '<div class="span6">'+
          '<div class="row">'+
          {% for field in new_survey_res_form.visible_fields %}
          '<div class="span2">'+
            {% if forloop.first %}
              {% for hidden in new_survey_res_form.hidden_fields %}
                '{{ hidden|escapejs }}'+
              {% endfor %}
            {% endif %}
              '{{ field.errors.as_ul }}'+
              {% if field.name == 'keyvalue' %}
                '<input type="text" id="id_keyvalue" class="input-small" name="keyvalue" maxlength="150" onblur="response_form(' + id + ','+que_id+', 0, '+is_que_id_set+')">'+
              {% else %}
                {% if field.name == 'key' %}
                    '<input type="text" id="id_key" class="input-small" name="key" maxlength="150" onblur="response_form(' + id + ','+que_id+', 0, '+is_que_id_set+')">'+
                {% else %}
                    '{{ field|escapejs }}'+
                {% endif %}                              
              {% endif %}
          '</div>'+
          {% if forloop.last %}
            '<input type="hidden" id="new_response_id" value="0" /><!--<input value="Save" onclick="response_form(' + id + ','+que_id+', 0, '+is_que_id_set+')" type="button">-->'+
            '<div class="span2"><input value="{% trans "Delete response" %}" class="btn-danger" onClick="removeResFormField(\'#row_res' + id + '\'); return false;" type="button"></div>'+
          {% endif %}
          {% endfor %}
          '</div>'+
       '</div>'+
    '</div>'+
    '</form>'+
    '</div>');

    //previous new response form's id & onblur event must be changed to updated the newly entered values
    if(document.getElementById("new_response_id").value != 0 && que_id == 0 && is_que_id_set == 0)
    {
        $('#new_response_form_' + (id-1) +' input[type="text"]').attr('onBlur', 'response_form('+document.getElementById("new_response_id").value+', '+document.getElementById("id_new_que_form").value+', 1, 1)');
        $('#new_response_form_' + (id-1)).attr('id','response_form_'+document.getElementById("new_response_id").value);
    }

    //new response (with whom que id is set) form's id & onblur event must be changed to updated the newly entered values
    if(document.getElementById("new_response_id").value != 0 && que_id != 0 && is_que_id_set == 1)
    {
        $('#new_response_form_' + (id-1) +' input[type="text"]').attr('onBlur', 'response_form('+document.getElementById("new_response_id").value+', '+que_id+', 1, 1)');
        $('#new_response_form_' + (id-1)).attr('id','response_form_'+document.getElementById("new_response_id").value);
    }

    id = (id - 1) + 2;
	document.getElementById("id_res").value = id;

    //reset response var
    initial_resp_save = 1;
    counter_resp_id = 0;
    document.getElementById("new_response_id").value = 0;
}

// To remove added form
function removeResFormField(id) {
	$(id).remove();
}
</script>
{% endblock %}

{% block content_header %}
    <h1>{% if action == 'update' %}
            {% trans "Update" %}
        {% else %}
            {% trans "Add" %}
        {% endif %} {% trans "Survey" %}
        <small>{% trans "Survey configuration" %}</small>
    </h1>
{% endblock %}


{% block content %}

{% if msg %}
    <div class="alert alert-success">
        <strong>{% trans "Alert" %} : </strong>  {{ msg }}
    </div>
{% endif %}

{% if error_msg %}
    <div class="alert alert-error">
        <strong>{% trans "Alert" %} : </strong>  {{ error_msg }}
    </div>
{% endif %}



<form class="well" method="POST" action="." enctype="multipart/form-data" id="update_form">{% csrf_token %}

    </fieldset>
    {% for field in form %}
    <div class="clearfix{% if field.errors %} error{% endif %}">
        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
        <div class="input">
            {{ field }}
            {% if field.errors %}
                <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span>
            {% endif %}
            <span class="help-block">{{ field.help_text }} </span>
        </div>
    </div>
    {% endfor %}


    {% if action == 'update' %}
    <fieldset>
        <div class="column">
            <!--extra to fix 1st survey question form-->
            <form>{% csrf_token %}</form>
            <!--extra-->
            {% if survey_que_list %}
                {% for que in survey_que_list %}
                <div id="row{{ que.id }}" class="portlet">
                    <div class="portlet-header">{{ que.question }}</div>
                    <div class="portlet-content">
                        <form id="que_form_{{ que.id }}" action="." method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                            {% for key, form in survey_que_forms.items %}

                            {% if forloop.first %}
                            <div class="row">
                            <div class="span12">
                                <div class="row">
                                {% for field in form.visible_fields %}
                                    {% if forloop.first %}
                                        <div class="span6"><p><b>{{ field.label|capfirst }}</b></p></div>
                                    {% else %}
                                        <div class="span6"><p><b>{{ field.label|capfirst }}</b></p></div>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                            </div>
                            {% endif %}

                            {% if key|stringformat:"s" == que.id|stringformat:"s" %}

                            <div class="row">
                            <div class="span12">
                                <div class="row">
                                {% for field in form.visible_fields %}
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                        <div class="span6">
                                            {{ field }}
                                        </div>
                                    {% else %}
                                        <div class="span3">
                                            {{ field.hidden_field }}{{ field }}
                                        </div>
                                    {% endif %}

                                    {% if forloop.last %}
                                        <div class="span3">
                                            <!--<input value="Save" onclick="question_form({{ que.id }}, 1);" type="button">-->
                                            <input value="{% trans "Delete question" %}" class="btn-danger" onclick="question_delete_form({{ que.id }}, 1);removeFormField('#row{{ que.id }}'); return false;" type="button">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                            </div>
                            <div class="row">
                                <div class="span6">
                                    <span class="help-inline">{% trans "If no audio file is selected, then text to speech is used to read out the question" %}</span>
                                </div>
                            </div>
                                <!--Response forms start-->
                                <!--extra to fix 1st survey response form-->
                                <form>{% csrf_token %}</form>
                                <!--extra-->

                                <div class="row">
                                    <div class="span4">
                                        <div class="row">
                                            <div class="span2">
                                                <p><b>{% trans "Key Digit" %}</b></p>
                                            </div>
                                            <div class="span2">
                                                <p><b>{% trans "Key Value" %}</b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% for key, value_set in survey_res_form_collection.items|sort %}
                                    {% if value_set.que_id|stringformat:"s" == que.id|stringformat:"s" %}
                                        <form action="." id="response_form_{{ key }}" method="post" enctype="multipart/form-data">{% csrf_token %}
                                        <div class="row">
                                            <div class="span6">
                                                <div class="row">
                                                {% for field in value_set.form.visible_fields %}
                                                    <div class="span2">
                                                        {# Include the hidden fields in the form #}
                                                        {% if forloop.first %}
                                                          {% for hidden in value_set.form.hidden_fields %}
                                                            {{ hidden }}
                                                          {% endfor %}
                                                        {% endif %}
                                                          <!--{{ field.errors.as_ul }}-->
                                                          {{ field.hidden_field }}{{ field }}
                                                    </div>

                                                    {% if forloop.last %}
                                                    <div class="span2">
                                                        <!--<input value="Save" onclick="response_form({{ key }}, {{ que.id }}, 1, 1);" type="button">-->
                                                        <input value="{% trans "Delete response" %}" class="btn-danger" onclick="response_delete_form({{ key }}, 1);removeResFormField('#response_form_{{ key }}'); return false;" type="button">
                                                    </div>
                                                    {% endif %}

                                                {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        </form>
                                    {% endif %}
                                {% endfor %}
                                <div id="divTxtRes_{{ que.id }}"></div>
                                <input type="button" class="btn" value="{% trans "Add Response" %}" onclick="javascript:addResFormField({{ que.id }}, 1); return false;" />
                                <!--Response forms end-->
                            {% endif %}

                            {% endfor %}
                        </form>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            <input type="hidden" id="id_res" value="0">
            <input type="hidden" id="id" value="0">
            <input type="hidden" id="id_new_que_form" value="0">
            <div id="divTxt"></div>
            <input type="button" value="{% trans "Add Question" %}" class="btn-info" onclick="javascript:addFormField(); return false;" />
        </div>
    </fieldset>
    {% endif %}

    <div class="actions">
        {% if action == 'update' %}
           <div align="right"><input id="update" type="submit" class="btn-primary" onclick="javascript:document.getElementById('update_form').submit();" value="{% trans "Update Survey" %}" /></div>
        {% else %}
           <input id="add" type="submit" class="btn-primary" value="{% trans "Submit" %}" />
        {% endif %}
    </div>
</form>

{% endblock %}
