{% extends "frontend/master.html" %}
{% load i18n dajaxice_templatetags common_tags survey_tags %}

{% block jquery_ui_js %}
    <!--jquery-ui js-->
{% endblock %}

{% block extra_files %}
    {% include "frontend/survey/survey_change_header.html" %}
    {% include "common_audiofield.html" %}
{% endblock %}


{% block content_header %}
    <h1>
        {% if action == 'update' %}
            {% trans "update"|title %}
        {% else %}
            {% trans "add"|title %}
        {% endif %}
        {% trans "survey"|title %}
        <small>{% trans "survey configuration"|capfirst %}</small>
    </h1>
{% endblock %}


{% block content %}

<form class="well" role="form" method="POST" action="." enctype="multipart/form-data" id="update_form">
    {% csrf_token %}
    <div class="row">
        {% get_fieldset name,tts_language,description as survey_fields from form %}
        {% for field in survey_fields.visible_fields %}
            <div class="col-md-4 {% if field.errors %} error{% endif %}">
                <label class="control-label" for="id_{{ field.name }}">{{ field.label|title }}</label>
                {{ field }}
                {% if field.errors %}
                    <span class="help-block">{{ field.errors|removetags:"ul li"|safe }}</span>
                {% endif %}
                <span class="help-block">{{ field.help_text|capfirst }} </span>
            </div>
        {% endfor %}
    </div>

    <br/><br/>

    {% if action == 'add' %}
        <div class="text-right">
            <button type="submit" class="btn btn-primary" value="{% trans 'save'|title %}">
                <i class="fa fa-save fa-lg"></i> {% trans "save"|title %}
            </button>
        </div>
    {% endif %}


{% if action == 'update' %}
<div class="column">
    {% if section_list %}

        {% for section in section_list %}
        <div id="row{{ section.id }}" class="portlet">
            <div class="portlet-header">
                {{ forloop.counter }}. {{ section.type|section_type_name|title }}

                {% if section.timeout and section.type != SECTION_TYPE.PLAY_MESSAGE and section.type != SECTION_TYPE.HANGUP_SECTION and section.type != SECTION_TYPE.RECORD_MSG and section.type != SECTION_TYPE.CALL_TRANSFER and section.type != SECTION_TYPE.CONFERENCE and section.type != SECTION_TYPE.DNC %}
                    <span class="label label-info">T-{{ section.timeout }}s</span>
                {% endif %}
                {% if section.retries %}
                    <span class="label label-info">R-{{ section.retries }}</span>
                {% endif %}
                {% if section.completed %}
                    <span class="badge badge-success">{% trans "complete"|title %}</span>
                {% endif %}
                <!--To remove section branching for voice, record &
                    Call transfer section-->
                <script type="text/javascript">

                    {% if perms.survey.change_section %}
                        $(function() {
                            $("#row"+{{ section.id }}).find(".section-edit")
                                .attr("url", "/section/{{ section.id }}/")
                                .attr("data-toggle", "modal")
                                .attr("href", "#section-update-edit")
                                .attr("data-controls-modal", "section-update-edit");
                        });
                    {% endif %}

                    {% if perms.survey.delete_section %}
                        $(function() {
                            $("#row"+{{ section.id }}).find(".section-delete")
                                .attr("url", "/section/delete/{{ section.id }}/")
                                .attr("data-toggle", "modal")
                                .attr("href", "#section-del")
                                .attr("data-controls-modal", "section-del");
                        });
                    {% endif %}

                    {% if perms.survey.add_branching %}
                        $(function() {
                            $("#row"+{{ section.id }}).find(".section-branch")
                                .attr("url", "/section/branch/add/?section_id={{ section.id }}")
                                .attr("data-toggle", "modal")
                                .attr("href", "#section-branch")
                                .attr("data-controls-modal", "section-branch");
                        });
                    {% endif %}

                    {% if section.type == SECTION_TYPE.PLAY_MESSAGE or section.type == SECTION_TYPE.HANGUP_SECTION or section.type == SECTION_TYPE.RECORD_MSG or section.type == SECTION_TYPE.CONFERENCE or section.type == SECTION_TYPE.CALL_TRANSFER or section.type == SECTION_TYPE.DNC %}
                        {% if section.get_branching_count_per_section > 0 %}
                            {% for branch in branching_list %}
                                {% if branch.section_id == section.id %}

                                    {% if perms.survey.change_branching %}
                                        $(function() {
                                            $("#row"+{{ section.id }}).find(".section-branch")
                                                .attr("url", "/section/branch/{{ branch.id }}/");
                                        });
                                    {% endif %}

                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </script>
            </div>

            <div class="portlet-content">
                <div class="row">
                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-md-8">
                                {% if section.type == SECTION_TYPE.MULTI_CHOICE or section.type == SECTION_TYPE.RATING_SECTION or section.type == SECTION_TYPE.CAPTURE_DIGITS %}
                                    <b>{% trans "question"|title %} :</b>
                                {% else %}
                                    <b>{% trans "section title"|capfirst %} :</b>
                                {% endif %}
                                {{ section.question }}<br/>
                            </div>

                            <div class="col-md-8">
                                {% if section.audiofile %}
                                    <b>{% trans "audio file"|title %} :</b> {{ section.audiofile.name }}
                                    <span>
                                    <ul class="playlist">
                                        <li style="width:220px;">
                                            <a href="{{ MEDIA_URL }}{{ section.audiofile.audio_file }}">{{ section.audiofile.name }}</a>
                                        </li>
                                    </ul>
                                    </span><br/>
                                {% else %}
                                    <b>{% trans "script"|title %} :</b> {{ section.script }}

                                    {% if perms.survey.change_section %}
                                        <a data-toggle="modal" href="#script-update-edit" class="script-edit" url='/section/script/{{ section.id }}/' data-controls-modal='script-update-edit'><i class="fa fa-edit"></i></a>
                                    {% endif %}
                                    {% if section.script %}
                                        <a class="" target="_blank" href='/section/script_play/{{ section.id }}/'>
                                            <i title="{% trans 'play'|title %}" class="fa fa-play"></i>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>

                            <!--Multiple choice Section form-->
                            {% if section.type == SECTION_TYPE.MULTI_CHOICE %}

                                <div class="col-md-6">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-condensed">
                                            <tr>
                                            <th colspan="2">
                                                <center>
                                                    <h4><em>{% trans "key associations"|title %}</em></h4>
                                                </center>
                                            </th>
                                            </tr>
                                            {% if section.key_0|length > 0 %}
                                            <tr>
                                                <td><b>{% trans "key"|title %} 0</b></td>
                                                <td>{{ section.key_0 }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if section.key_1|length > 0 %}
                                            <tr>
                                                <td><b>{% trans "key"|title %} 1</b></td>
                                                <td>{{ section.key_1 }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if section.key_2|length > 0 %}
                                            <tr>
                                                <td><b>{% trans "key"|title %} 2</b></td>
                                                <td>{{ section.key_2 }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if section.key_3|length > 0 %}
                                            <tr>
                                                <td><b>{% trans "key"|title %} 3</b></td>
                                                <td>{{ section.key_3 }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if section.key_4|length > 0 %}
                                            <tr>
                                                <td><b>{% trans "key"|title %} 4</b></td>
                                                <td>{{ section.key_4 }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if section.key_5|length > 0 %}
                                            <tr>
                                                <td><b>{% trans "key"|title %} 5</b></td>
                                                <td>{{ section.key_5 }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if section.key_6|length > 0 %}
                                            <tr>
                                                <td><b>{% trans "key"|title %} 6</b></td>
                                                <td>{{ section.key_6 }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if section.key_7|length > 0 %}
                                            <tr>
                                                <td><b>{% trans "key"|title %} 7</b></td>
                                                <td>{{ section.key_7 }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if section.key_8|length > 0 %}
                                            <tr>
                                                <td><b>{% trans "key"|title %} 8</b></td>
                                                <td>{{ section.key_8 }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if section.key_9|length > 0 %}
                                            <tr>
                                                <td><b>{% trans "key"|title %} 9</b></td>
                                                <td>{{ section.key_9 }}</td>
                                            </tr>
                                            {% endif %}
                                            <tr>
                                                <td>...</td>
                                                <td>...</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            {% endif %}

                            <!--Rating Section form-->
                            {% if section.type == SECTION_TYPE.RATING_SECTION %}
                                <div class="col-md-8">
                                    {% trans "from 1 to"|capfirst %} {{ section.rating_laps }}
                                </div>
                            {% endif %}

                            <!--Enter number Section form-->
                            {% if section.type == SECTION_TYPE.CAPTURE_DIGITS %}
                                <div class="col-md-8">
                                    {% if section.validate_number %}
                                        {% trans "number is between"|capfirst %}&nbsp;{{ section.min_number }}&nbsp;{% trans "and" %}&nbsp;{{ section.max_number }}
                                    {% endif %}
                                </div>
                            {% endif %}

                            <!--Call transfer Section form-->
                            {% if section.type == SECTION_TYPE.CALL_TRANSFER %}
                                <div class="col-md-8">
                                    {% if section.phonenumber %}
                                        <b>{% trans "Phone Number / SIP URI" %} :</b> {{ section.phonenumber }} <br/>
                                    {% endif %}
                                </div>
                            {% endif %}

                            <!--Conference Section form-->
                            {% if section.type == SECTION_TYPE.CONFERENCE %}
                                <div class="col-md-8">
                                    {% if section.conference %}
                                        {% trans "conference"|title %} : {{ section.conference }} <br/>
                                    {% endif %}
                                </div>
                            {% endif %}

                            <!--SMS Section form-->
                            {% if section.type == SECTION_TYPE.SMS %}
                                <div class="col-md-8">
                                    {% if section.sms_text %}
                                        {% trans "sms"|title %} {% trans "text"|title %} : {{ section.sms_text }} <br/>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>

                    <!--branching-->
                    {% if branching_list and section.id in branching_section_list %}

                        <div class="row">
                            <div class="col-md-8">

                                <br/><b>{% trans "branching"|title %}</b><br/>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-condensed">
                                        <tr>
                                            {% if section.type != SECTION_TYPE.PLAY_MESSAGE and section.type != SECTION_TYPE.HANGUP_SECTION and section.type != SECTION_TYPE.RECORD_MSG and section.type != SECTION_TYPE.CALL_TRANSFER and section.type != SECTION_TYPE.CONFERENCE and section.type == SECTION_TYPE.DNC and section.type != SECTION_TYPE.SMS %}
                                                <th>{% trans "keys"|title %}</th>
                                            {% endif %}
                                            <th colspan="2">{% trans "goto"|title %}</th>
                                        </tr>
                                        {% for branch in branching_list %}
                                            <tr>
                                            {% if branch.section_id == section.id %}
                                                {% if section.type != SECTION_TYPE.PLAY_MESSAGE and section.type != SECTION_TYPE.HANGUP_SECTION and section.type != SECTION_TYPE.RECORD_MSG and section.type != SECTION_TYPE.CALL_TRANSFER and section.type != SECTION_TYPE.CONFERENCE and section.type != SECTION_TYPE.DNC and section.type != SECTION_TYPE.SMS %}
                                                    <td>
                                                        {% if branch.keys == 'any' %}
                                                            {% trans "any other key"|title %}
                                                        {% elif branch.keys == 'invalid' %}
                                                            {% trans "invalid"|title %}
                                                        {% elif branch.keys == 'timeout' %}
                                                            {% trans "timeout"|title %} (no input within {{ section.timeout }}s)
                                                        {% elif branch.keys %}
                                                            {% trans "Key" %}&nbsp;
                                                            {{ branch.keys }}
                                                        {% else %}
                                                            {% trans "none"|title %}
                                                        {% endif %}

                                                        {% if branch.section_id|get_branching_count:branch.id > 1 %}
                                                            {% if perms.survey.delete_branching %}
                                                                <a href="/section/branch/{{ branch.id }}/?delete=true" title="{% trans 'delete'|title %}"><i class="fa fa-times-circle"></i></a>
                                                            {% endif %}
                                                        {% endif %}
                                                    </td>
                                                {% endif %}
                                                <td>
                                                    {% if branch.goto.id %}
                                                        {% if branch.goto.question %}
                                                            <!--{{ branch.goto.question }}-->
                                                        {% else %}
                                                            {{ branch.goto.script }}
                                                        {% endif %}
                                                    {% else %}
                                                        <!--{% trans "hang up" %}-->
                                                    {% endif %}

                                                    <!--default branching change-->
                                                    <form method="POST" action="." enctype="multipart/form-data" id="branching_form_{{ branch.id }}">
                                                        {% csrf_token %}
                                                        <select name="branching_goto_{{ branch.id }}" id="id_branching_goto_{{ branch.id }}" onchange="call_function({{ branch.id }});" class="form-control">
                                                            {{ section.id|get_branching_goto_field:branch.goto_id|safe }}
                                                        </select>
                                                    </form>
                                                </td>
                                            {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <!--endif branching-->

                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>
{% endif %}

{% if action == 'update' %}
    <div class="row">
        <div class="col-md-6 text-left">
        {% if perms.survey.add_section %}
            <button data-toggle="modal" href="#section-create-add" class="section-add btn btn-info" url='/section/add/' data-controls-modal='section-create-add'><i class="fa fa-plus"></i> {% trans "add section"|title %}
            </button>
        {% endif %}
        </div>
        <div class="col-md-6 text-right">
            <button type="submit" id="update" class="btn btn-success" value="{% trans 'close survey'|title %}" onclick="javascript:document.getElementById('update_form').submit();"><i class="fa fa-edit"></i> {% trans "close survey"|title %}
            </button>
        </div>
    </div>
{% endif %}

<!-- close survey section modal content-->
<div id="section-update-edit" class="modal fade" role="dialog" aria-labelledby="section_update_edit">
</div>

<!--Section add modal content-->
<div id="section-create-add" class="modal fade" role="dialog" aria-labelledby="section_create_add"></div>

<!-- modal content-->
<div id="section-branch" class="modal fade" role="dialog" aria-labelledby="section_branch"></div>

<!-- update script modal content-->
<div id="script-update-edit" class="modal fade" role="dialog" aria-labelledby="script_update_edit"></div>

<!-- section delete modal content-->
<div id="section-del" class="modal fade" role="dialog" aria-labelledby="section_del"></div>

<script type="text/javascript" charset="utf-8">
    // update section in modal
    $(function() {
        $(".section-edit").on('click', function(e) {
            //e.preventDefault();
            var url = $(this).attr('url');
            var modal_id = $(this).attr('data-controls-modal');
            $("#" + modal_id).load(url);
        });
        {% if action == 'update' %}
            // Section add modal
            $(".section-add").on('click', function(e) {
                //e.preventDefault();
                var url = $(this).attr('url');
                var modal_id = $(this).attr('data-controls-modal');
                url = url + "?survey_id={{ survey_obj_id }}";
                $("#" + modal_id).load(url);
            });
        {% endif %}
        // Section branching change modal
        $(".section-branch").on('click', function(e) {
            e.preventDefault();
            var url = $(this).attr('url');
            var modal_id = $(this).attr('data-controls-modal');
            $("#" + modal_id).load(url);
        });

        // Section script update modal
        $(".script-edit").on('click', function(e) {
            e.preventDefault();
            var url = $(this).attr('url');
            var modal_id = $(this).attr('data-controls-modal');
            $("#" + modal_id).load(url);
        });

        // Section delete modal
        $(".section-delete").on('click', function(e) {
            e.preventDefault();
            var url = $(this).attr('url');
            var modal_id = $(this).attr('data-controls-modal');
            $("#" + modal_id).load(url);
        });
    });
</script>

</form>

{% endblock %}
