{% extends "frontend/master.html" %}
{% load i18n dialer_cdr_extras pagination_tags common_tags icons %}

{% block extra_files %}
    <script type="text/javascript">
        $(function() {
            var dates = $('#id_from_date, #id_to_date').datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                dateFormat: 'yy-mm-dd',
                onSelect: function(selectedDate) {
                    var option = this.id == "id_from_date" ? "minDate" : "maxDate";
                    var instance = $(this).data("datepicker");
                    var date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
                    dates.not(this).datepicker("option", option, date);
                }
            });
        });
    </script>
{% endblock %}

{% block content_header %}
    <h1>{% trans "Survey Detail report" %} <small>{% trans "Monitor survey results with voip calls" %}</small></h1>
{% endblock %}

{% block content %}
    
{% if msg %}
    <div class="alert alert-success">
        <strong>{% trans "Alert" %} : </strong>  {{ msg }}
    </div>
{% endif %}

{% if err_msg %}
    <div class="alert alert-error">
        <strong>{% trans "Alert" %} : </strong>  {{ err_msg }}
    </div>
{% endif %}
<div class="tabbable">
<ul class="nav nav-tabs">
    <li {% if action == "tabs-1" %}class="active"{% endif %}><a href="#tabs-1" data-toggle="tab">{% trans "Survey calls"|title %}</a></li>
    <li {% if action == "tabs-2" %}class="active"{% endif %}><a href="#tabs-2" data-toggle="tab">{% trans "Survey daily call report"|title %}</a></li>
    <li {% if action == "tabs-3" %}class="active"{% endif %}><a href="#tabs-3" data-toggle="tab">{% trans "Survey result"|title %}</a></li>
</ul>

<div id="form_collapse" class="collapse">
    <form class="well" method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span4">
                        <label class="control-label" for="id_{{ form.from_date.name }}">{{ form.from_date.label }}</label>
                        <div class="input">
                            {{ form.from_date }}
                            <span class="help-block">{{ form.from_date.help_text|safe }} </span>
                        </div>
                    </div>
                    <div class="span4">
                        <label class="control-label" for="id_{{ form.to_date.name }}">{{ form.to_date.label }}</label>
                        <div class="input">
                            {{ form.to_date }}
                            <span class="help-block">{{ form.to_date.help_text|safe }} </span>
                        </div>
                    </div>
                    <div class="span4">
                        <label class="control-label" for="id_{{ form.status.name }}">{{ form.status.label }}</label>
                        <div class="input">
                            {{ form.status }}
                            <span class="help-block">{{ form.status.help_text|safe }} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span4">
                        <label class="control-label" for="id_{{ form.campaign.name }}">{{ form.campaign.label }}</label>
                        <div class="input">
                            {{ form.campaign }}
                            <span class="help-block">{{ form.campaign.help_text|safe }} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <label></label>
        <div class="actions">
            <input type="submit" class="btn-primary" name="submit" value="{% trans "Submit" %}">
        </div>
    </form>
</div>

<a class="btn btn-small" id="toggle_btn" href="#" data-toggle="collapse" data-target="#form_collapse">
    <i class="icon-search"></i> <span>{% trans "Search"|title %}</span>
</a>

<div class="tab-content">
    <div id="tabs-1" class="tab-pane {% if action == "tabs-1" or action == "" %}active{% endif %}">
        <div class="graph_header">
            {% trans "Survey calls detail records"|title %} -
            <b>
                {% if start_date  %}
                    {{ start_date|date:"jS N Y" }}
                {% endif %}
                {% if end_date  %}
                    {% trans "to" %} {{ end_date|date:"jS N Y" }}
                {% endif %}
            </b>
        </div>
        <p>&nbsp;</p>
        <table class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th>
                    {% ifequal col_name_with_order.sort_field 'starting_date' %}
                        {% sort_link "<i class='icon-chevron-up'></i>" "starting_date"  %}
                        {% trans "Call-date" %}
                        {% sort_link "<i class='icon-chevron-down'></i>" "-starting_date"  %}
                    {% else %}
                        {% sort_link "Call-date" "-starting_date"  %}
                    {% endifequal %}
                </th>
                <th>
                    {% ifequal col_name_with_order.sort_field 'callerid' %}
                        {% sort_link "<i class='icon-chevron-up'></i>" "callerid"  %}
                        {% trans "Call ID" %}
                        {% sort_link "<i class='icon-chevron-down'></i>" "-callerid"  %}
                    {% else %}
                        {% sort_link "Call ID" "-callerid"  %}
                    {% endifequal %}
                </th>
                <th>
                    {% ifequal col_name_with_order.sort_field 'used_gateway' %}
                        {% sort_link "<i class='icon-chevron-up'></i>" "leg_type"  %}
                        {% trans "Leg" %}
                        {% sort_link "<i class='icon-chevron-down'></i>" "-leg_type"  %}
                    {% else %}
                        {% sort_link "Leg" "-leg_type"  %}
                    {% endifequal %}
                </th>
                <th>
                    {% ifequal col_name_with_order.sort_field 'phone_number' %}
                        {% sort_link "<i class='icon-chevron-up'></i>" "phone_number"  %}
                        {% trans "Destination" %}
                        {% sort_link "<i class='icon-chevron-down'></i>" "-phone_number"  %}
                    {% else %}
                        {% sort_link "Destination" "-phone_number"  %}
                    {% endifequal %}
                </th>
                <th>
                    {% ifequal col_name_with_order.sort_field 'used_gateway' %}
                        {% sort_link "<i class='icon-chevron-up'></i>" "used_gateway"  %}
                        {% trans "Gateway" %}
                        {% sort_link "<i class='icon-chevron-down'></i>" "-used_gateway"  %}
                    {% else %}
                        {% sort_link "Gateway" "-used_gateway"  %}
                    {% endifequal %}
                </th>
                <th>
                    {% ifequal col_name_with_order.sort_field 'duration' %}
                        {% sort_link "<i class='icon-chevron-up'></i>" "duration"  %}
                        {% trans "Duration" %}
                        {% sort_link "<i class='icon-chevron-down'></i>" "-duration"  %}
                    {% else %}
                        {% sort_link "Duration" "-duration"  %}
                    {% endifequal %}
                </th>
                <th>
                    {% ifequal col_name_with_order.sort_field 'billsec' %}
                        {% sort_link "<i class='icon-chevron-up'></i>" "billsec"  %}
                        <abbr title='{% trans "Bill Seconds" %}'>{% trans "Bill" %}</abbr>
                        {% sort_link "<i class='icon-chevron-down'></i>" "-billsec"  %}
                    {% else %}
                        <abbr title={% trans 'Bill Seconds' %}>
                            {% sort_link "Bill" "-billsec"  %}
                        </abbr>
                    {% endifequal %}
                </th>
                <th>
                    {% ifequal col_name_with_order.sort_field 'disposition' %}
                        {% sort_link "<i class='icon-chevron-up'></i>" "disposition"  %}
                        {% trans "Account" %}
                        {% sort_link "<i class='icon-chevron-down'></i>" "-disposition"  %}
                    {% else %}
                        {% sort_link "Disposition" "-disposition"  %}
                    {% endifequal %}
                </th>
                <th>{% trans "Question" %}</th>
                <th>{% trans "Response" %}</th>
            </tr>
            </thead>
            {% if rows %}
                {% autopaginate rows PAGE_SIZE %}
                {% for row in rows %}
                    <tr>
                        <td>{{ row.starting_date }}</td>
                        <td>{{ row.callerid }}</td>
                        <td>{{ row.leg_type|leg_type_name }}</td>
                        <td>{{ row.phone_number }}</td>
                        <td>
                            {% if row.used_gateway %}
                                {{ row.used_gateway.name }}
                            {% endif %}
                        </td>
                        <td>{{ row.duration|conv_min }}</td>
                        <td>
                            {% if result == 1 %}
                                {{ row.billsec|conv_min }}
                            {% else %}
                                {{ row.billsec }}
                            {% endif %}
                        </td>
                        <td>{{ row.disposition }}</td>
                        <td>{{ row.question }}</td>
                        <td>{{ row.response }}</td>
                    </tr>
                {% endfor %}

            {% else %}
                <tr>
                    <td colspan="10" align="center">
                        {% trans "no record found"|title %}
                    </td>
                </tr>
            {% endif %}
        </table>
        <div align="right" class="show-rows">
            {% trans "total calls"|title %} : {{ total_calls }}
        </div>

        {% if rows %}
            {% paginate %}
        {% endif %}

        <div class="show_export_file" id='export-container'>
            <h3>{% trans "Export CSV file"  %}</h3> <br/>
            <a href="/export_surveycall_report/"><img src='{{STATIC_URL}}newfies/icons/x-office-spreadsheet.png' width="75"/></a>
        </div>

    </div>

    <div id="tabs-2" class="tab-pane {% if action == "tabs-2" %}active{% endif %}">
        <div align=center>
            <h3><center>{% trans "Call Detail Report Summary" %}</center></h3>
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Duration" %}</th>
                    <th>{% trans "Graphic" %}</th>
                    <th>{% trans "Calls" %}</th>
                    <th><acronym title="{% trans "Average Connection Time" %}">{% trans "ACT"  %}</acronym></th>
                </tr>
                </thead>
                <tbody>
                {% for td in total_data %}
                    <tr>
                        <td>{{ td.starting_date }}</td>
                        <td>{{ td.duration__sum|conv_min }}</td>
                        <td>{% if max_duration > 0 %}
                            <img src="{{STATIC_URL}}newfies/images/spacer.png" width="{{td.duration__sum|cal_width:max_duration}}" style="vertical-align:center; height:15px"/>
                        {% endif %}
                        </td>
                        <td>{{ td.starting_date__count }}</td>

                        <td>{{ td.duration__avg|conv_min }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td>{% trans "Total"  %}</td>
                    <td>{{ total_duration|conv_min }}</td>
                    <td></td>
                    <td>{{ total_calls }}</td>
                    <td>{{ total_avg_duration|conv_min }}</td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div id="tabs-3" class="tab-pane {% if action == "tabs-3" %}active{% endif %}">
        {% if survey_result %}
            {# grouping of survey result #}
            {% regroup survey_result by question as result %}

            {% for i in result %}
            <table align="center" class="bordered-table">
                <tr>
                    <thead>
                        <th colspan=5>{{ i.grouper }}</th>
                    </thead>
                </tr>
                <tr>
                    <td colspan=5>
                    <!--{% for item in i.list %}<td>{{ item.response__count }} contact(s) pressed {{ item.response }}</td>{% endfor %}-->
                    <table class="table table-striped table-bordered table-condensed">
                    {# survey result will be managed in 5 columns #}
                    {% for item in i.list|groupby_columns:5 %}
                    <tr>
                        {% for obj in item %}
                            {% if obj %}
                                <td>{{ obj.response__count }} contact(s) pressed {{ obj.response }}</td>
                            {% else %}
                                <td>&nbsp;</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </table>
                    </td>
                </tr>
            </table>
            {% endfor %}
        {% else %}
            <p>&nbsp;</p>
            <div class="graph_header">{% trans "no record found"|title %}</div>
        {% endif %}
    </div>
</div>
{% endblock %}
