{% extends "frontend/master.html" %}
{% load i18n %}

{% block extra_files %}
    {% include "frontend/custom_jquery_select_all.html" %}
{% endblock %}

{% block content_header %}
    <h1>{% trans "Survey" %} <small>{% trans "List, add and edit surveys" %}</small></h1>
{% endblock %}

{% block content %}

<form method="POST" action="del/0/" enctype="multipart/form-data" id="ListForm">{% csrf_token %}
    <table id="flex1" align="left" style="display:none;"></table>
</form>

<script type="text/javascript">

$("#flex1").flexigrid({
    url: "/survey_grid/",
    method: 'GET',
    dataType: 'json',
	colModel : [
        {display: '<input type="checkbox" onclick="toggleChecked(this.checked)">', name: '', width: 50, align: 'center'},
        {display: '{% trans "Name" %}', name: 'name', width: 300, sortable: true, align: 'center'},
        {display: '{% trans "Description" %}', name: 'description', width: 400, sortable: true, align: 'center'},
        {display: '{% trans "Date" %}', name: 'updated_date', width: 200, sortable: true, align: 'center', formatter:'datformatter:statusFmattere'},
        {display: '{% trans "Action" %}', name: '', width : 160, align: 'center', formatter:'showlink', formatoptions:{baseLinkUrl:'', }, },
		],
    buttons : [
        {% if perms.survey.add_surveyapp %}
		    {name: '{% trans "Add" %}', bclass: 'add', onpress : add_button},
        {% endif %}
        {separator: true},
        {% if perms.survey.delete_surveyapp %}
            {name: '{% trans "Delete Selected" %}', bclass: 'delete', onpress : delete_button},
        {% endif %}
		],
    sortname: "id",
	sortorder: "asc",
	usepager: true,
	title: '{% trans "Survey" %}',
	useRp: true,
	rp: 10,
	showTableToggleBtn: true,
	height: 265,
    pagetext: '{% trans "Page" %}',
    outof: '{% trans "of" %}',
    nomsg: '{% trans "No items" %}',
    procmsg: '{% trans "Processing, please wait ..." %}',
    pagestat: '{% trans "Displaying" %} {from} {% trans "to" %} {to} {% trans "of" %} {total} {% trans "items" %}',
    //preProcess: formatContactResults,
    // onSuccess: function(data){
    //     alert(data);
    //     alert("Request not failed");
    // },
    onError: function(){
        alert("Request failed");
    },
});

function add_button(){
    window.location = 'add/';
}
function delete_button(){
    $('#ListForm').submit();
}
</script>

{% endblock %}
