{% extends "frontend/master.html" %}
{% load i18n dialer_cdr_extras dajaxice_templatetags %}

{% block extra_files %}
{% endblock %}

{% block row_fluid %}
{% endblock %}

{% block header %}
{% endblock %}

{% block container %}

{% block content %}

    {% if action == 'update' %}
        {% block content_header %}
            <a class="close" data-dismiss="modal" >&times;</a>
            <h3>
                {% trans "Update" %} {% trans "Survey Question" %}
                <small></small>
            </h3>
        {% endblock %}
    {% endif %}

    {% if err_msg %}
        <script type="text/javascript" charset="utf-8">

            $(window).load(function(){
                $('#survey_que_modal').modal('show');
            });

            var url = '/survey/' + '{{ surveyapp_id }}'  + '/#row{{ surveyquestion_id }}';
            $(".close").live('click', function() {

                $(location).attr('href',url);
            });

            var KEYCODE_ESC = 27;
            $(document).keyup(function(e) {
                if (e.keyCode == KEYCODE_ESC) { $(location).attr('href',url); }
            });
        </script>
        <!-- modal content-->
        <div class="modal hide fade" id="survey_que_modal">
            <div class="modal-header">
                <a class="close" data-dismiss="modal" >&times;</a>
                <h3>{% if action == 'update' %}
                    {% trans "Update" %}
                {% else %}
                    {% trans "Add" %}
                {% endif %} {% trans "Survey Question" %}
                    <small></small>
                </h3>
            </div>
            <div class="modal-body">
    {% endif %}

        <form class="well" method="POST" action="{% if action == 'update' %}/survey_question/{{ survey_question_id }}/{% else %}/survey_question/add/?surveyapp_id={{ surveyapp_id }}{% endif %}" enctype="multipart/form-data" id="update_form">
            {% csrf_token %}
            {{ form.surveyapp }}
            <div class="row">
                <div class="span5 clearfix{% if form.question.errors %} control-group error{% endif %}">
                    <label class="control-label" for="id_{{ form.question.name }}">{{ form.question.label }}</label>
                    <div class="input">
                        {{ form.question }}
                        {% if form.question.errors %}
                            <span class="help-inline">{{ form.question.errors|removetags:"ul li"|safe }}</span>
                        {% endif %}
                        <span class="help-block">{{ form.question.help_text|safe }} </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="span2 clearfix{% if form.audio_message.errors %} control-group error{% endif %}">
                    <label class="control-label" for="id_{{ form.audio_message.name }}">{{ form.audio_message.label }}</label>
                    <div class="input">
                        {{ form.audio_message }}
                        {% if form.audio_message.errors %}
                            <span class="help-inline">{{ form.audio_message.errors|removetags:"ul li"|safe }}</span>
                        {% endif %}
                        <span class="help-block">{{ form.audio_message.help_text|safe }} </span>
                    </div>
                </div>
                <div class="span2 clearfix{% if form.type.errors %} control-group error{% endif %}">
                    <label class="control-label" for="id_{{ form.type.name }}">{{ form.type.label }}</label>
                    <div class="input">
                        {{ form.type }}
                        {% if form.type.errors %}
                            <span class="help-inline">{{ form.type.errors|removetags:"ul li"|safe }}</span>
                        {% endif %}
                        <span class="help-block">{{ form.type.help_text|safe }} </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="span5 clearfix{% if form.data.errors %} control-group error{% endif %}">
                    <label class="control-label" for="id_{{ form.data.name }}">{{ form.data.label }}</label>
                    <div class="input">
                        {{ form.data }}
                        {% if form.data.errors %}
                            <span class="help-inline">{{ form.data.errors|removetags:"ul li"|safe }}</span>
                        {% endif %}
                        <span class="help-block">{{ form.data.help_text|safe }} </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="span2 clearfix{% if form.gateway.errors %} control-group error{% endif %}">
                    <label class="control-label" for="id_{{ form.gateway.name }}">{{ form.gateway.label }}</label>
                    <div class="input">
                        {{ form.gateway }}
                        {% if form.gateway.errors %}
                            <span class="help-inline">{{ form.gateway.errors|removetags:"ul li"|safe }}</span>
                        {% endif %}
                        <span class="help-block">{{ form.type.gateway|safe }} </span>
                    </div>
                </div>
            </div>

            <div class="actions">
                {% if action == 'update' %}
                    <input id="update" class="btn-primary" type="submit" value="{% trans "Update" %}" />
                {% else %}
                    <input id="add" type="submit" class="btn-primary" value="{% trans "Submit" %}" />
                {% endif %}
            </div>

        </form>

    {% if err_msg %}
            </div>
            <div class="modal-footer">
                <a href="#" class="close btn" data-dismiss="modal">{% trans "Close" %}</a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block footer %}
{% endblock %}

{% endblock %}