{% extends "frontend/master.html" %}
{% load i18n dialer_cdr_extras dajaxice_templatetags %}

{% block extra_files %}
{% endblock %}

{% block content_header %}
    <h1>{% if action == 'update' %}
        {% trans "Update" %}
    {% else %}
        {% trans "Add" %}
    {% endif %} {% trans "Survey" %}
        <small>{% trans "Survey configuration" %}</small>
    </h1>
{% endblock %}

{% block content %}

{% if msg %}
    <div class="alert alert-success">
        <strong>{% trans "Alert" %} : </strong>  {{ msg }}
    </div>
{% endif %}

{% if error_msg %}
    <div class="alert alert-error">
        <strong>{% trans "Alert" %} : </strong>  {{ error_msg }}
    </div>
{% endif %}

<form class="well" method="POST" action="." enctype="multipart/form-data" id="update_form">{% csrf_token %}


    {% for field in form %}
        <div class="clearfix{% if field.errors %} control-group error{% endif %}">
            <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
            <div class="input">
                {{ field }}
                {% if field.errors %}
                    <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span>
                {% endif %}
                <span class="help-block">{{ field.help_text }} </span>
            </div>
        </div>
    {% endfor %}

    <a class="btn" data-toggle="modal" href="#modal-create-{{ survey_obj_id }}" class="ajax-modal-{{ survey_obj_id }}" url='/survey_question/{{ survey_obj_id }}/' data-controls-modal='modal-create-content-{{ survey_obj_id }}'>
        {% trans "Add survey question" %}
    </a>

    <script type="text/javascript" charset="utf-8">

        $(".ajax-modal-{{ survey_obj_id }}").live('click', function() {

            var url = $(this).attr('url');
            var modal_id = $(this).attr('data-controls-modal');
            url = url + "/?menu=on";
            $("#" + modal_id).load(url);
        })

    </script>
    <!-- modal content-->
    <div id="modal-create-{{ survey_obj_id }}" class="modal hide fade" >
        <div class="modal-header">
            <a class="close" data-dismiss="modal" >&times;</a>
            <h3>{% trans "Call Details" %}</h3>
        </div>
        <div class="modal-body" id="modal-create-content-{{ survey_obj_id }}">
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">{% trans "Close" %}</a>
        </div>
    </div>

    <div class="actions">
         {% if action == 'update' %}
            <input id="update" class="btn-primary" type="submit" value="{% trans "Update" %}" />
         {% else %}
            <input id="add" type="submit" class="btn-primary" value="{% trans "Submit" %}" />
         {% endif %}
    </div>



</form>

{% endblock %}
