{% extends "admin/change_list.html" %}
{% load i18n admin_modify %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "home"|title %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
     <a href="/admin/{{ opts.app_label }}/{{ model_name }}">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
     {% trans "import"|title %} {{ opts.verbose_name }}
</div>
{% endif %}{% endblock %}

{% block content %}
<div id="content-main">
<br/>

<table border="1">
<caption>{% trans "sample file"|title %}</caption>
<tr>
    <th>{% trans "contact"|title %}</th>
    <th>{% trans "last name"|title %}</th>
    <th>{% trans "first name"|title %}</th>
    <th>{% trans "email-id"|title %}</th>
    <th>{% trans "description"|title %}</th>
    <th>{% trans "status"|title %}</th>
    <th>{% trans "address"|title %}</th>
    <th>{% trans "city"|title %}</th>
    <th>{% trans "state"|title %}</th>
    <th>{% trans "country"|title %}</th>
    <th>{% trans "unit number"|title %}</th>
    <th>{% trans "additional_vars"|title %}</th>
</tr>
<tr>
    <td>1234</td>
    <td>Belaid</td>
    <td>Arezqui</td>
    <td>areski@gmail.com</td>
    <td>test subscriber</td>
    <td>1</td>
    <td>Address</td>
    <td>Barcelona</td>
    <td>State</td>
    <td>ES</td>
    <td>123</td>
    <td>test</td>
</tr>
<tr>
    <td>5678</td>
    <td>Fourth</td>
    <td>John</td>
    <td>john@gmail.com</td>
    <td>test subscriber</td>
    <td>0</td>
    <td>Address</td>
    <td>Barcelona</td>
    <td>State</td>
    <td>ES</td>
    <td>123</td>
    <td>test</td>
</tr>
</table>
<br/>
{% trans "CONTACT STATUS = ('1'-'ACTIVE') ('0'-'INACTIVE')" %}
<br/><br/>


<form method="post" action="" enctype="multipart/form-data" >{% csrf_token %}
    <table border=0>
    {{ form.as_table }}
    <tr>
        <td colspan=2 align=right>
        <input type="submit" class="l-1" name="submit" value="{% trans "submit"|title %}" />&nbsp;
        <input type="reset" name="reset" class="j-2" value="{% trans "reset"|title %}" />
        </td>
    </tr>
    </table>
</form>

<br/><br/>

{% block msg %}
    {% if msg %}
        {{ msg }}
    {% endif %}
{% endblock %}

{% block error_msg %}
    {% if error_msg %}
        {{ error_msg }}
    {% endif %}
{% endblock %}

<br/><br/>

{% if success_import_list %}
<table border="1">
    <tr>
        <th>{% trans "contact(s) imported"|capfirst %} :</th>
    </tr>
    {% for row in success_import_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>
            {{ row }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if type_error_import_list %}
<br/>
<table border="1">
    <tr>
        <th>{% trans "type mismatch"|capfirst %} :</th>
    </tr>
    {% for row in type_error_import_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>
            {{ row }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

</div>
{% endblock %}
