<!-- Extra Footer Modal JS -->
<script type="text/javascript" src="/jsi18n/"></script>
<script src="{{ STATIC_URL }}jquery-ui/ui/minified/jquery-ui.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}bootbox.js/bootbox.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}newfies/js/sidebar-offcanvas.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}bootstrap-switch/build/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}newfies/js/newfies_custom.js" type="text/javascript"></script>
