{% extends "frontend/master.html" %}
{% load i18n %}


{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

    <img src="{{STATIC_URL}}newfies/images/newfies-dialer.png" height="120" alt="Newfies-Dialer"/>

    <p><a href="http://www.newfies-dialer.org/" target="_blank" >Newfies-Dialer</a> is scalable, multi-tenant SMS and Voice-Broadcasting autodialer solution to provide information via phone and SMS.</p>

    <p>For a fully supported and maintained, white-label version of Newfies-Dialer with optional AMD, see <a href="http://www.newfies-dialer.org/" target="_blank" >http://www.newfies-dialer.org/</a> or contact us at <a href="mailto:newfies-dialer@star2billing.com">newfies-dialer@star2billing.com</a>
    </p>

    <p><a class="btn btn-default" href="http://www.newfies-dialer.org/">{% trans "learn more"|capfirst %} &raquo;</a></p>

</div>
<div class="row">
    <div class="col-6 col-sm-6 col-lg-6">
        <h2>{% trans "support"|title %}</h2>
        <p>Documentation for Newfies-Dialer is available on our website:<br/>
        <a href="http://docs.newfies-dialer.org/en/latest/" target="_blank" >http://docs.newfies-dialer.org/en/latest/</a></p>
    </div>

    <div class="col-6 col-sm-6 col-lg-6">
        <h2>{% trans "licensing"|title %}</h2>
        <p>Newfies-Dialer is licensed under the MPLv2 as described at <a href="http://www.mozilla.org/MPL/2.0/" target="_blank">MPL V2</a></p>
    </div>
</div>

{% endblock %}
