{% extends "frontend/master.html" %}
{% load i18n %}


{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

    <img src="{{STATIC_URL}}newfies/images/newfies-dialer.png" height="120" alt="Newfies-Dialer Auto Dialer Software"/>

    <p><a href="http://www.newfies-dialer.org/" target="_blank" >Newfies-Dialer is a multi-tenant SMS and Voice-Broadcasting System</a> to provide information via phone and SMS. For a fully supported, maintained white-label version of Newfies-Dialer with AMD, please see <a href="http://www.newfies-dialer.org/" target="_blank" >http://www.newfies-dialer.org/</a> or contact us at <a href="mailto:newfies-dialer@star2billing.com">newfies-dialer@star2billing.com</a>
    </p>

    <p><a class="btn btn-default" href="http://www.newfies-dialer.org/">{% trans "learn more"|capfirst %} &raquo;</a></p>

</div>
<div class="row">
    <div class="col-6 col-sm-6 col-lg-6">
        <h2>{% trans "pricing"|title %}</h2>
        <p>For Newfies-Dialer's commercial pricing, please see: <br/>
        <a href="http://www.newfies-dialer.org/pricing/" target="_blank" >http://www.newfies-dialer.org/pricing/</a></p>
    </div>

    <div class="col-6 col-sm-6 col-lg-6">
        <h2>{% trans "documentation"|title %}</h2>
        <p>Newfies-Dialer's Documentation & FAQ are available at: <br/>
        <a href="http://www.newfies-dialer.org/documentation/" target="_blank">http://www.newfies-dialer.org/documentation/</a>.</p>
    </div>
</div>

{% endblock %}
