{% extends "frontend/base.html" %}
{% load i18n utils_tags crispy_forms_tags %}


{% block container %}

    <!--start left panel-->
    {% if not request.path|check_url_for_template_width %}
        {% block sidebar_menu %}
            {% include "frontend/bootstrap_side_menu.html" %}
        {% endblock %}
    {% endif %}

    <!--start right-middle panel-->
    {% if request.path|check_url_for_template_width %}
        <div class="col-xs-12 col-sm-12">
    {% else %}
        <div class="col-xs-12 col-sm-9">
            <!--offcanvas side menu toggle button-->
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">{% trans "side menu"|title %}</button>
            </p>
    {% endif %}

    <!--start row-->
    {% block row_fluid %}
        {% if not user.is_authenticated %}
        <div class="row">
            <div class="col-6 col-sm-6 col-lg-6 quicklogin">
                {# {% crispy loginform loginform.helper %} #}
            </div>
        </div>
        {% endif %}
    {% endblock %}

    <!--start login_notification-->
    {% block login_notification %}
        {% if errorlogin %}
            <div class="alert alert-danger">
                <strong>{% trans "alert"|title %} : </strong>  {{ errorlogin|capfirst }}
            </div>
            </br>
        {% else %}
            {% if notlogged %}
                <div class="alert alert-danger">
                    <strong>{% trans "alert"|title %} : </strong>  {% trans "please login by clicking on login button"|capfirst %}
                </div>
                </br>
            {% endif %}
        {% endif %}
    {% endblock login_notification %}

    <!--start header-->
    {% block header %}
        <div class="page-header">
            {% block content_header %}
                <a href="{% url 'index' %}">{% trans "Home" %}</a> |
                {% if user.is_authenticated %}
                    {% trans "Logged in" %}: {{ user.username }}
                    (<a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a> |
                    <a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a>)
                {% else %}
                    <a href="{% url 'auth_login' %}">{% trans "Log In" %}</a> |
                    {% trans "Not a member?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.
                {% endif %}

                <h1>Newfies-Dialer <small>{% trans "voice broadcasting solution"|title %}</small></h1>
            {% endblock %}
        </div>
    {% endblock %}

    <!--start extra_files-->
    {% block extra_files %}
    {% endblock %}

    <!--start notification-->
    {% block notification %}
        {% if user.is_authenticated %}
            {% if dialer_setting_msg %}
            <div class="alert alert-danger">
                <strong>{% trans "alert"|title %} : </strong>  {{ dialer_setting_msg }}
                {% if not request.session.has_notified %}
                    {% trans "to send notification to administrator"|capfirst %} <a href="/notify/admin/">{% trans "click here"|capfirst %}</a>
                {% else %}
                    {% trans "(notification sent)" %}
                {% endif %}
            </div>
            {% endif %}
        {% endif %}

        <!--Success Message of view-->
        {% if msg %}
            <div class="alert alert-success">
                <strong>{% trans "Notification"|title %} : </strong>  {{ msg|capfirst }}
            </div>
        {% endif %}

        <!--Error Message of view-->
        {% if error_msg %}
            <div class="alert alert-danger">
                <strong>{% trans "error"|title %} : </strong>  {{ error_msg|capfirst }}
            </div>
        {% endif %}

        <!--Alert Message of view-->
        {% if info_msg %}
            <div class="alert alert-info">
                <strong>{% trans "info"|title %} : </strong>  {{ info_msg|capfirst }}
            </div>
        {% endif %}
    {% endblock notification %}

    <!--start content-->
    {% block content %}
        <!-- CONTENT BLOCK -->
    {% endblock %}

    </div><!--end right-middle panel-->

{% endblock %}

{% block footer %}
    {% include "frontend/footer.html" %}
{% endblock %}
