{% extends "frontend/master.html" %}
{% load i18n %}

{% block content_header %}
    <h1>
        {% if action == 'update' %}
            {% trans "update"|title %}
        {% elif action == 'add' %}
            {% trans "add"|title %}
        {% endif %}
        {% trans "voice applications"|title %}
        <small>{% trans "configure voice application"|capfirst %}</small>
    </h1>
{% endblock %}

{% block content %}

    <form class="well" {% if action != 'view' %}method="POST" action="." enctype="multipart/form-data"{% endif %}>{% csrf_token %}
        {% for field in form %}
         <div class="clearfix{% if field.errors %} control-group error{% endif %}">
            <label class="control-label" for="{{ field.auto_id }}">{{ field.label|title }}</label>
            <div class="input">
                {{ field }}
                {% if field.errors %}
                    <span class="help-block">{{ field.errors|removetags:"ul li"|safe }}</span>
                {% endif %}
                <span class="help-block">{{ field.help_text|capfirst|safe }} </span>
            </div>
         </div>
         {% endfor %}

         {% if action != 'view' %}
         <div class="actions">
             {% if action == 'update' %}
                <input id="update" type="submit" class="btn btn-primary" value="{% trans "update"|title %}" />
             {% else %}
                <input id="add" type="submit" class="btn btn-primary" value="{% trans "submit"|title %}" />
             {% endif %}
               &nbsp;&nbsp;
             {% if action == 'update' %}
                 <input id="delete" class="btn btn-danger" name="delete" type="submit" value="{% trans "delete"|title %}" />
             {% endif %}
         </div>
         {% endif %}
    </form>

{% endblock %}
