{% extends "frontend/master.html" %}
{% load dialer_cdr_extras i18n icons %}


{% block extra_files %}
    {% include "frontend/custom_jquery_select_all.html" %}
{% endblock %}

{% block content_header %}
    <h1>{% trans "Voice Applications" %} <small>{% trans "List, add and edit voice applications" %}</small></h1>
{% endblock %}

{% block content %}

{% if msg %}
    <div class="alert alert-success">
        <strong>{% trans "Alert" %} : </strong>  {{ msg }}
    </div>
{% endif %}

<br/>

<form method="POST" action="del/0/" enctype="multipart/form-data" id="ListForm">{% csrf_token %}
    <table id="flex1" align="left" style="display:none;"></table>
</form>

<script type="text/javascript">

$("#flex1").flexigrid({
    url: "/voiceapp_grid/",
    method: 'GET',
    dataType: 'json',
	colModel : [
        {display: '<input type="checkbox" onclick="toggleChecked(this.checked)">', name: '', width: 50, align: 'center'},
        {display: '{% trans "Name" %}', name: 'name', width: 150, sortable: true, align: 'center'},
        {display: '{% trans "Description" %}', name: 'description', width: 160, sortable: true, align: 'center'},
        {display: '{% trans "Type" %}', name: 'type', width: 100, sortable: true, align: 'center'},
        {display: '{% trans "Gateway" %}', name: 'gateway__name', width: 150, sortable: true, align: 'center'},
        {display: '{% trans "Data" %}', name: 'data', width: 150, sortable: true, align: 'center'},
        {display: '{% trans "TTS Language" %}', name: 'tts_language', width: 90, sortable: true, align: 'center'},
        {display: '{% trans "Date" %}', name: 'updated_date', width: 120, sortable: true, align: 'center', formatter:'datformatter:statusFmattere'},
        {display: '{% trans "Action" %}', name: '', width : 100, align: 'center', formatter:'showlink', formatoptions:{baseLinkUrl:'', }, },
		],
    buttons : [
		{name: '{% trans "Add" %}', bclass: 'add', onpress : add_button},
        {separator: true},        
        {name: '{% trans "Delete Selected" %}', bclass: 'delete', onpress : delete_button},
		],
    sortname: "id",
	sortorder: "asc",
	usepager: true,
	title: '{% trans "Voice Apps" %}',
	useRp: true,
	rp: 10,
	showTableToggleBtn: true,
	//width: 900,
	height: 265,
    //preProcess: formatContactResults,
    onSuccess: function(data){
        //alert(data);        
    },
    onError: function(){
        alert("Request failed");
    },
});

function add_button()
{
    window.location = 'add/';
}
function delete_button()
{
    $('#ListForm').submit();
}
</script>

{% endblock %}