{% extends "frontend/master.html" %}
{% load i18n dialer_cdr_extras %}

{% block content_header %}
    <h1>
        {% trans "Voice Applications" %}
        <small>{% trans "Configure voice application" %}</small>
    </h1>
{% endblock %}

{% block content %}

    <form class="well">
        {% for field in form %}
            <div class="clearfix{% if field.errors %} control-group error{% endif %}">
                <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                <div class="input">
                    {{ field }}
                    {% if field.errors %}
                        <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span>
                    {% endif %}
                    <span class="help-block">{{ field.help_text|safe }} </span>
                </div>
            </div>
        {% endfor %}
    </form>

{% endblock %}
