{% load i18n %}

<div class="row">
    <div class="col-md-12 text-right">
    {% if action == 'update' %}
        <input id="update" type="submit" class="btn btn-primary" value="{% trans "update"|title %}" />
        <input id="delete" name="delete" class="btn btn-danger" type="submit" value="{% trans "delete"|title %}" />
        <!-- using button submit doesn't work for all cases / try delete a campaign that have no survey assigned for instance -->
        <button type="submit" id="delete" name="delete" class="btn btn-danger">
            <i class="fa fa-trash-o fa-lg"></i> {% trans "delete"|title %}
        </button>
    {% else %}
        <input id="add" type="submit" class="btn btn-primary" value="{% trans "submit"|title %}" />
    {% endif %}
    </div>
</div>