<script type="text/javascript">
$(function() {
    var today = new Date();
    var last_day_of_month = new Date(today.getFullYear(), today.getMonth()+1, 0).getDate();

    var fromDate = new Date(today.getFullYear(), today.getMonth(), 1);
    var toDate = new Date(today.getFullYear(), today.getMonth(), last_day_of_month);

    $('#id_from_date').datepicker({
        format: 'yyyy-mm-dd'
    }).on('changeDate', function(selectedDate){
        if (selectedDate.date.valueOf() > toDate.valueOf()){
            $('#id_from_date').datepicker('setValue', fromDate);
        } else {
            fromDate = new Date(selectedDate.date);
        }
    });

    $('#id_to_date').datepicker({
        format: 'yyyy-mm-dd'
    }).on('changeDate', function(selectedDate){
        if (selectedDate.date.valueOf() < fromDate.valueOf()){
            $('#id_to_date').datepicker('setValue', toDate);
        } else {
            toDate = new Date(selectedDate.date);
        }
    });


    // datetimepicker for start, end & created_on field
    var fromDate = new Date(today.getFullYear(), today.getMonth(), today.getDate(),today.getHours(), today.getMinutes(), today.getSeconds());
    var toDate = new Date(today.getFullYear(), today.getMonth(), last_day_of_month, 23, 59, 59);
    $('#id_start').datetimepicker({
        format: 'yyyy-mm-dd hh:ii:ss',
        autoclose: true,
    }).on('changeDate', function(selectedDate){
        if (selectedDate.date.valueOf() > toDate.valueOf()){
            $('#id_start').datetimepicker('setValue', fromDate);
        } else {
            fromDate = new Date(selectedDate.date);
        }
    });

    $('#id_end').datetimepicker({
        format: 'yyyy-mm-dd hh:ii:ss',
        autoclose: true,
    }).on('changeDate', function(selectedDate){
        if (selectedDate.date.valueOf() < fromDate.valueOf()){
            $('#id_end').datetimepicker('setValue', toDate);
        } else {
            toDate = new Date(selectedDate.date);
        }
    });

    $('#id_created_on, #id_date_start_notice,#id_end_recurring_period,#id_start_date').datetimepicker({
        format: 'yyyy-mm-dd hh:ii:ss',
        autoclose: true,
    });
});
</script>
