{% extends "frontend/master.html" %}
{% load i18n common_tags nvd3_tags %}

{% block title %}
    {% trans 'dashboard'|title %}
{% endblock %}

{% block extra_header %}
    {% include_chart_jscss 'newfies' %}

    {% load_chart final_charttype final_chartdata "final_container" True "%d %b %Y" %}
    {% load_chart hangup_analytic_charttype hangup_analytic_chartdata "hangup_analytic_container" %}
{% endblock %}

{% block content_header %}
    <h1>{% trans "dashboard"|title %} <small>{% trans "realtime campaign performance monitoring"|capfirst %}</small></h1>
{% endblock %}

{% block content %}
<div id="label" align="center">
    <form class="well form-inline" method="POST" action="." id="id_searchform" name="searchform" enctype="multipart/form-data">{% csrf_token %}
        <p align="center">
            {{ form.campaign }} {{ form.search_type }}
            <input type="submit" class="btn primary" name="submit" value="{% trans "Submit" %}">
        </p>
        <table align="center" class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th>{% trans "campaign"|title %}</th>
                <th>{% trans "total phonebook contacts"|title %}</th>
                <th>{% trans "total campaign contacts"|title %}</th>
                <th>{% trans "contacted today"|title %}</th>
            </tr>
            </thead>
            <tr>
                <td class="rounded-foot-left">{{ campaign_count }}</td>
                <td>{{ total_of_phonebook_contacts }}</td>
                <td>{{ campaign_phonebook_active_contact_count }}</td>
                <td class="rounded-foot-right">{{ reached_contact }}</td>
            </tr>
        </table>
    </form>
</div>

<div class="row">
    <div class="span12">
        {% include_container "final_container" 400 '100%' %}
    </div>
</div>

<br/><br/>
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span6">
                {% include_container "hangup_analytic_container" 400 500 %}
            </div>

            <div class="span6">
                <table style="width: 400px; margin: 50px 0px 0px 0px; background-color: #e6f7fe;" class="bordered-table">
                    <tr>
                        <th style="color: #111111; width: 120px;" colspan="3">{{ total_call_count }}  {% trans "TOTAL CALLS" %}</th>
                    </tr>
                    <tr>
                        <th style="color: {{ answered_color }}">{{ total_answered }}  {{ VOIPCALL_DISPOSITION.ANSWER }}</th>
                        <th style="color: {{ busy_color }}">{{ total_busy }}  {{ VOIPCALL_DISPOSITION.BUSY }}</th>
                        <th style="color: {{ not_answered_color }}">{{ total_not_answered }}  {{ VOIPCALL_DISPOSITION.NOANSWER }}</th>
                    </tr>
                    <tr>
                        <th style="color: {{ cancel_color }}">{{ total_cancel }}  {{ VOIPCALL_DISPOSITION.CANCEL }}</th>
                        <th style="color: {{ congestion_color }}">{{ total_congestion }}  {{ VOIPCALL_DISPOSITION.CONGESTION }}</th>
                        <th style="color: {{ failed_color }}">{{ total_failed }}  {{ VOIPCALL_DISPOSITION.FAILED }}</th>
                    </tr>
                </table>

                <div id="hover" style="float: left;"><span style="font-weight: bold; color: rgb(148, 64, 237);"></span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
