{% extends "frontend/master.html" %}
{% load i18n common_tags %}

{% block title %}
    {% trans 'Dashboard' %}
{% endblock %}

{% block extra_header %}
    {% include "frontend/flotr_humble_header.html" %}
    <script type="text/javascript">
      //jQuery.noConflict(); // To resolve conflict with jquery & prototype
      (function($){ // jquey function call in (function($){})(jQuery);
          $(document).ready(function() {
            $("#language-container").change(function() {
                this.form.submit();
            });
          });
      })(jQuery);
    </script>
{% endblock %}

{% block content_header %}
    <h1>{% trans "Dashboard" %} <small>{% trans "Realtime campaign performance monitoring" %}</small></h1>
{% endblock %}

{% block content %}
<div id="label" align="center">

<form class="well form-inline" method="POST" action="." id="id_searchform" name="searchform" enctype="multipart/form-data">{% csrf_token %}
<p align="center">
    {{ form.campaign }} {{ form.search_type }}
    <input type="submit" class="btn primary" name="submit" value="{% trans "Submit" %}">
</p>

<table align="center" class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
        <th>{% trans "Campaign" %}</th>
        <th>{% trans "Total Phonebook Contacts" %}</th>
        <th>{% trans "Total Campaign Contacts" %}</th>
        <th>{% trans "Contacted Today" %}</th>
    </tr>
    </thead>
    <tr>
        <td class="rounded-foot-left">{{ campaign_count }}</td>
        <td>{{ total_of_phonebook_contacts }}</td>
        <td>{{ campaign_phonebbok_active_contact_count }}</td>
        <td class="rounded-foot-right">{{ reached_contact }}</td>
    </tr>
</table>

<script type="text/javascript">
    var jsonData = [
        {% for td in total_data %}
           {date:'{{ td.date }}', year:{{ td.year }},day:{{ td.day }}, month:{{ td.month }}, calls:{{ td.starting_date__count }}, duration:'{{ td.duration__sum|conv_min }}', act:'{{ td.duration__avg|conv_min }}'},
        {% endfor %}
    ];

    var callData = [
        {% for td in total_data %}
            [{{ td.count }} , {{ td.starting_date__count }}],
        {% endfor %}
    ];

    var durationData = [
        {% for td in total_data %}
            [{{ td.count }} , {{ td.duration__sum }}],
        {% endfor %}
    ];

    var summaryData = [
        {% for td in total_data %}
            [{{ td.count }} , {{ td.starting_date__count }}],
        {% endfor %}
    ];
</script>

<script type="text/javascript">
(function($){
    Event.observe(document, 'dom:loaded', function() {
        prettyPrint();
        HumbleFinance.trackFormatter = function (obj) {
            var x = Math.floor(obj.x);
            var data = jsonData[x];
            var text = data.date + " {% trans "Calls :"  %} " + data.calls + " {% trans "Duration :"  %} " + data.duration + " {% trans "ACT :"  %} " + data.act;
            return text;
        };
        HumbleFinance.yTickFormatter = function (n) {
            if (n == this.axes.y.max) {
                return false;
            }
            return n;
        };
        HumbleFinance.xTickFormatter = function (n) {
            if (n == 0) {
                return false;
            }
            x = Math.floor(n)
            var data = jsonData[x].day;
            return data;
        };
        {% if select_graph_for == 'Call Count' %}
            HumbleFinance.init('finance', callData, durationData, summaryData);
        {% else %}
            HumbleFinance.init('finance', durationData, callData, summaryData);
        {% endif %}
      });
})(jQuery);
</script>

<input type="submit" class="btn" value="{% trans "Call Count" %}" name="call_count_button"/> &nbsp; &nbsp;
<input type="submit" class="btn btn-info" value="{% trans "Duration" %}" name="duration_button"/>
</form>

</div>

{% if total_data %}
<div class="row">
    <div class="span12">
    <div id="finance">
        <div id="labels">
            <div id="financeTitle"></div>
            <div id="dateRange"></div>
        </div>
    </div>
    </div>
</div>
{% endif %}

<br/><br/>

{% if final_calls %}

    <script type="text/javascript">
    function pieHover(event, pos, obj)
    {
        if (!obj)
            return;
        percent = parseFloat(obj.series.percent).toFixed(2);
        (function($){
            $("#hover").html('<span style="font-weight: bold; color: '+obj.series.color+'">'+obj.series.label+' ('+percent+'%)</span>');
        })(jQuery);
    }

    function pieClick(event, pos, obj)
    {
        if (!obj)
            return;
        percent = parseFloat(obj.series.percent).toFixed(2);
        alert(''+obj.series.label+': '+percent+'%');
    }
    (function($){
        $(function () {

            var data = [
                { label: 'ANSWER' , data: [[1, {{ total_answered }}]], color: '{{ answered_color }}' },
                { label: 'BUSY' , data: [[1, {{ total_busy }}]], color: '{{ busy_color }}' },
                { label: 'NOANSWER' , data: [[1, {{ total_not_answered }}]], color: '{{ not_answered_color }}' },
                //{ label: 'OHTERS' , data: [[1, {{ total_others }}]]},
                { label: 'CANCEL' , data: [[1, {{ total_cancel }}]], color: '{{ cancel_color }}' },
                { label: 'CONGESTION' , data: [[1, {{ total_congestion }}]], color: '{{ congestion_color }}' },
                { label: 'CHANUNAVAIL' , data: [[1, {{ total_chanunavail }}]], color: '{{ chanunavail_color }}' },
                { label: 'DONTCALL' , data: [[1, {{ total_dontcall }}]], color: '{{ dontcall_color }}' },
                { label: 'TORTURE' , data: [[1, {{ total_torture }}]], color: '{{ torture_color }}' },
                { label: 'INVALIDARGS' , data: [[1, {{ total_invalidargs }}]], color: '{{ invalidargs_color }}' },
                { label: 'NOROUTE' , data: [[1, {{ total_noroute }}]], color: '{{ noroute_color }}' },
                { label: 'FORBIDDEN' , data: [[1, {{ total_forbidden }}]], color: '{{ forbidden_color }}' },
            ];
            var options = {
                    series: {
                        pie: {
                            show: true,
                            radius: 1,
                            label: {
                                show: true,
                                radius: 3/4,
                                formatter: function(label, series){
                                    return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                                    }
                                },
                            background: { opacity: 0.5 },
                        }
                    },
                    legend: {
                        show: false,
                    },
                    grid: {
                        hoverable: true,
                        clickable: true
                    },
            };
            $("#camp_pie").bind("plothover", pieHover);
            $("#camp_pie").bind("plotclick", pieClick);
            var plot = $.plot($("#camp_pie"), data, options);
        });

    })(jQuery);
</script>

<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span6">
                <div id="camp_pie" style="width:300px;height:270px;float:left;margin: 0px 50px 50px 50px;"></div>
            </div>

            <div class="span6">
                <table style="width: 400px; margin: 50px 0px 0px 0px; background-color: #e6f7fe;" class="bordered-table">
                <tr>
                    <th style="color: #111111; width: 120px;" colspan="3">{{ total_call_count }}  {% trans "TOTAL CALLS"  %}</th>
                </tr>
                <tr>
                    <th style="color: {{ answered_color }}">{{ total_answered }}  {% trans "ANSWERED"  %}</th>
                    <th style="color: {{ dontcall_color }}">{{ total_dontcall }}  {% trans "DONTCALL"  %}</th>
                    <th style="color: {{ busy_color }}">{{ total_busy }}  {% trans "BUSY"  %}</th>
                </tr>
                <tr>
                    <th style="color: {{ chanunavail_color }}">{{ total_chanunavail }}  {% trans "CHANUNAVAIL"  %}</th>
                    <th style="color: {{ torture_color }}">{{ total_torture }}  {% trans "TORTURE"  %}</th>
                    <th style="color: {{ not_answered_color }}">{{ total_not_answered }}  {% trans "NOANSWER"  %}</th>
                </tr>
                <tr>
                    <th style="color: {{ invalidargs_color }}">{{ total_invalidargs }}  {% trans "INVALIDARGS"  %}</th>
                    <th style="color: {{ cancel_color }}">{{ total_cancel }}  {% trans "CANCEL"  %}</th>
                    <th style="color: {{ noroute_color }}">{{ total_noroute }}  {% trans "NOROUTE"  %}</th>
                </tr>
                <tr>
                    <th style="color: {{ congestion_color }}">{{ total_congestion }}  {% trans "CONGESTION"  %}</th>
                    <th style="color: {{ forbidden_color }}">{{ total_forbidden }}  {% trans "FORBIDDEN"  %}</th>
                    <th>&nbsp;</th>
                </tr>
                </table>

                <div id="hover" style="float: left;"><span style="font-weight: bold; color: rgb(148, 64, 237);"></span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}
