
<!-- Extra Header Modal Css / JS -->

<script type="text/javascript" src="{{ STATIC_URL }}newfies/js/jquery/2.0.3/jquery.min.js"></script>
<!--jquery-ui-bootstrap js-->
<script type="text/javascript" src="{{ STATIC_URL }}newfies/jquery-ui-bootstrap/js/jquery-ui-1.9.2.custom.min.js"></script>

<script src="{{ STATIC_URL }}newfies/bootstrap/js/bootstrap.js"></script>
<link href="{{ STATIC_URL }}newfies/bootstrap/css/bootstrap.css" rel="stylesheet">
<!--jquery-ui-bootstrap css-->
<link href="{{ STATIC_URL }}newfies/jquery-ui-bootstrap/css/jquery-ui-1.10.0.custom.css" rel="stylesheet">

<!-- font-awesome -->
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<!-- bootstrap-switch -->
<link rel="stylesheet" href="{{ STATIC_URL }}newfies/bootstrap-switch/stylesheets/bootstrap-switch.css" />

<!-- Newfies custom css -->
<link type="text/css" media="screen" href="{{ STATIC_URL }}newfies/css/newfies_custom.css" rel="stylesheet"/>