
<!-- Extra Header Modal Css / JS -->
<script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.min.js"></script>

<link media="all" href="{{ STATIC_URL }}/jquery-ui/themes/flick/jquery-ui.min.css" type="text/css" rel="stylesheet" />
<link href="{{ STATIC_URL }}/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-switch/build/css/bootstrap3/bootstrap-switch.min.css" />
<link type="text/css" media="screen" href="{{ STATIC_URL }}newfies/css/newfies_custom.css" rel="stylesheet"/>
