{% extends "frontend/master.html" %}
{% load i18n %}


{% block content %}

<!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">
        
          <img src="{{STATIC_URL}}newfies/images/newfies-dialer.png" height="120"/>
		  <p><a href="http://www.newfies-dialer.org/" target="_blank" >Newfies-Dialer</a>  {% trans "is Voice Broadcasting and AutoDialer software to provide information via the phone." %} {% trans "Newfies-Dialer can scale to make millions of calls daily by using realtime call processing across multiple servers in the cloud." %}</p>
		  
          <p><a class="btn primary large" href="http://www.newfies-dialer.org/about-us/contact/">Learn more &raquo;</a></p>
        
        </div>
        <!-- Example row of columns -->
        <div class="row">
          <div class="span7">
            <h2>Support</h2>
            <p>{% trans "Star2Billing S.L. offers consultancy including installation, training and customisation on Newfies-Dialer" %}</p>
            <p>{% trans "Contact us at" %} <a href="mailto:newfies-dialer@star2billing.com">newfies-dialer@star2billing.com</a> {% trans "for more information" %}<p>
            <p><a class="btn" href="http://www.newfies-dialer.org/support/">Get Support &raquo;</a></p>
          </div>
          <div class="span7 offset1">
            <h2>Licensing</h2>
             <p>{% trans "Newfies-Dialer is licensed under" %} <a href="http://www.mozilla.org/MPL/2.0/" target="_blank">MPL V2</a>,
                {% trans "however an alternative license can be purchased if the MPL V2 license is not suitable for your requirements." %}</p>
            <p><a class="btn" href="http://www.newfies-dialer.org/support/licensing/">View Licensing details &raquo;</a></p>
         </div>
        </div>
        
      </div>
	
</div>
</div>

{% endblock %}


