
<script type="text/javascript">
      (function($){
          $(function(){

            $('#buttonlogin').click(function(){
              $("#requestlogin").animate({ height: 'show', opacity: 'show' }, 'slow');
              $("#buttonlogin").animate({ height: 'hide', opacity: 'hide' }, 'fast');
            });
            $('#buttonlogout').click(function(){
              $('#logout').submit();
            });
          });
      })(jQuery);
</script>
    
    
{% block login %}

   <div id="requestlogin" style="margin: 10px; padding: 10px;  width: 216px; height: auto; float : left; display: none; " class="ui-widget ui-widget-content ui-corner-all">
     <form action="/login/" method="post">
         {% csrf_token %}
         {% for field in loginform %}
            <div class="fieldWrapper">
                {{ field.errors|removetags:"ul li"|safe }}<br/>
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
         <input type="submit" value="login" class="ui-state-default"><br/><a href="/password_reset/">Forgot password?</a>
     </form>
   </div>
   	
{% endblock login %}


