{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">

    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>{% block title %}Newfies-Dialer{% endblock %} | {% trans "Customer Interface" noop %}</title>
    <link rel="icon" type="image/png" href="{{STATIC_URL}}newfies/images/favicon.png">
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{STATIC_URL}}newfies/bootstrap-1.4.0/css/bootstrap.css" rel="stylesheet">

    <!--Override bootstrap-->
    <link href="{{STATIC_URL}}newfies/css/override_bootstrap.css" rel="stylesheet">

    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
    <!-- Le javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}newfies/js/custom.validation.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}newfies/js/jquery-ui-1.8.16.custom.min.js"></script>
    
    <script src="{{STATIC_URL}}newfies/bootstrap-1.4.0/js/bootstrap-modal.js"></script>
    <script src="{{STATIC_URL}}newfies/bootstrap-1.4.0/js/bootstrap-alerts.js"></script>
    <script src="{{STATIC_URL}}newfies/bootstrap-1.4.0/js/bootstrap-twipsy.js"></script>
    <script src="{{STATIC_URL}}newfies/bootstrap-1.4.0/js/bootstrap-popover.js"></script>
    <script src="{{STATIC_URL}}newfies/bootstrap-1.4.0/js/bootstrap-dropdown.js"></script>
    <script src="{{STATIC_URL}}newfies/bootstrap-1.4.0/js/bootstrap-scrollspy.js"></script>
    <script src="{{STATIC_URL}}newfies/bootstrap-1.4.0/js/bootstrap-tabs.js"></script>
    <script src="{{STATIC_URL}}newfies/bootstrap-1.4.0/js/bootstrap-buttons.js"></script>
    
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{STATIC_URL}}newfies/images/favicon.png">
    <link rel="apple-touch-icon" href="{{STATIC_URL}}newfies/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{STATIC_URL}}newfies/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{STATIC_URL}}newfies/images/apple-touch-icon-114x114.png">

    <!-- jquery UI css -->
    <link type="text/css" href="{{STATIC_URL}}newfies/css/jquery-ui-bootstrap/jquery-ui-1.8.16.custom.css" rel="stylesheet">

    <!-- Newfies custom css -->
    <link type="text/css" media="screen" href="{{STATIC_URL}}newfies/css/newfies_custom.css" rel="stylesheet"/>

    <!--flot-->
    <script src="{{STATIC_URL}}newfies/js/jquery.flot.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}newfies/js/jquery.flot.pie.js" type="text/javascript"></script>

    {% block extra_header %}
        {{ extra_header }}
    {% endblock %}

    <script type="text/javascript">
      $(document).ready(function() {
        $(".fg-button").hover(
            function(){
                $(this).addClass("ui-state-hover");
            },
            function(){
                $(this).removeClass("ui-state-hover");
            }
        );
        $('#buttonlogin').click(function(){
          $("#requestlogin").animate({ height: 'show', opacity: 'show' }, 'slow');
        });
        $("#language-container").change(function() {
            this.form.submit();
        });
      });
    </script>

</head>

<body>

{% include "frontend/bootstrap_menu.html" %}

<div class="container">

    <div class="content">
    
      {% if errorlogin %}
          <div class="alert-message error">
              <strong>{% trans "Alert"  %} : </strong>  {{ errorlogin }}
          </div>
          </br>
      {% else %}
          {% if notlogged %}
          <div class="alert-message error">
              <strong>{% trans "Alert"  %} : </strong>  {% trans "Please login by clicking on login button"  %}
          </div>
          </br>
          {% endif %}
      {% endif %}

        <div class="page-header">
          {% block content_header %}
            <h1>Newfies-Dialer <small>{% trans "Voice Broadcasting solution" %}</small></h1>
          {% endblock %}
        </div>
        
        {% block extra_files %}
        {% endblock %}

        
        {% if user.is_authenticated %}
            {% if dialer_setting_msg %}
            <div class="span-24 last">
                <div class="alert-message error">
                    <strong>{% trans "Alert" %} : </strong>  {{ dialer_setting_msg }}
                    {% if not request.session.has_notified %}
                        {% trans "To send notification to administrator" %} <a href="/notify/admin/">{% trans "Click here" %}</a>
                    {% else %}
                        {% trans "(Notification sent)" %}
                    {% endif %}
                </div>
            </div>
            {% endif %}
        {% endif %}
        
        {% block content %}
        <!-- CONTENT BLOCK -->
        {% endblock %}
    </div>
    

    <footer>
        <p>Newfies-Dialer v{{ newfies_version }} {% trans "is" %} <a href="http://www.newfies-dialer.org/" target="_blank">{% trans "Autodialer software" %}</a> {% trans "licensed under the "  %}
            <a href="http://www.fsf.org/licensing/licenses/agpl-3.0.html" target="_blank">AGPL 3</a>. <br/>
            Copyright (C) 2010-2012 - Star2billing S.L. <a href="http://www.star2billing.com" target="_blank">http://www.star2billing.com</a></p>
    </footer>
      
</div>

</body>
</html>
