{% load i18n %}

<script type="text/javascript">
    $(function () {
        $('#helpover').popover();
        $(".fg-button").hover(
            function(){
                $(this).addClass("ui-state-hover");
            },
            function(){
                $(this).removeClass("ui-state-hover");
            }
        );
        $('#buttonlogin').click(function(){
          $("#requestlogin").animate({ height: 'show', opacity: 'show' }, 'slow');
        });
        $("#language-container").change(function() {
            this.form.submit();
        });
    });
</script>