{% load i18n %}

{# TODO move this to a JS file #}

<script type="text/javascript">
$(document).ready(function(){
    $(function () {
        $('#helpover').popover();
        $(".fg-button").hover(
            function(){
                $(this).addClass("ui-state-hover");
            },
            function(){
                $(this).removeClass("ui-state-hover");
            }
        );
        $('#buttonlogin').click(function(){
          $("#requestlogin").animate({ height: 'show', opacity: 'show' }, 'slow');
        });
        $("#language-container").change(function() {
            this.form.submit();
        });
    });

    // toggle event for forms
    $(function() {

        $("#form_collapse").on('hidden.bs.collapse', function() {
            $('#toggle_btn_i_span').text('{% trans "open search"|title %}');
            $('#toggle_btn_i').attr('class', 'glyphicon glyphicon-zoom-in');
        });

        $("#form_collapse").on('shown.bs.collapse', function() {
            $('#toggle_btn_i_span').text('{% trans "hide search"|title %}');
            $('#toggle_btn_i').attr('class', 'glyphicon glyphicon-zoom-out');
        });
    });
});
</script>