{% load i18n %}

<script type="text/javascript">
    $(function () {
        $('#helpover').popover();
        $(".fg-button").hover(
            function(){
                $(this).addClass("ui-state-hover");
            },
            function(){
                $(this).removeClass("ui-state-hover");
            }
        );
        $('#buttonlogin').click(function(){
          $("#requestlogin").animate({ height: 'show', opacity: 'show' }, 'slow');
        });
        $("#language-container").change(function() {
            this.form.submit();
        });
    });
    // toggle event for forms
    $(function() {
        {% if search_tag == 1 %}
            $(".collapse").collapse();
        {% endif %}

        $(".collapse").on('hide', function () {
            $('#toggle_btn span').text('{% trans "search"|title %}');
            $('#toggle_btn i').toggleClass('icon-search');
            $('#toggle_btn i').toggleClass('icon-zoom-out');
        });
        $(".collapse").on('hidden', function() {
            $('#toggle_btn span').text('{% trans "search"|title %}');
        });
        $(".collapse").on('show', function() {
            $('#toggle_btn span').text('{% trans "hide search"|title %}');
            $('#toggle_btn i').toggleClass('icon-search');
            $('#toggle_btn i').toggleClass('icon-zoom-out');
        });
        $(".collapse").on('shown', function() {
            $('#toggle_btn span').text('{% trans "hide search"|title %}');
        });
        {% if search_tag == 0 %}
            $(".collapse").collapse('hide');
        {% endif %}
    });
</script>