<!--[if IE]>
<script type="text/javascript" src="{{STATIC_URL}}newfies/js/flotr/excanvas.js"></script>
<![endif]-->
<script type="text/javascript" src="{{STATIC_URL}}newfies/js/prototype/prototype.js" ></script>
<script src="{{STATIC_URL}}newfies/js/prettify.js" type="text/javascript"></script>
<script type="text/javascript" src="{{STATIC_URL}}newfies/js/flotr/base64.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}newfies/js/flotr/canvas2image.js"></script>
<script src="{{STATIC_URL}}newfies/js/flotr/canvastext.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}newfies/js/flotr/flotr.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}newfies/js/flotr/flotr.humble.js" type="text/javascript"></script>

<!--humble-->
<link href="{{STATIC_URL}}newfies/css/humble/finance.css" type="text/css" rel="stylesheet">
<script src="{{STATIC_URL}}newfies/js/humble/HumbleFinance.js" type="text/javascript"></script>

