<!--visualize-->
<link href="{{STATIC_URL}}newfies/css/Visualize/basic.css" type="text/css" rel="stylesheet" />
<link href="{{STATIC_URL}}newfies/css/Visualize/visualize.css" type="text/css" rel="stylesheet" />
<link href="{{STATIC_URL}}newfies/css/Visualize/visualize-light.css" type="text/css" rel="stylesheet" />

<script src="{{STATIC_URL}}newfies/js/Visualize/excanvas.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}newfies/js/Visualize/visualize.jQuery.js" type="text/javascript"></script>
