{% extends "admin/base.html" %}
{% load i18n admin_tools_menu_tags %}

{% block title %}{% trans 'Newfies Admin' %}{% endblock %}
{% block extrahead %}
<link rel="icon" type="image/png" href="{{STATIC_URL}}newfies/images/favicon.png">
<style>

#header #bookmark-button {
right:280px;!important;
}
#header  {
color:#555555;
}
#header a:link, #header a:visited {
color:#555555;
}
a:link, a:visited {
color:#5B80B2;
text-decoration:none;
}
</style>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
{% if user.is_active and user.is_staff %}
{% if not is_popup %}
{% admin_tools_render_menu_css %}
{% endif %}
{% endif %}
{% endblock %}


{% block nav-global %}
{% if user.is_active and user.is_staff %}
{% if not is_popup %}
{% admin_tools_render_menu %}
{% endif %}
{% endif %}
{% endblock %}
