{% load i18n common_tags %}

{% block content %}

{% if err_msg %}
    {% include "frontend/extra_modal_files.html" %}        
    <script type="text/javascript" charset="utf-8">
        $(window).load(function(){
            $('#duplicate-campaign').modal('show');
        });

        var url = '/campaign/';
        $(".close").live('click', function() {
            $(location).attr('href', url);
        });

        var KEYCODE_ESC = 27;
        $(document).keyup(function(e) {
            if (e.keyCode == KEYCODE_ESC) { $(location).attr('href', url); }
        });
    </script>
    <!-- modal content-->
    <div class="modal hide fade" id="duplicate-campaign">
{% endif %}

        <div class="modal-header">
            <a class="close" data-dismiss="modal" >&times;</a>
            <h3>{% trans "Campaign" %}
                <small></small>
            </h3>
        </div>
        <form method="POST" action="/campaign_duplicate/{{ campaign_id }}/" enctype="multipart/form-data" id="update_form">
        {% csrf_token %}
            <div class="modal-body">
                <div class="row">
                    {% get_fieldset campaign_code,name as campaign_fields from form %}
                    {% for field in campaign_fields.hidden_fields %}
                        {{ field }}
                    {% endfor %}
                    {% for field in campaign_fields.visible_fields %}
                        <div class="span2">
                            <div class="clearfix{% if field.errors %} control-group error{% endif %}">
                                <label for="id_{{ field.name }}">{{ field.label }}</label>
                                <div class="input">
                                    {{ field }}
                                    {% if field.errors %}
                                        <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span>
                                    {% endif %}
                                    <span class="help-block">{{ field.help_text }} </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="modal-footer" align="right">
                <input id="id_add" name="add" type="submit" class="btn btn-primary" value="{% trans "Save" %}" />
                &nbsp;
                <a href="#" class="close btn" data-dismiss="modal">{% trans "Close" %}</a>
            </div>
        </form>

{% if err_msg %}
    </div>
{% endif %}

{% endblock %}

{% block footer %}
{% endblock %}

