{% extends "frontend/master.html" %}
{% load i18n common_tags %}

{% block header_files %}
{% endblock %}

{% block extra_files %}
{% endblock %}

{% block row_fluid %}
{% endblock %}

{% block header %}
{% endblock %}

{% block newfies_custom_js %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block container %}

    {% block content %}
        {% if err_msg %}
            {% include "frontend/extra_modal_header.html" %}
            <script type="text/javascript" charset="utf-8">
                $(function () {
                    $(window).load(function(){
                        $('#duplicate-campaign').modal('show');
                    });

                    var url = '/campaign/';
                    $("#id_close,#id_close_x").live('click', function() {
                        $(location).attr('href', url);
                    });

                    var KEYCODE_ESC = 27;
                    $(document).keyup(function(e) {
                        if (e.keyCode == KEYCODE_ESC) { $(location).attr('href', url); }
                    });
                });
            </script>
            <!-- modal content-->
            <div class="modal fade" id="duplicate-campaign" role="dialog" aria-labelledby="add_duplicate_campaign" data-backdrop="static">
        {% endif %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a id="id_close_x" class="close" data-dismiss="modal" >&times;</a>
                    <h3>{% trans "campaign"|title %}
                        <small></small>
                    </h3>
                </div>
                <form role="form" method="POST" action="/campaign_duplicate/{{ campaign_id }}/" enctype="multipart/form-data" id="update_form">
                {% csrf_token %}
                    <div class="modal-body">
                        {% get_fieldset campaign_code,name,phonebook as campaign_fields from form %}
                        {% for field in campaign_fields.hidden_fields %}
                            {{ field }}
                        {% endfor %}
                        {% for field in campaign_fields.visible_fields %}

                            <div class="form-group {% if field.errors %}has-error{% endif %}">
                                <label for="id_{{ field.name }}" class="control-label">{{ field.label|title }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    <span class="{% if field.errors %}has-error{% endif %}">{{ field.errors|removetags:"ul li"|safe }}</span>
                                {% endif %}
                                <span class="help-block">{{ field.help_text|capfirst }} </span>
                            </div>

                        {% endfor %}
                    </div>

                    <div class="modal-footer" align="right">
                        <input id="id_add" name="add" type="submit" class="btn btn-primary" value="{% trans "save"|title %}" />
                        <button id="id_close" type="button" class="btn btn-default" data-dismiss="modal">{% trans "close"|title %}</button>
                    </div>
                </form>
            </div>
        </div>
    {% if err_msg %}
        </div>
    {% endif %}

    {% include "frontend/extra_modal_footer.html" %}

    {% endblock %}

    {% block footer %}
    {% endblock %}

{% endblock %}