{% extends "frontend/master.html" %}
{% load i18n common_tags %}

{% block extra_files %}
{% endblock %}

{% block content_header %}
    <h1>{% if action == 'update' %}
            {% trans "update"|title %}
        {% else %}
            {% trans "add"|title %}
        {% endif %} {% trans "campaign"|title %}
        <small>{% trans "set campaign parameters"|capfirst %}</small>
    </h1>
{% endblock %}

{% block content %}

    <form class="well" role="form" method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
        <fieldset>
            <legend>{% trans "general settings"|title %}</legend>
            <div class="row">
                <div class="col-md-12">
                    {% get_fieldset campaign_code,ds_user,name,callerid,caller_name,content_object,selected_phonebook,selected_content_object as campaign_fields from form %}
                    {% for field in campaign_fields.hidden_fields %}
                        {{ field }}
                    {% endfor %}
                    {% for field in campaign_fields.visible_fields %}
                        <div class="col-md-6">
                            <div class="form-group {% if field.errors %}has-error{% endif %}">
                            <div class="col-xs-8">
                                <label class="control-label" for="{{ field.auto_id }}">{{ field.label|title }}</label>
                                    {{ field }}
                                    {% if field.errors %}
                                        <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span>
                                    {% endif %}
                                    <span class="help-block">{{ field.help_text|capfirst }} </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% get_fieldset extra_data,dnc,description,phonebook as campaign_fields from form %}
                    {% for field in campaign_fields %}
                        <div class="col-md-6">
                            <div class="form-group {% if field.errors %}has-error{% endif %}">
                                <div class="col-xs-8">
                                <label class="control-label" for="{{ field.auto_id }}">{{ field.label|title }}</label>
                                    {{ field }}
                                    {% if field.errors %}
                                        <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span>
                                    {% endif %}
                                    <span class="help-block">{{ field.help_text|capfirst }} </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>{% trans "dialer settings"|title %}</legend>
            <div class="row">
                <div class="col-md-12">
                {% get_fieldset aleg_gateway,frequency,callmaxduration,maxretry,intervalretry,calltimeout as campaign_settings_fields from form %}
                {% for field in campaign_settings_fields %}
                    <div class="col-md-6">
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                            <div class="col-xs-8">
                            <label class="control-label" for="{{ field.auto_id }}">{{ field.label|title }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span>
                                {% endif %}
                                <span class="help-block">{{ field.help_text|capfirst }} </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>{% trans "dialer completion settings"|title %}</legend>
            <div class="row">
                <div class="col-md-12">
                {% get_fieldset completion_maxretry,completion_intervalretry as campaign_settings_fields from form %}
                {% for field in campaign_settings_fields %}
                    <div class="col-md-6">
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                            <div class="col-xs-8">
                            <label class="control-label" for="{{ field.auto_id }}">{{ field.label|title }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span>
                                {% endif %}
                                <span class="help-block">{{ field.help_text|capfirst }} </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </fieldset>

        <!--Voicemail settings is not enabled by default-->
        {% if AMD %}
        <legend>{% trans "voicemail settings"|title %}</legend>

        <div class="form-group">
            <div class="checkbox">
            {% get_fieldset voicemail as settings_fields from form %}
            {% for field in settings_fields %}
                <label style="display: inline;" for="{{ field.auto_id }}">{{ field }}&nbsp;{{ field.label|title }}</label>
            {% endfor %}
            </div>
        </div>
        <div>&nbsp;</div>
        <div class="row">
            <div class="col-md-12">
                {% get_fieldset amd_behavior,voicemail_audiofile as campaign_fields from form %}
                {% for field in campaign_fields.visible_fields %}
                    <div class="col-md-6">
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                            <div class="col-xs-8">
                            <label class="control-label" for="{{ field.auto_id }}">{{ field.label|title }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span>
                                {% endif %}
                                <span class="help-block">{{ field.help_text|capfirst }} </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <fieldset>
            <legend>{% trans "campaign schedule"|title %}</legend>
            <div class="row">
                <div class="col-md-12">
                    {% get_fieldset startingdate,daily_start_time as date_fields from form %}
                    {% for field in date_fields %}
                        <div class="col-md-6">
                            <div class="form-group {% if field.errors %}has-error{% endif %}">
                                <div class="col-xs-8">
                                <label class="control-label" for="{{ field.auto_id }}">{{ field.label|title }}</label>
                                    {{ field }}
                                    {% if field.errors %}
                                        <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span>
                                    {% endif %}
                                    <span class="help-block">{{ field.help_text|capfirst }} </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% get_fieldset expirationdate,daily_stop_time as date_fields from form %}
                    {% for field in date_fields %}
                        <div class="col-md-6">
                            <div class="form-group {% if field.errors %}has-error{% endif %}">
                                <div class="col-xs-8">
                                <label class="control-label" for="{{ field.auto_id }}">{{ field.label|title }}</label>
                                    {{ field }}
                                    {% if field.errors %}
                                        <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span>
                                    {% endif %}
                                    <span class="help-block">{{ field.help_text|capfirst }} </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% trans "week days"|title %}
                    {% get_fieldset monday,tuesday,wednesday,thursday,friday,saturday,sunday as settings_fields from form %}
                    {% for field in settings_fields %}
                    <div class="checkbox-inline">
                        {{ field }}&nbsp;<label style="display: inline;" for="{{ field.auto_id }}">{{ field.label|title }}</label>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </fieldset>
        <br/>
        <fieldset>
            <legend>{% trans "callcenter settings"|title %}</legend>
            <div class="row">
                <div class="col-md-12">
                {% get_fieldset agent_script,lead_disposition,external_link as callcenter_settings_fields from form %}
                {% for field in callcenter_settings_fields %}
                    <div class="col-md-6">
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                            <div class="col-xs-8">
                                <label class="control-label" for="{{ field.auto_id }}">{{ field.label|title }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span>
                                {% endif %}
                                <span class="help-block">
                                    {{ field.help_text|capfirst }}
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </fieldset>

        <br/>
        <div class="actions">
              {% if action == 'update' %}
                <input id="update" type="submit" class="btn btn-primary" value="{% trans "update"|title %}" />
              {% else %}
                <input id="add" type="submit" class="btn btn-primary" value="{% trans "submit"|title %}" />
              {% endif %}
               &nbsp;&nbsp;
              {% if action == 'update' %}
                 <input id="delete" name="delete" class="btn btn-danger" type="submit" value="{% trans "delete"|title %}" />
              {% endif %}
        </div>
    </form>

{% endblock %}
