{% extends "frontend/master.html" %}
{% load i18n dialer_cdr_extras %}

{% block extra_files %}
{% endblock %}

{% block content %}
    <style>
    table {
        margin-bottom:1.4em;
        width:auto;
    }
    
    th, caption {
        width: 150px;
    }
    textarea {
        margin:0.5em 0;
        width: 250px;
    }
    </style>
<center>{% if action == 'update' %}
            {% trans "Update" %}
        {% else %}
            {% trans "Add" %}
        {% endif %} {% trans "Campaign" %}</center>

<div class="span-24 last" align=left>
<form method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
        <fieldset>
            <legend>Campaign</legend>
            <table align=left>
                {% get_fieldset campaign_code,ds_user,name,description,status,callerid,aleg_gateway,voipapp,extra_data,phonebook as campaign_fields from form %}
                {{ campaign_fields.as_table }}
            </table>
        </fieldset>

        <fieldset>
            <legend>Campaign settings</legend>
            <table align=left>
                {% get_fieldset frequency,callmaxduration,maxretry as campaign_settings_fields from form %}
                {{ campaign_settings_fields.as_table }}
            <tr>
                <th>{{ form.intervalretry.label }}:</th><td>{{ form.intervalretry }}<br/>{{ form.intervalretry.help_text }}</td>
                <th style="width: 200px;">{{ form.calltimeout.label }}:</th>
                <td>{% if form.calltimeout.errors %}
                        {{ form.calltimeout.errors }}
                    {% endif %}
                    {{ form.calltimeout }}<br/>{{ form.calltimeout.help_text }}</td>
            </tr>
            </table>
        </fieldset>

        <fieldset>
            <legend>Campaign schedule</legend>
            <table align=left style="width:950px;">
            <tr>
                <th>{{ form.startingdate.label }}:</th><td>{{ form.startingdate }}<br/>{{ form.startingdate.help_text }}</td>
                <th style="width: 200px;">{{ form.daily_start_time.label }}:</th><td>{{ form.daily_start_time }}<br/>{{ form.daily_start_time.help_text }}</td>
            </tr>
            <tr>
                <th>{{ form.expirationdate.label }}:</th><td>{{ form.expirationdate }}<br/>{{ form.expirationdate.help_text }}</td>
                <th style="width: 200px;">{{ form.daily_stop_time.label }}:</th><td>{{ form.daily_stop_time }}<br/>{{ form.daily_stop_time.help_text }}</td>
            </tr>
            <tr><th>{% trans "Week Days" %}:</th><td colspan="3">
                {{ form.monday }}&nbsp;{{ form.monday.label }}
                {{ form.tuesday }}&nbsp;{{ form.tuesday.label }}
                {{ form.wednesday }}&nbsp;{{ form.wednesday.label }}
                {{ form.thursday }}&nbsp;{{ form.thursday.label }}
                {{ form.friday }}&nbsp;{{ form.friday.label }}
                {{ form.saturday }}&nbsp;{{ form.saturday.label }}
                {{ form.sunday }}&nbsp;{{ form.sunday.label }}
                </td>
            </tr>
            </table>
        </fieldset>
        <table align=center border=1>
        <tr>
            <td >&nbsp;</td>
            <td align=left>
              {% if action == 'update' %}
                <input id="update" type="submit" value="{% trans "Update" %}" />
              {% else %}
                <input id="add" type="submit" value="{% trans "Submit" %}" />
              {% endif %}
               &nbsp;&nbsp;
              <input type="reset" name="reset" value="{% trans "Clear" %}">&nbsp;&nbsp;
              {% if action == 'update' %}
                 <input id="delete" name="delete" type="submit" value="{% trans "Delete" %}" />
              {% endif %}
           </td>
        </tr>
    </table>
</form>

</div>
 
{% endblock %}
