{% extends "frontend/master.html" %}
{% load dialer_cdr_extras icons i18n %}

{% block extra_files %}
    {% include "frontend/custom_jquery_select_all.html" %}
{% endblock %}

{% block content_header %}
    <h1>{% trans "Campaign" %} <small>{% trans "List, add and edit campaigns" %}</small></h1>
{% endblock %}

{% block content %}

{% if msg %}
    <div class="alert-message success">
        <strong>{% trans "Alert" %} : </strong>  {{ msg }}
    </div>
{% endif %}

{% if error_msg %}
    <div class="alert-message error">
        <strong>{% trans "Alert" %} : </strong>  {{ error_msg }}
    </div>
{% endif %}

<br/>
<form method="POST" action="del/0/" enctype="multipart/form-data" id="ListForm">{% csrf_token %}
    <table id="flex1" align="left" style="display:none;"></table>
</form>

<script type="text/javascript">

$("#flex1").flexigrid({
    url: "/campaign_grid/",
    method: 'GET',
    dataType: 'json',
	colModel : [
        {display: '<input type="checkbox" onclick="toggleChecked(this.checked)">', name: '', width: 20, align: 'center'},
		{display: '{% trans "Key" %}', name: 'campaign_code', width: 58, sortable: true, align: 'center'},
        {display: '{% trans "Name" %}', name: 'name', width: 120, sortable: true, align: 'center'},
        {display: '{% trans "Start date" %}', name: 'startingdate', width: 110, sortable: true, align: 'center', formatter:'datformatter:statusFmattere'},
        {display: '{% trans "Type" %}', name: 'content_type__name', width: 110, sortable: true, align: 'center'},
        {display: '{% trans "App" %}', name: '', width: 100, sortable: true, align: 'center'},
        {display: '{% trans "Contacts" %}', name: '', width: 100, sortable: true, align: 'center'},
        {display: '{% trans "Status" %}', name: 'status', width: 60, sortable: true, align: 'center'},
        {display: '{% trans "Action" %}', name: '', width : 120, align: 'center', formatter:'showlink', formatoptions:{baseLinkUrl:'', }, },
		],
    buttons : [
		{name: '{% trans "Add" %}', bclass: 'add', onpress : add_button},
        {separator: true},
        {name: '{% trans "Delete Selected" %}', bclass: 'delete', onpress : delete_button},
		],
    sortname: "id",
	sortorder: "asc",
	usepager: true,
	title: '{% trans "Campaigns" %}',
	useRp: true,
	rp: 10,
	showTableToggleBtn: true,
	width: 910,
	height: 265,
    pagetext: '{% trans "Page" %}',
    outof: '{% trans "of" %}',
    nomsg: '{% trans "No items" %}',
    procmsg: '{% trans "Processing, please wait ..." %}',
    pagestat: '{% trans "Displaying" %} {from} {% trans "to" %} {to} {% trans "of" %} {total} {% trans "items" %}',
    //preProcess: formatContactResults,
    onSuccess: function(data){
        //alert(data);        
    },
    onError: function(){
        //alert("Request failed");
    },
});


function add_button()
{
    window.location = 'add/';
}
function delete_button()
{
    $('#ListForm').submit();
}

</script>
{% endblock %}
