{% extends "frontend/master.html" %}
{% load dialer_cdr_extras icons %}
{% load i18n %}
{% load pagination_tags %}

{% block title %}
{{ block.super }}
{% trans "Campaign" %}
{% endblock %}

{% block extra_files %}
<script type="text/javascript" src="{{STATIC_URL}}newfies/js/custom.jquery.select.all.js"></script>

<!--flexigrid css & js-->
<link rel="stylesheet" href="{{STATIC_URL}}newfies/css/flexigrid.css" type="text/css" />
<script type="text/javascript" src="{{STATIC_URL}}newfies/js/flexigrid.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}newfies/css/flexigrid_custom.css" type="text/css" />
<script type="text/javascript" language="javascript">
function get_alert_msg(id)
{
    confirm_string = 'you are going to delete campaign';
    var answer = confirm(confirm_string);
    return answer // answer is a boolean
}
</script>
{% endblock %}

{% block content %}
{% if msg %}
<div class="success" id="rounded-corner-upper-table">        
        <strong>{% trans "Alert" %} : </strong>  {{ msg }}
</div>
{% endif %}

<br/>
<form method="POST" action="del/0/" enctype="multipart/form-data" id="ListForm">
{% csrf_token %}
<table id="flex1" align="left" style="display:none;"></table>
</form>
<script type="text/javascript">


$("#flex1").flexigrid({
    url: "/campaign_grid/",
    method: 'GET',
    dataType: 'json',
	colModel : [
        {display: '<input type="checkbox" onclick="toggleChecked(this.checked)">', name: '', width: 40, align: 'center'},
		{display: 'Campaign code', name: 'campaign_code', width: 95, sortable: true, align: 'center'},
        {display: 'Name', name: 'name', width: 120, sortable: true, align: 'center'},
        {display: 'Start date', name: 'startingdate', width: 100, sortable: true, align: 'center', formatter:'datformatter:statusFmattere'},
        {display: 'End date', name: 'expirationdate', width: 100, sortable: true, align: 'center', formatter:'datformatter:statusFmattere'},
        {display: 'A-Leg gateway', name: 'aleg_gateway', width: 100, sortable: true, align: 'center'},
        {display: 'VoIP App', name: 'voipapp__name', width: 100, sortable: true, align: 'center'},
        {display: 'Contacts', name: '', width: 65, sortable: true, align: 'center'},
        {display: 'Action', name: '', width : 100, align: 'center', formatter:'showlink', formatoptions:{baseLinkUrl:'', }, },
		],
    buttons : [
		{name: 'Add', bclass: 'add', onpress : add_button},
        {separator: true},
        {name: 'Delete Selected', bclass: 'delete', onpress : delete_button},
		],
    sortname: "id",
	sortorder: "asc",
	usepager: true,
	title: 'Campaigns',
	useRp: true,
	rp: 10,
	showTableToggleBtn: true,
	width: 930,
	height: 265,
    //preProcess: formatContactResults,
    onSuccess: function(data){
        //alert(data);        
    },
    onError: function(){
        //alert("Request failed");
    },
});


function add_button()
{
    window.location = 'add/';
}
function delete_button()
{
    $('#ListForm').submit();
}

</script>
{% endblock %}
