{% extends "frontend/master.html" %}
{% load i18n %}

{% block content_header %}
    <h1>
        {% if action == 'update' %}
            {% trans "update"|title %}
        {% else %}
            {% trans "add"|title %}
        {% endif %}
        {% trans "dnc"|upper %}
        <small>{% trans "DNC contacts are stored in dnc list"|capfirst %}</small>
    </h1>
{% endblock %}

{% block content %}

<form class="well" role="form" method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
    {% for field in form %}
    <div class="row">
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            <div class="col-xs-6">
                <label class="control-label" for="{{ field.auto_id }}">{{ field.label|title }}</label>
                {{ field }}
                {% if field.errors %}
                    <span class="help-block">
                        {{ field.errors|removetags:"ul li"|safe }}
                    </span>
                {% endif %}
                <span class="help-block">
                    {{ field.help_text|capfirst }}
                </span>
            </div>
        </div>
    </div>
    {% endfor %}
    {% include "frontend/common_submit_buttons.html" %}
</form>

{% endblock %}
