docutils
simplejson
sphinx
redis
celery
kombu
django-celery
django-kombu
django-extensions
django-haystack
mimeparse
django
MySQL-python==1.2.3
Werkzeug==0.6.2
amqplib==0.6.1
anyjson==0.3
django-jsonfield==0.6
django-pagination==1.0.7
django-picklefield==0.1.9
django-urlauth==0.1.1
django-uuidfield
django-test-extensions
pyparsing
python-dateutil
uuid==1.30
wsgiref==0.1.2
BeautifulSoup==3.2.0
Pygments
python-memcached
django-memcache-status
django-sentry==1.12.0
hg+https://bitbucket.org/izi/django-admin-tools
git+git://github.com/jtauber/django-notification.git
git+git://github.com/aerosol/identicon.git
git+git://github.com/aerosol/django-dilla.git
git+git://github.com/mcroydon/django-qsstats.git
#git+https://github.com/toastdriven/django-tastypie.git#egg=tastypie
git+git://github.com/Star2Billing/switch2bill-common.git
git+git://github.com/Star2Billing/simu-prefix-country.git
git+git://github.com/areski/django-countries.git
-e hg+http://bitbucket.org/andrewgodwin/south/#egg=south
-e hg+https://bitbucket.org/jespern/django-piston/#egg=django-piston
