docutils
simplejson==2.1.3
sphinx
redis
celery
kombu
django-celery
django-kombu
django-extensions
django-haystack
mimeparse
django
MySQL-python==1.2.3
Werkzeug
amqplib==1.0.2
anyjson==0.3.1
django-jsonfield==0.6
django-pagination==1.0.7
django-picklefield
django-urlauth==0.1.8
django-uuidfield
django-test-extensions
django-chart-tools
pyparsing
python-dateutil==1.5
uuid==1.30
wsgiref==0.1.2
BeautifulSoup==3.2.0
Pygments
python-memcached
django-memcache-status
django-sentry==1.12.0
hg+https://bitbucket.org/izi/django-admin-tools
git+git://github.com/jtauber/django-notification.git
git+git://github.com/aerosol/identicon.git
git+git://github.com/aerosol/django-dilla.git
git+git://github.com/mcroydon/django-qsstats.git
#git+https://github.com/toastdriven/django-tastypie.git#egg=tastypie
git+git://github.com/Star2Billing/switch2bill-common.git
git+git://github.com/Star2Billing/simu-prefix-country.git
git+git://github.com/areski/django-countries.git
-e hg+http://bitbucket.org/andrewgodwin/south/#egg=south
git+git://github.com/Star2Billing/django-admin-tools-stats.git
git+git://github.com/toastdriven/django-tastypie.git
