{% extends "frontend/master.html" %}
{% load i18n common_tags %}

{% block content_header %}
    <h1>
        {% if action == 'update' %}
            {% trans "update"|title %}
        {% else %}
            {% trans "add"|title %}
        {% endif %}
        {% trans "queue"|title %}
        <small>{% trans "it is belong to manager"|capfirst %}</small>
    </h1>
{% endblock %}

{% block content %}

<form class="well" role="form" method="POST" action="." enctype="multipart/form-data">{% csrf_token %}

        <div class="row">
            {% get_fieldset name,strategy as form_fields from form %}
            {% for field in form_fields.visible_fields %}
            <div class="col-md-6">
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                    <div class="col-xs-8">
                        <label class="control-label" for="{{ field.auto_id }}">{{ field.label|title }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <span class="help-block">
                                {{ field.errors|removetags:"ul li"|safe }}
                            </span>
                        {% endif %}
                        <span class="help-block">
                            {{ field.help_text|capfirst }}
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            {% get_fieldset moh_sound,record_template,time_base_score,tier_rule_wait_second,discard_abandoned_after,max_wait_time,max_wait_time_with_no_agent,max_wait_time_with_no_agent_time_reached as form_fields from form %}
            {% for field in form_fields.visible_fields %}
            <div class="col-md-6">
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                    <div class="col-xs-8">
                        <label class="control-label" for="{{ field.auto_id }}">{{ field.label|title }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <span class="help-block">
                                {{ field.errors|removetags:"ul li"|safe }}
                            </span>
                        {% endif %}
                        <span class="help-block">
                            {{ field.help_text|capfirst }}
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-10">
                {% get_fieldset tier_rules_apply,tier_rule_wait_multiply_level as settings_fields from form %}
                {% for field in settings_fields %}
                <div class="col-xs-6">
                    <label for="{{ field.auto_id }}">
                    {{ field.label|title }}
                    </label>
                    <div class="make-switch switch-mini">
                        {{ field }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-10">
                {% get_fieldset tier_rule_no_agent_no_wait,abandoned_resume_allowed as settings_fields from form %}
                {% for field in settings_fields %}
                <div class="col-xs-6">
                    <label for="{{ field.auto_id }}">
                    {{ field.label|title }}
                    </label>
                    <div class="make-switch switch-mini">
                        {{ field }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div>&nbsp;</div>
        {% include "frontend/common_submit_buttons.html" %}
</form>

{% endblock %}
