{% extends "registration/registration_base.html" %}
{% load i18n bootstrap %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<p>
    {% blocktrans %}
    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
    {% endblocktrans %}
</p>

<form method="post" action="" class="well">
    {% csrf_token %}
    {{ form|bootstrap }}
    <div class="form-group">
      <button type="submit" class="btn btn-primary">{% trans 'Reset password' %}</button>
    </div>
</form>

{% endblock %}


{# This is used by django.contrib.auth #}