{% extends "registration/registration_base.html" %}
{% load i18n bootstrap %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
<p>{% trans "Enter your new password below to reset your password:" %}</p>

<form method="post" action="" class="well">
    {% csrf_token %}
    {{ form|bootstrap }}
    <div class="form-group">
      <button type="submit" class="btn btn-primary">{% trans 'Set password' %}</button>
    </div>
</form>

{% endblock %}


{# This is used by django.contrib.auth #}