django-celery==3.0.9
django-kombu==0.9.4
django-pagination==1.0.7
django-urlauth==0.1.8
django-uuidfield==0.4.0
django-chart-tools==0.2.1
django-memcache-status==1.1
django-cache-utils==0.7.2
django-picklefield==0.2.1
django-jsonfield==0.8.11
django-countries==1.3
django-tastypie==0.9.11
hg+https://bitbucket.org/izi/django-admin-tools
git+git://github.com/Star2Billing/django-admin-tools-stats.git
git+git://github.com/Star2Billing/django-notification
#git+git://github.com/jtauber/django-notification.git
#raven==1.4.4
#sentry==3.1.4
git+git://github.com/Star2Billing/switch2bill-common.git
git+git://github.com/Star2Billing/django-country-dialcode.git
django-redis-cache==0.9.5
django-redisboard==0.2.5
git+git://github.com/jschrewe/django-genericadmin.git
django-admin-sortable==1.3.3
django-tagging==0.3.1
git+git://github.com/Star2Billing/django-audiofield.git
django-dajax==0.9.2
linaro-django-pagination==2.0.2