django-celery==2.4.0
django-kombu
django-haystack
django-pagination==1.0.7
django-urlauth==0.1.8
django-uuidfield
django-chart-tools
django-memcache-status
django-cache-utils
django-picklefield
django-jsonfield==0.6
hg+https://bitbucket.org/izi/django-admin-tools
git+git://github.com/jtauber/django-notification.git
git+git://github.com/mcroydon/django-qsstats.git
git+git://github.com/Star2Billing/switch2bill-common.git
git+git://github.com/Star2Billing/simu-prefix-country.git
git+git://github.com/areski/django-countries.git
-e hg+http://bitbucket.org/andrewgodwin/south/#egg=south
git+git://github.com/Star2Billing/django-admin-tools-stats.git
git+git://github.com/toastdriven/django-tastypie.git
django-sentry==1.13.5
