{% extends "frontend/master.html" %}
{% load i18n dialer_cdr_extras %}

{% block extra_files %}
{% endblock %}

{% block content_header %}
    <h1>
        {% if action == 'update' %}
            {% trans "Update" %}
        {% else %}
            {% trans "Add" %}
        {% endif %}
        {% trans "Phonebook" %}
        <small>{% trans "Contacts are stored in phonebooks" %}</small>
    </h1>
{% endblock %}

{% block content %}

<form class="well" method="POST" action="." enctype="multipart/form-data">{% csrf_token %}

    {% for field in form %}
    <div class="clearfix{% if field.errors %} control-group error{% endif %}">
        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
        <div class="input">
            {{ field }}
            {% if field.errors %}
                <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span>
            {% endif %}
                <span class="help-block">{{ field.help_text }} </span>
        </div>
    </div>
    {% endfor %}

    <div class="actions">
        {% if action == 'update' %}
        <input id="update" type="submit" class="btn-primary" value="{% trans "Update" %}" />
        {% else %}
        <input id="add" type="submit" class="btn-primary" value="{% trans "Submit" %}" />
        {% endif %}
        &nbsp;&nbsp;
        {% if action == 'update' %}
         <input id="delete" name="delete" class="btn-danger" type="submit" value="{% trans "Delete" %}" />
        {% endif %}
    </div>
           
</form>

{% endblock %}
