{% extends "frontend/master.html" %}
{% load i18n %}

{% block content_header %}
    <h1>{% trans "import DNC contacts"|capfirst %} <small>{% trans "import list of DNC contacts by uploading CSV files"|capfirst %}</small></h1>
{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed">
    <caption><h3>{% trans "sample file"|title %}</h3></caption>
    <thead>
    <tr>
        <th>{% trans "contact number"|title %}</th>
    </tr>
    </thead>
    <tr>
        <td>650784355</td>
    </tr>
    <tr>
        <td>650723032</td>
    </tr>
    </table>
</div>

<br/>

<form class="well" role="form" method="post" action="" enctype="multipart/form-data" >{% csrf_token %}
    {% for field in form %}
    <div class="row">
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            <div class="col-xs-4">
                <label class="control-label" for="{{ field.auto_id }}">{{ field.label|capfirst }}</label>

                {{ field }}
                {% if field.errors %}
                    <span class="help-block">
                        {{ field.errors|removetags:"ul li"|safe }}
                    </span>
                {% endif %}
                <span class="help-block">
                    {{ field.help_text|capfirst }}
                </span>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="text-right">
        <button type="submit" name="submit" class="btn btn-primary" value="submit">
            <i class="fa fa-save fa-lg"></i> {% trans "import"|capfirst %}
        </button>
    </div>
</form>

{% if success_import_list %}
<div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th>{% trans "DNC contact(s) imported (display max 100)" %} :</th>
        </tr>
        {% for row in success_import_list %}
        <tr>
            <td>
                {{ row }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

{% if type_error_import_list %}
<br/>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th>{% trans "type mismatch"|title %} :</th>
        </tr>
        {% for row in type_error_import_list %}
        <tr>
            <td>
                {{ row }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

{% endblock %}
