{% extends "frontend/master.html" %}
{% load i18n common_tags pagination_tags %}

{% block extra_files %}
    {% include "frontend/custom_jquery_select_all.html" %}
{% endblock %}

{% block content_header %}
    <h1>{% trans "DNC" %} {% trans "contacts"|title %} <small>{% trans "list, add and edit Do Not Call contacts"|capfirst %}</small></h1>
{% endblock %}

{% block content %}
<div id="form_collapse" class="collapse">
    <form class="well form-search" method="POST" action="." enctype="multipart/form-data">{% csrf_token %}

        <div class="row">
            {% get_fieldset phone_number,dnc as search_contact from form %}
            {% for field in search_contact %}
            <div class="col-md-4 {% if field.errors %} error{% endif %}">
                <label class="control-label" for="id_{{ field.name }}">{{ field.label|title }}</label>
                <div class="input">
                    {{ field }}
                    {% if field.errors %}
                        <span class="help-block">{{ field.errors|removetags:"ul li"|safe }}</span>
                    {% endif %}
                    <span class="help-block">{{ field.help_text|capfirst }} </span>
                </div>
            </div>
            {% endfor %}
        </div>
        <input class="btn btn-primary" type="submit" name="submit" value="{% trans 'search'|title %}" />
    </form>
</div>
<button id="toggle_btn" type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#form_collapse">
    <i id="toggle_btn_i" class="glyphicon glyphicon-zoom-in"></i>
    <span id="toggle_btn_i_span">{% trans "open search"|title %}</span>
</button>
<div>&nbsp;</div>
<script type="text/javascript">
function add_button()
{
    window.location = 'add/';
}
function import_button()
{
    window.location = 'import/';
}
function delete_button()
{
    $('#ListForm').submit();
}
</script>

<div class="row">
    <div class="col-md-12">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {% trans "action"|capfirst %} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% if perms.dnc.delete_dnccontact %}
                    <li><a href="#" onclick="delete_button()">{% trans "delete selected"|title %}</a></li>
                {% endif %}
                <li>
                    <a href="export_view/">{% trans "DNC" %} {% trans "export"|capfirst %}</a>
                </li>
            </ul>
        </div>
        {% if perms.dnc.add_dnccontact %}
            <button type="button" class="btn btn-info" onclick="add_button()">
                <i class="fa fa-plus"></i> {% trans "add"|title %}
            </button>
        {% endif %}
    </div>
</div>

<br/>

<div class="row">
    <div class="col-md-12">
        <form method="POST" role="form" action="del/0/" enctype="multipart/form-data" id="ListForm">{% csrf_token %}
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th><input type="checkbox" onclick="toggleChecked(this.checked)"></th>
                        <th>{% sort_link DNC_CONTACT_COLUMN_NAME.id|capfirst col_name_with_order.id %}</th>
                        <th>{% sort_link DNC_CONTACT_COLUMN_NAME.dnc|capfirst col_name_with_order.dnc %}</th>
                        <th>{% sort_link DNC_CONTACT_COLUMN_NAME.phone_number|capfirst col_name_with_order.phone_number %}</th>
                        <th>{% sort_link DNC_CONTACT_COLUMN_NAME.date|capfirst col_name_with_order.updated_date %}</th>
                        <th>{% trans 'action'|capfirst %}</th>
                    </tr>
                    </thead>
                    {% if phone_number_list %}
                        {% autopaginate all_phone_number_list PAGE_SIZE %}
                        {% for row in phone_number_list %}
                            <tr>
                                <td><input type="checkbox" name="select" class="checkbox" value="{{ row.id }}" /></td>
                                <td>{{ row.id }}</td>
                                <td>{{ row.dnc__name }}</td>
                                <td>{{ row.phone_number }}</td>
                                <td>{{ row.updated_date }}</td>
                                <td>
                                    {% if perms.dnc.change_dnccontact %}
                                        <a href="{{ row.id }}/" title="{% trans 'update DNC contact'|title %}"><i class="fa fa-edit"></i></a>
                                    {% endif %}
                                    {% if perms.dnc.delete_dnccontact %}
                                        <a id="id_delete_confirm" href="del/{{ row.id }}/" title="{% trans 'delete DNC contact'|title %}"><i class="fa fa-trash-o"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6" align="center">
                                {% trans "no records found"|title %}
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </div>
            <div class="text-right">
                {% trans "total"|title %} : {{ total_phone_numbers }}
            </div>
            {% if phone_number_list %}
                {% paginate %}
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
