{% extends "frontend/master.html" %}
{% load i18n common_tags utils_tags crispy_forms_tags %}

{% block content_header %}
    <h1>{{ action|capfirst }} {% trans "calendar user"|title %}
        <br/>
        <small>{% trans "users authorized to create calendars, events and alarms"|capfirst %}</small>
    </h1>
{% endblock %}

{% block content %}

<form class="well" method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
    {% if action == 'update' %}
        <div class="row">
            {% get_fieldset username,password as calendar_user_fields from calendar_user_username_form %}
            {% for field in calendar_user_fields.visible_fields %}
                {% field_html_code field 'col-md-6' False False %}
            {% endfor %}
        </div>
        {% crispy calendar_user_profile_form calendar_user_profile_form.helper %}
    {% else %}
        {% crispy form form.helper %}
    {% endif %}
    {% include "frontend/common_submit_buttons.html" %}
</form>

{% endblock %}
