{% extends "frontend/master.html" %}
{% load i18n common_tags %}

{% block content_header %}
    <h1>{% if action == "update" %}
            {% trans "update"|title %}
        {% else %}
            {% trans "add"|title %}
        {% endif %} {% trans "sms"|upper %} {% trans "campaign"|title %}
        <small>{% trans "set SMS campaign parameters"|capfirst %}</small>
    </h1>
{% endblock %}

{% block content %}

    <form class="well" role="form" method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
        <fieldset>
            <legend>{% trans "general settings"|capfirst %}</legend>
            <div class="row">
                {% get_fieldset campaign_code,ds_user,name,callerid,sms_gateway,status as campaign_fields from form %}
                {% for field in campaign_fields.hidden_fields %}
                    {{ field }}
                {% endfor %}
                {% for field in campaign_fields.visible_fields %}
                    <div class="col-md-6">
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <div class="col-xs-6">
                            <label class="control-label" for="{{ field.auto_id }}">{{ field.label|title }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <span class="help-inline">
                                    {{ field.errors|removetags:"ul li"|safe }}
                                </span>
                            {% endif %}
                            <span class="help-block">
                                {{ field.help_text|capfirst }}
                            </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% get_fieldset text_message,description,phonebook as campaign_fields from form %}
                {% for field in campaign_fields.visible_fields %}
                    <div class="col-md-6">
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <div class="col-xs-6">
                            <label class="control-label" for="{{ field.auto_id }}">{{ field.label|title }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <span class="help-inline">
                                    {{ field.errors|removetags:"ul li"|safe }}
                                </span>
                            {% endif %}
                            <span class="help-block">
                                {{ field.help_text|capfirst }}
                            </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </fieldset>

        <fieldset>
            <legend>{% trans "sms"|upper %} {% trans "settings" %}</legend>
            <div class="row">
                {% get_fieldset frequency,maxretry,intervalretry as campaign_settings_fields from form %}
                {% for field in campaign_settings_fields %}
                    <div class="col-md-6">
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <div class="col-xs-6">
                            <label class="control-label" for="{{ field.auto_id }}">{{ field.label|title }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <span class="help-inline">
                                    {{ field.errors|removetags:"ul li"|safe }}
                                </span>
                            {% endif %}
                            <span class="help-block">
                                {{ field.help_text|capfirst }}
                            </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </fieldset>

        <fieldset>
            <legend>{% trans "sms"|upper %} {% trans "campaign" %} {% trans "schedule" %}</legend>
            <div class="row">
                {% get_fieldset startingdate,expirationdate,daily_start_time,daily_stop_time as campaign_settings_fields from form %}
                {% for field in campaign_settings_fields %}
                    <div class="col-md-6">
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <div class="col-xs-6">
                            <label class="control-label" for="{{ field.auto_id }}">{{ field.label|title }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <span class="help-inline">
                                    {{ field.errors|removetags:"ul li"|safe }}
                                </span>
                            {% endif %}
                            <span class="help-block">
                                {{ field.help_text|capfirst }}
                            </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% trans "week days"|title %}
                    {% get_fieldset monday,tuesday,wednesday,thursday,friday,saturday,sunday as settings_fields from form %}
                    {% for field in settings_fields %}
                    <div class="checkbox-inline">
                        {{ field }}&nbsp;<label style="display: inline;" for="{{ field.auto_id }}">{{ field.label|title }}</label>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </fieldset>
        <br/>
        {% if action == 'update' %}
            <input id="update" type="submit" class="btn btn-primary" value="{% trans 'update'|title %}" />
            <input id="delete" name="delete" class="btn btn-danger" type="submit" value="{% trans 'delete'|title %}" />
        {% else %}
            <input id="add" type="submit" class="btn btn-primary" value="{% trans 'submit'|title %}" />
        {% endif %}
    </form>
{% endblock %}
