{% extends "frontend/master.html" %}
{% load i18n %}

{% block extra_files %}
{% endblock %}

{% block row_fluid %}
{% endblock %}

{% block header %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block container %}

    {% block content %}

        {% if action == 'add' %}
            {% block content_header %}
                <a class="close" data-dismiss="modal" >&times;</a>
                <h3>
                    {% trans "Add" %} {% trans "Section Branch" %}
                    <small></small>
                </h3>
            {% endblock %}
        {% endif %}

        {% if err_msg %}
            <script type="text/javascript" charset="utf-8">

                $(window).load(function(){
                    $('#section_modal').modal('show');
                });

                var url = '/survey2/' + '{{ survey_id }}'  + '/#row{{ section_id }}';
                $(".close").live('click', function() {
                    $(location).attr('href', url);
                });

                var KEYCODE_ESC = 27;
                $(document).keyup(function(e) {
                    if (e.keyCode == KEYCODE_ESC) { $(location).attr('href', url); }
                });
            </script>
            <!-- modal content-->
            <div class="modal hide fade" id="section_modal">
            <div class="modal-header">
                <a class="close" data-dismiss="modal" >&times;</a>
                <h3>{% if action == 'update' %}
                    {% trans "Update" %}
                {% else %}
                    {% trans "Add" %}
                {% endif %} {% trans "Section Branch" %}
                    <small></small>
                </h3>
            </div>
            <div class="modal-body">
        {% endif %}

    <form class="well" method="POST" action="/section/branch/{{ section_id }}/" enctype="multipart/form-data" id="update_form">
    {% csrf_token %}
    {{ form.section }}

    <div class="row">
        <div class="span2 clearfix{% if form.keyresult.errors %} control-group error{% endif %}">
            <label class="control-label" for="id_{{ form.keyresult.name }}">{{ form.keyresult.label }}</label>
            <div class="input">
                {{ form.keyresult }}
                {% if form.keyresult.errors %}
                    <span class="help-inline">{{ form.keyresult.errors|removetags:"ul li"|safe }}</span>
                {% endif %}
                <span class="help-block">{{ form.keyresult.help_text|safe }} </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span2 clearfix{% if form.goto.errors %} control-group error{% endif %}">
            <label class="control-label" for="id_{{ form.goto.name }}">{{ form.goto.label }}</label>
            <div class="input">
                {{ form.goto }}
                {% if form.goto.errors %}
                    <span class="help-inline">{{ form.goto.errors|removetags:"ul li"|safe }}</span>
                {% endif %}
                <span class="help-block">{{ form.goto.help_text|safe }} </span>
            </div>
        </div>
    </div>

    <div class="actions">
        {% if action == 'update' %}
            <input id="id_update" name="update" class="btn btn-primary" type="submit" value="{% trans "Update" %}" />
        {% else %}
            <input id="id_add" name="add" type="submit" class="btn btn-primary" value="{% trans "Submit" %}" />
        {% endif %}
    </div>

    </form>

    {% if err_msg %}
        </div>
        <div class="modal-footer">
            <a href="#" class="close btn" data-dismiss="modal">{% trans "Close" %}</a>
        </div>
        </div>
    {% endif %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

{% endblock %}