{% extends "frontend/master.html" %}
{% load i18n common_tags %}

{% block extra_files %}
{% endblock %}

{% block row_fluid %}
{% endblock %}

{% block header %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block container %}

{% block content %}

    {% if err_msg %}
        <script type="text/javascript" charset="utf-8">

            $(window).load(function(){
                $('#section_modal').modal('show');
            });

            var url = '/survey2/' + '{{ survey_id }}'  + '/#row{{ section_id }}';
            $(".close").live('click', function() {
                $(location).attr('href', url);
            });

            var KEYCODE_ESC = 27;
            $(document).keyup(function(e) {
                if (e.keyCode == KEYCODE_ESC) { $(location).attr('href', url); }
            });

        </script>
        <!-- modal content-->
        <div class="modal hide fade modal-section" id="section_modal">
    {% endif %}

        <div class="modal-header">
            <a class="close" data-dismiss="modal" >&times;</a>
            <h3>{% if action == 'update' %}
                {% trans "Update" %}
            {% else %}
                {% trans "Add" %}
            {% endif %} {% trans "Section" %}
                <small></small>
            </h3>
        </div>

        <!-- Form to update or add new section -->
        <form method="POST" action="{% if action == 'update' %}/section/{{ section_id }}/{% else %}/section/add/?survey_id={{ survey_id }}{% endif %}" enctype="multipart/form-data" id="update_form">
            {% csrf_token %}
            {{ form.survey }}
            <div class="modal-body">
            <!-- modal content-->

                <div class="row">
                    <div class="span2">
                        <label class="control-label" for="id_{{ form.type.name }}">{{ form.type.label }}</label>
                    </div>
                    <div class="span3 clearfix{% if form.type.errors %} control-group error{% endif %}">
                        <div class="input">
                            {{ form.type }}
                            {% if form.type.errors %}
                                <span class="help-inline">{{ form.type.errors|removetags:"ul li"|safe }}</span>
                            {% endif %}
                            <span class="help-block">{{ form.type.help_text|safe }} </span>
                        </div>
                    </div>
                </div>


                {% if form.type.value == SECTION_TYPE.VOICE_SECTION or form.type.value == SECTION_TYPE.MULTIPLE_CHOICE_SECTION or form.type.value == SECTION_TYPE.RATING_SECTION  or form.type.value == SECTION_TYPE.ENTER_NUMBER_SECTION %}
                    <div class="row">
                        <div class="span2">
                            <label class="control-label" for="id_{{ form.retries.name }}">{{ form.retries.label }}</label>
                        </div>
                        <div class="span clearfix{% if form.retries.errors %} control-group error{% endif %}">
                            <div class="input">
                                {{ form.retries }}
                                {% if form.retries.errors %}
                                    <span class="help-inline">{{ form.retries.errors|removetags:"ul li"|safe }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="span1">
                            <label class="control-label" for="id_{{ form.timeout.name }}">{{ form.timeout.label }}</label>
                        </div>
                        <div class="span1 clearfix{% if form.timeout.errors %} control-group error{% endif %}">
                            <div class="input">
                                {{ form.timeout }}
                                {% if form.timeout.errors %}
                                    <span class="help-inline">{{ form.timeout.errors|removetags:"ul li"|safe }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="span2">
                        <label class="control-label" for="id_{{ form.question.name }}">{{ form.question.label }}</label>
                    </div>
                    <div class="span3 clearfix{% if form.question.errors %} control-group error{% endif %}">
                        <div class="input">
                            {{ form.question }}
                            {% if form.question.errors %}
                                <span class="help-inline">{{ form.question.errors|removetags:"ul li"|safe }}</span>
                            {% endif %}
                            <span class="help-block">{{ form.question.help_text|safe }} </span>
                        </div>
                    </div>
                </div>

                {% if form.type.value == SECTION_TYPE.MULTIPLE_CHOICE_SECTION or form.type.value == SECTION_TYPE.RATING_SECTION or form.type.value == SECTION_TYPE.ENTER_NUMBER_SECTION %}
                    <div class="row">
                        <div class="span2">
                            <label class="control-label" for="id_{{ form.invalid_audiofile.name }}">{{ form.invalid_audiofile.label }}</label>
                        </div>
                        <div class="span3 clearfix{% if form.invalid_audiofile.errors %} control-group error{% endif %}">
                            <div class="input">
                                {{ form.invalid_audiofile }}
                                {% if form.invalid_audiofile.errors %}
                                    <span class="help-inline">{{ form.invalid_audiofile.errors|removetags:"ul li"|safe }}</span>
                                {% endif %}
                                <span class="help-block">{{ form.invalid_audiofile.help_text|safe }} </span>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <!--Audio field while updating section-->
                {% if form.type.value == SECTION_TYPE.VOICE_SECTION or form.type.value == SECTION_TYPE.MULTIPLE_CHOICE_SECTION or form.type.value == SECTION_TYPE.RATING_SECTION or form.type.value == SECTION_TYPE.ENTER_NUMBER_SECTION %}
                    {% if action == 'update' %}
                        <div class="row">
                            <div class="span2">
                                <label class="control-label" for="id_{{ form.audiofile.name }}">{{ form.audiofile.label }}</label>
                            </div>
                            <div class="span3 clearfix{% if form.audiofile.errors %} control-group error{% endif %}">
                                <div class="input">
                                    {{ form.audiofile }}&nbsp;
                                    <a href="/audio/add/" target="_blank">
                                        <i class="icon-plus"></i>
                                    </a>
                                    {% if form.audiofile.errors %}
                                        <span class="help-inline">{{ form.audiofile.errors|removetags:"ul li"|safe }}</span>
                                    {% endif %}
                                    <span class="help-block">{{ form.audiofile.help_text|safe }} </span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

                <!--Voice Section form-->
                {% if form.type.value == SECTION_TYPE.VOICE_SECTION %}
                {% endif %}

                <!--Multiple choice Section form-->
                {% if form.type.value == SECTION_TYPE.MULTIPLE_CHOICE_SECTION %}
                    <div class="row">
                        <div class="span5">
                            <label class="control-label" for="id_if_press_result">{% trans "Result if the user" %}</label>
                        </div>
                    </div>
                    <div class="row">
                        {% get_fieldset key_0,key_1,key_2,key_3,key_4,key_5,key_6,key_7,key_8,key_9 as key_fields from form %}
                        {% for field in key_fields.visible_fields %}
                            <div class="span1 clearfix{% if field.errors %} control-group error{% endif %}">
                                <div class="input">
                                    {{ field.label }}&nbsp;{{ field }}
                                    {% if field.errors %}
                                        <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <!--Rating Section form-->
                {% if form.type.value == SECTION_TYPE.RATING_SECTION %}
                    <div class="row">
                        <div class="span2">
                            <label class="control-label" for="id_{{ form.rating_laps.name }}">{{ form.rating_laps.label }}</label>
                        </div>
                        <div class="span3 clearfix{% if form.rating_laps.errors %} control-group error{% endif %}">
                            <div class="input">
                                {{ form.rating_laps }}
                                {% if form.rating_laps.errors %}
                                    <span class="help-inline">{{ form.rating_laps.errors|removetags:"ul li"|safe }}</span>
                                {% endif %}
                                <span class="help-block">{{ form.rating_laps.help_text|safe }} </span>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <!--Enter number Section form-->
                {% if form.type.value == SECTION_TYPE.ENTER_NUMBER_SECTION %}
                    <div class="row">
                        <div class="span2">
                            <label class="control-label" for="id_{{ form.number_digits.name }}">{{ form.number_digits.label }}</label>
                        </div>
                        <div class="span1 clearfix{% if form.number_digits.errors %} control-group error{% endif %}">
                            <div class="input">
                                {{ form.number_digits }}
                                {% if form.number_digits.errors %}
                                    <span class="help-inline">{{ form.number_digits.errors|removetags:"ul li"|safe }}</span>
                                {% endif %}
                                <span class="help-block">{{ form.number_digits.help_text|safe }} </span>
                            </div>
                        </div>
                        <div class="span2">
                            {{ form.validate_number.label }}
                            <label class="checkbox">
                                {{ form.validate_number }}
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span2">
                            <label class="control-label" for="id_{{ form.min_number.name }}">{{ form.min_number.label }}</label>
                        </div>
                        <div class="span1 clearfix{% if form.min_number.errors %} control-group error{% endif %}">
                            <div class="input">
                                {{ form.min_number }}
                                {% if form.min_number.errors %}
                                    <span class="help-inline">{{ form.min_number.errors|removetags:"ul li"|safe }}</span>
                                {% endif %}
                                <span class="help-block">{{ form.min_number.help_text|safe }} </span>
                            </div>
                        </div>

                        <div class="span1">
                            <label class="control-label" for="id_{{ form.max_number.name }}">{{ form.max_number.label }}</label>
                        </div>
                        <div class="span1 clearfix{% if form.max_number.errors %} control-group error{% endif %}">
                            <div class="input">
                                {{ form.max_number }}
                                {% if form.max_number.errors %}
                                    <span class="help-inline">{{ form.max_number.errors|removetags:"ul li"|safe }}</span>
                                {% endif %}
                                <span class="help-block">{{ form.max_number.help_text|safe }} </span>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <!--Record Message Section form-->
                {% if form.type.value == SECTION_TYPE.RECORD_MSG_SECTION %}
                    <div class="row">
                        <div class="span3 clearfix{% if form.continue_survey.errors %} control-group error{% endif %}">
                            <div class="input">
                                {{ form.continue_survey.label }}&nbsp;{{ form.continue_survey }}
                                {% if form.continue_survey.errors %}
                                    <span class="help-inline">{{ form.continue_survey.errors|removetags:"ul li"|safe }}</span>
                                {% endif %}
                                <span class="help-block">{{ form.continue_survey.help_text|safe }} </span>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <!--Patch-Through Section form-->
                {% if form.type.value == SECTION_TYPE.PATCH_THROUGH_SECTION %}
                    <div class="row">
                        <div class="span2">
                            <label class="control-label" for="id_{{ form.dial_phonenumber.name }}">{{ form.dial_phonenumber.label }}</label>
                        </div>
                        <div class="span3 clearfix{% if form.dial_phonenumber.errors %} control-group error{% endif %}">
                            <div class="input">
                                {{ form.dial_phonenumber }}
                                {% if form.dial_phonenumber.errors %}
                                    <span class="help-inline">{{ form.dial_phonenumber.errors|removetags:"ul li"|safe }}</span>
                                {% endif %}
                                <span class="help-block">{{ form.dial_phonenumber.help_text|safe }} </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span3 clearfix{% if form.continue_survey.errors %} control-group error{% endif %}">
                            <div class="input">
                                {{ form.continue_survey.label }}&nbsp;{{ form.continue_survey }}
                                {% if form.continue_survey.errors %}
                                    <span class="help-inline">{{ form.continue_survey.errors|removetags:"ul li"|safe }}</span>
                                {% endif %}
                                <span class="help-block">{{ form.continue_survey.help_text|safe }} </span>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="modal-footer" align="right">
                {% if action == 'update' %}
                    <input id="id_update" name="update" class="btn btn-primary" type="submit" value="{% trans "Update" %}" />
                {% else %}
                    <input id="id_add" name="add" type="submit" class="btn btn-primary" value="{% trans "Save" %}" />
                {% endif %}
                &nbsp;
                <a href="#" class="close btn" data-dismiss="modal">{% trans "Close" %}</a>
            </div>
        </form>

    {% if err_msg %}
        </div>
    {% endif %}

{% endblock %}

{% block footer %}
{% endblock %}

{% endblock %}
