{% extends "frontend/master.html" %}
{% load i18n %}

{% block extra_files %}
{% endblock %}

{% block row_fluid %}
{% endblock %}

{% block header %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block container %}

    {% block content %}

        {% if err_msg %}
            <script type="text/javascript" charset="utf-8">

                $(window).load(function(){
                    $('#section_modal').modal('show');
                });

                var url = '/survey2/' + '{{ survey_id }}'  + '/#row{{ section_id }}';
                $(".close").live('click', function() {
                    $(location).attr('href', url);
                });

                var KEYCODE_ESC = 27;
                $(document).keyup(function(e) {
                    if (e.keyCode == KEYCODE_ESC) { $(location).attr('href', url); }
                });
            </script>
        <!-- modal content-->
        <div class="modal hide fade" id="section_modal">

        {% endif %}

        <div class="modal-header">
            <a class="close" data-dismiss="modal" >&times;</a>
            <h3>{% if action == 'update' %}
                {% trans "Update" %}
            {% else %}
                {% trans "Add" %}
            {% endif %} {% trans "Section Branch" %}
            </h3>
        </div>

        <form method="POST" action="{% if action == 'update' %}/section/branch/{{ branching_id }}/{% else %}/section/branch/add/?section_id={{ section_id }}{% endif %}" enctype="multipart/form-data" id="update_form">
            {% csrf_token %}

            {{ form.section }}
            <!--"keys" is hidden for section_type 1 (voice) & 5(record message)-->
            <div class="modal-body">
            {% if section_type == 1 or section_type == 5 %}
                {{ form.keys }}
            {% else %}
                <div class="row">
                    <div class="span2 clearfix{% if form.keys.errors %} control-group error{% endif %}">
                        <label class="control-label" for="id_{{ form.keys.name }}">{{ form.keys.label }}</label>
                        <div class="input">
                            {{ form.keys }}
                            {% if form.keys.errors %}
                                <span class="help-inline">{{ form.keys.errors|removetags:"ul li"|safe }}</span>
                            {% endif %}
                            <span class="help-block">{{ form.keys.help_text|safe }} </span>
                        </div>
                    </div>
                </div>
            {% endif %}
                <div class="row">
                    <div class="span2 clearfix{% if form.goto.errors %} control-group error{% endif %}">
                        <label class="control-label" for="id_{{ form.goto.name }}">{{ form.goto.label }}</label>
                        <div class="input">
                            {{ form.goto }}
                            {% if form.goto.errors %}
                                <span class="help-inline">{{ form.goto.errors|removetags:"ul li"|safe }}</span>
                            {% endif %}
                            <span class="help-block">{{ form.goto.help_text|safe }} </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {% if action == 'update' %}
                    <input id="id_update" name="update" class="btn btn-primary" type="submit" value="{% trans "Update" %}" />
                {% else %}
                    <input id="id_add" name="add" type="submit" class="btn btn-primary" value="{% trans "Save" %}" />
                {% endif %}
                &nbsp;
                <a href="#" class="close btn" data-dismiss="modal">{% trans "Close" %}</a>
            </div>
        </form>

    {% if err_msg %}
    </div>
    {% endif %}

    {% endblock %}

    {% block footer %}
    {% endblock %}

{% endblock %}