{% extends "frontend/master.html" %}
{% load i18n dialer_cdr_extras dajaxice_templatetags common_tags icons %}

{% block extra_files %}

    {% dajaxice_js_import %}

    <script src="{{ STATIC_URL }}newfies/js/jquery.dajax.core.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}newfies/js/jquery.ba-serializeobject.js" type="text/javascript"></script>

    <style type="text/css">
         /* style for question box for jquery UI sort*/
        .column { width: 95%; float: left; padding-bottom: 0px; }
        .portlet { margin: 0 1em 1em 0; }
        .portlet-header { margin: 0.3em; padding-bottom: 10px; padding-left: 0.2em; }
        .portlet-header .btn { float: right; padding: 5px 3px 1px 4px; margin: 0 0 0.5em 0.2em; }
        .portlet-content { padding: 0.4em; }
        .ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
        .ui-sortable-placeholder * { visibility: hidden; }
         /* change span width for response inputs */
        .span5 {width: 160px;}
    </style>

    <script type="text/javascript">

        // To sort question
        function section_sort(id, sort_order) {
            Dajaxice.survey2.section_sort(Dajax.process, {'id': id, 'sort_order': sort_order});
        }

        $(function() {
            $(".column").sortable({
                update: function(event, ui) {
                    // survey question sorting logic
                    var result = $('.column').sortable('toArray');
                    j=1; // sort order
                    for(i=0; i < (result.length); i++) {
                        section_sort(result[i].split('row')[1], j);
                        j++;
                    }
                },
                handle: '.icon-move'
            });

            //Add toggle button
            $(".portlet").addClass("ui-widget ui-widget-content ui-helper-clearfix ui-corner-all")
                    .find(".portlet-header")
                    .addClass("ui-widget-header ui-corner-all")
                    .prepend('<a class="btn btn-small square" href="#"><i class="icon-circle-arrow-up"></i></a>')
                    .end()
                    .find(".portlet-content");

            //Add Goto button
            $(".portlet").addClass("ui-widget ui-widget-content ui-helper-clearfix ui-corner-all")
                    .find(".portlet-header")
                    .addClass("ui-widget-header ui-corner-all")
                    .prepend('<a class="section-branch btn btn-small" href="#"><i class="icon-random"></i></a>')
                    .end()
                    .find(".portlet-content");

            //Add move button
            $(".portlet").addClass("ui-widget ui-widget-content ui-helper-clearfix ui-corner-all")
                    .find(".portlet-header")
                    .addClass("ui-widget-header ui-corner-all")
                    .prepend('<a class="btn btn-small square" href="#"><i class="icon-move"></i></a>')
                    .end()
                    .find(".portlet-content");

            //Handle toggle click to show and hide section details
            $(".portlet-header .btn-small .icon-circle-arrow-up").click(function() {
                $(this).toggleClass("icon-circle-arrow-up").toggleClass("icon-circle-arrow-down");
                $(this).parents(".portlet:first").find(".portlet-content").toggle();
            });

            //$(".column").disableSelection();
        });
    </script>
{% endblock %}

{% block content_header %}
    <h1>{% if action == 'update' %}
        {% trans "Update" %}
    {% else %}
        {% trans "Add" %}
    {% endif %} {% trans "Survey" %}
        <small>{% trans "Survey configuration" %}</small>
    </h1>
{% endblock %}

{% block content %}

{% if msg %}
    <div class="alert alert-success">
        <strong>{% trans "Alert" %} : </strong>  {{ msg }}
    </div>
{% endif %}

{% if error_msg %}
    <div class="alert alert-error">
        <strong>{% trans "Alert" %} : </strong>  {{ error_msg }}
    </div>
{% endif %}

<form class="well" method="POST" action="." enctype="multipart/form-data" id="update_form">{% csrf_token %}
<div class="row">
<div class="span12">
    <div class="row">
        {% get_fieldset name,description as survey_fields from form %}
        {% for field in survey_fields.visible_fields %}
            <div class="span4 clearfix{% if field.errors %} control-group error{% endif %}">
                <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                <div class="input">
                    {{ field }}
                    {% if field.errors %}
                        <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span>
                    {% endif %}
                    <span class="help-block">{{ field.help_text }} </span>
                </div>
            </div>
        {% endfor %}

        <div class="span4 clearfix">
            <label class="control-label">&nbsp;</label>
            <div class="input">
                <div align="center">
                {% if action == 'update' %}
                    <input id="update" type="submit" class="btn btn-primary" onclick="javascript:document.getElementById('update_form').submit();" value="{% trans "Update Survey" %}" />
                {% else %}
                    <input id="add" type="submit" class="btn btn-primary" value="{% trans "Submit" %}" />
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>

    <p>
        {% if action == 'update' %}
        <fieldset>
            <div class="column">
                {% if section_list %}
                    {% for section in section_list %}
                    <div id="row{{ section.id }}" class="portlet">
                        <div class="portlet-header">
                            {{ section.order }}. {{ section.type|section_type_name }}

                            <!--To remove section branching for voice, record &
                                patch-through section-->
                            <script type="text/javascript">
                                var flag = 0;
                            </script>
                            {% if section.type == 1 or section.type == 5 or section.type == 6 %}
                                {% if section.get_branching_count_per_section > 0 or section.type == 6 %}
                                    <script type="text/javascript">
                                        $(function() {
                                            $("#row"+{{ section.id }}).find(".section-branch").contents().unwrap();
                                            $("#row"+{{ section.id }}).find(".icon-random").remove();
                                        });
                                        flag = 1;
                                    </script>
                                {% endif %}
                            {% endif %}

                            <script type="text/javascript">
                                if(flag == 0)
                                {
                                    $(function() {
                                        $("#row"+{{ section.id }}).find(".section-branch")
                                            .attr("url", "/section/branch/{{ section.id }}/")
                                            .attr("data-toggle", "modal")
                                            .attr("href", "#section-branch")
                                            .attr("data-controls-modal", "section-branch-content");
                                    });
                                }
                            </script>
                        </div>
                        <div class="portlet-content">
                            <div class="row">
                                <div class="span12">
                                    <div class="row">
                                        <div class="span9">
                                        <!--Voice Section form-->
                                        {% if section.type == 1 %}
                                            <div class="row">
                                                <div class="span8">
                                                    <b>{% trans "phrasing"|title %} :</b> {{ section.phrasing }}<br/>
                                                    <b>{% trans "question"|title %} :</b> {{ section.question }}<br/>
                                                </div>
                                            </div>
                                        {% endif %}

                                        <!--Multiple choice Section form-->
                                        {% if section.type == 2 %}
                                            <div class="row">
                                                <div class="span8">
                                                    <b>{% trans "phrasing"|title %} :</b> {{ section.phrasing }}<br/>
                                                    <b>{% trans "question"|title %} :</b> {{ section.question }}<br/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="span8">
                                                    {% if section.key_0|length > 0 %}
                                                        {% trans "Result if the user press" %} 0 : {{ section.key_0 }} <br/>
                                                    {% endif %}
                                                    {% if section.key_1|length > 0 %}
                                                        {% trans "Result if the user press" %} 1 : {{ section.key_1 }} <br>
                                                    {% endif %}
                                                    {% if section.key_2|length > 0 %}
                                                        {% trans "Result if the user press" %} 2 : {{ section.key_2 }} <br/>
                                                    {% endif %}
                                                    {% if section.key_3|length > 0 %}
                                                        {% trans "Result if the user press" %} 3 : {{ section.key_3 }} <br/>
                                                    {% endif %}
                                                    {% if section.key_4|length > 0 %}
                                                        {% trans "Result if the user press" %} 4 : {{ section.key_4 }} <br/>
                                                    {% endif %}
                                                    {% if section.key_5|length > 0 %}
                                                        {% trans "Result if the user press" %} 5 : {{ section.key_5 }} <br/>
                                                    {% endif %}
                                                    {% if section.key_6|length > 0 %}
                                                        {% trans "Result if the user press" %} 6 : {{ section.key_6 }} <br>
                                                    {% endif %}
                                                    {% if section.key_7|length > 0 %}
                                                        {% trans "Result if the user press" %} 7 : {{ section.key_7 }} <br/>
                                                    {% endif %}
                                                    {% if section.key_8|length > 0 %}
                                                        {% trans "Result if the user press" %} 8 : {{ section.key_8 }} <br/>
                                                    {% endif %}
                                                    {% if section.key_9|length > 0 %}
                                                        {% trans "Result if the user press" %} 9 : {{ section.key_9 }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}

                                        <!--Rating Section form-->
                                        {% if section.type == 3 %}
                                            <div class="row">
                                                <div class="span8">
                                                    <b>{% trans "phrasing"|title %} :</b> {{ section.phrasing }}<br/>
                                                    <b>{% trans "question"|title %} :</b> {{ section.question }}<br/>
                                                    {% trans "From 1 to" %} {{ section.rating_laps }}
                                                </div>
                                            </div>
                                        {% endif %}

                                        <!--Enter number Section form-->
                                        {% if section.type == 4 %}
                                            <div class="row">
                                                <div class="span8">
                                                    <b>{% trans "phrasing"|title %} :</b> {{ section.phrasing }}<br/>
                                                    <b>{% trans "question"|title %} :</b> {{ section.question }}<br/>
                                                    {% if section.validate_number %}
                                                        {% trans "Minimum" %} : {{ section.min_number }} <br/>
                                                        {% trans "Maximum" %} : {{ section.max_number }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}

                                        <!--Record Message Section form-->
                                        {% if section.type == 5 %}
                                            <div class="row">
                                                <div class="span8">
                                                    <b>{% trans "phrasing"|title %} :</b> {{ section.phrasing }}<br/>
                                                    <b>{% trans "question"|title %} :</b> {{ section.question }}<br/>
                                                </div>
                                            </div>
                                        {% endif %}

                                        <!--Patch-Through Section form-->
                                        {% if section.type == 6 %}
                                            <div class="row">
                                                <div class="span8">
                                                    <b>{% trans "phrasing"|title %} :</b> {{ section.phrasing }}<br/>
                                                    <b>{% trans "question"|title %} :</b> {{ section.question }}<br/>
                                                    {% if section.dial_phonenumber %}
                                                        {% trans "Dial phone number" %} : {{ section.dial_phonenumber }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}

                                        <!--branching-->
                                        {% if branching_list %}

                                            {% if section.id in branching_section_list %}
                                            <div class="row">
                                                <div class="span8">
                                                    <b>{% trans "Branching" %}</b><br/>
                                                    <table class="table table-striped table-bordered table-condensed">
                                                        <thead>
                                                        <tr>
                                                            <th>{% trans "keys"|title %}</th>
                                                            <th>{% trans "goto"|title %}</th>
                                                            <th class="survey_edit_key">&nbsp;</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for branch in branching_list %}
                                                            <tr>
                                                                {% if branch.section_id == section.id %}
                                                                    <td>
                                                                        {% trans "If the user press" %}&nbsp;
                                                                        {% if branch.keys %}
                                                                            {{ branch.keys }}
                                                                        {% else %}
                                                                            {% trans "None" %}
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        #{% if branch.goto.id %}
                                                                            {{ branch.goto.id }}&nbsp;
                                                                            {% if branch.goto.question %}
                                                                                {{ branch.goto.question }}
                                                                            {% else %}
                                                                                {{ branch.goto.phrasing }}
                                                                            {% endif %}
                                                                        {% else %}
                                                                            &nbsp;{% trans "Hang up" %}
                                                                        {% endif %}
                                                                    </td>
                                                                    <td class="survey_edit_key">
                                                                        <a {% icon_style 'delete' %} href="/section/branch/{{ branch.id }}/?delete=true" class="icon" title="{% trans "Delete" %}">&nbsp;</a>
                                                                    </td>
                                                                {% endif %}
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endif %}

                                        </div>


                                        <div class="span3">
                                            <button data-toggle="modal" href="#section-update-edit" class="section-edit btn btn-info" url='/section/{{ section.id }}/' data-controls-modal='section-update-content-edit'>
                                                {% trans "Edit" %}
                                            </button>
                                            <input value="{% trans "Delete" %}" onclick="document.location.href='/section/{{ section.id }}/?delete=true';" class="btn btn-danger" type="button" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </fieldset>
        {% endif %}

    </p>

    <!--update question in modal-->
    <script type="text/javascript" charset="utf-8">

        $(".section-edit").live('click', function() {
            var url = $(this).attr('url');
            var modal_id = $(this).attr('data-controls-modal');
            $("#" + modal_id).load(url);
            /*.css({
             'width': function () {
             return '570px';
             }
             });*/
        })

    </script>
    <!-- updaet survey question modal content-->
    <div id="section-update-edit" class="modal hide fade" >

        <div class="modal-body" id="section-update-content-edit">
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">{% trans "Close" %}</a>
        </div>
    </div>
    {% if action == 'update' %}
        <button data-toggle="modal" href="#section-create-add" class="section-add btn btn-info" url='/section/add/' data-controls-modal='section-create-content-add'>
            {% trans "Add Section" %}
        </button>
    {% endif %}

    <script type="text/javascript" charset="utf-8">

        $(".section-add").live('click', function() {

            var url = $(this).attr('url');
            var modal_id = $(this).attr('data-controls-modal');
            url = url + "?survey_id=" + {{ survey_obj_id }};
            $("#" + modal_id).load(url);
        })

    </script>
    <!-- modal content-->
    <div id="section-create-add" class="modal hide fade">
        <a class="close" data-dismiss="modal" >&times;</a>
        <h3>
            {% trans "Add" %} {% trans "Section" %}
            <small></small>
        </h3>
        <div class="modal-body" id="section-create-content-add">
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">{% trans "Close" %}</a>
        </div>
    </div>


    <script type="text/javascript" charset="utf-8">

        $(".section-branch").live('click', function() {

            var url = $(this).attr('url');
            var modal_id = $(this).attr('data-controls-modal');
            $("#" + modal_id).load(url);
        })

    </script>
    <!-- modal content-->
    <div id="section-branch" class="modal hide fade">
        <div class="modal-body" id="section-branch-content"></div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">{% trans "Close" %}</a>
        </div>
    </div>
</form>

{% endblock %}
