{% extends "frontend/master.html" %}
{% load i18n dialer_cdr_extras %}

{% block extra_files %}
{% endblock %}

{% block content %}

<center>{% if action == 'update' %}
            {% trans "Update" %}
        {% else %}
            {% trans "Add" %}
        {% endif %}{% trans "VoIP App" %}</center>

<div class="span-24 last" align=left>
<form method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
    <fieldset>
    <legend>VoIP App</legend>
        <table align=center border=1>
            {% get_fieldset name,description,status,type,gateway as voip_app_fields from form %}
            {{ voip_app_fields.as_table }}
        </table>
    </fieldset>
        <table border=1 style="width: 500px;">
            <tr>
                <td >&nbsp;</td>
                <td align=left>
                  {% if action == 'update' %}
                    <input id="update" type="submit" value="{% trans "Update" %}" />
                  {% else %}
                    <input id="add" type="submit" value="{% trans "Submit" %}" />
                  {% endif %}
                   &nbsp;&nbsp;
                  <input type="reset" name="reset" value="{% trans "Clear" %}">&nbsp;&nbsp;
                  {% if action == 'update' %}
                     <input id="delete" name="delete" type="submit" value="{% trans "Delete" %}" />
                  {% endif %}
               </td>
            </tr>
        </table>
</form>
</div>

{% endblock %}
