{% extends "frontend/master.html" %}
{% load i18n %}

{% block title %}{% trans "password reset"|title %}{% endblock %}

{% block content %}

<br/>
<div align="center">

    <h2>{% trans "forgotten your password?"|capfirst %}</h2>
    {% trans "enter your e-mail address below, and we'll e-mail instructions for setting a new one."|capfirst %}
    <br/><br/>

    <div class="col-md-offset-3 col-md-6">
        <form class="form-inline well" role="form"  action="" method="post">
            {% csrf_token %}
            {% for field in forgotform %}
                <div class="form-group col-xs-6">
                    {{ field }}
                </div>
                {% if field.errors %}
                  <span class="help-block">{{ field.errors|removetags:"ul li"|safe }}</span><br/>
                {% endif %}
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="{% trans 'reset my password'|capfirst %}" />
        </form>
    </div>

</div>

{% endblock %}
