{% extends "frontend/master.html" %}
{% load i18n %}

{% block title %}{% trans 'password reset'|title %}{% endblock %}

{% block content %}

<div class="login" align="center">

{% if validlink %}
    <p><h2><center>{% trans 'enter new password'|title %}</center></h2></p>

    <div class="alert alert-info">{% trans "please enter your new password twice for verification."|capfirst %}</div>
    <script type="text/javascript">
    $(function() {
        $("#id_new_password1,#id_new_password2").attr('class', 'form-control');
    });
    </script>
    <form class="well" action="" method="post">{% csrf_token %}
        {% for field in form %}
            <div class="row text-left">
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                    <div class="col-xs-4">
                        <label class="control-label" for="{{ field.auto_id }}">{{ field.label|title }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <span class="help-block">{{ field.errors|removetags:"ul li"|safe }}</span>
                        {% endif %}
                            <span class="help-block">{{ field.help_text|capfirst }} </span>
                    </div>
                </div>
            </div>

        {% endfor %}
        <div class="text-left">
            <input class="btn btn-primary" type="submit" value="{% trans 'change my password'|title %}" />
        </div>

    </form>

{% else %}

    <div class="alert alert-error">
        {% trans 'password reset unsuccessful'|title %}
    </div>
    <br/>
    <div class="alert alert-error">
        {% trans "the password reset link was invalid, possibly because it has already been used. please request a new password reset."|capfirst %}
    </div>

{% endif %}

</div>
{% endblock %}
