{% extends "frontend/master.html" %}
{% load i18n utils_tags %}

{% block title %}{% trans "password reset"|title %}{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
   <h2>{% trans "forgotten your password?"|capfirst %}</h2>
    <form class="well" role="form" method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
            <div class="col-md-12">
            {% trans "enter your e-mail address below, and we'll e-mail instructions for setting a new one."|capfirst %}
            </div>
        </div>
        <div class="row">
            {% for field in form %}
                {% field_html_code field 'col-md-3' %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-3">
                <input type="submit" class="btn btn-primary" value="{% trans 'reset my password'|capfirst %}" />
            </div>
        </div>
    </form>
{% endblock %}
