Django>=1.3.0
MySQL-python==1.2.3
Werkzeug==0.6.2
amqplib==0.6.1
anyjson==0.3
celery>=2.2.5
django-celery>=2.2.4
django-extensions==0.6
django-jsonfield==0.6
django-pagination==1.0.7
django-picklefield==0.1.9
django-urlauth==0.1.1
django-uuidfield
docutils
kombu==1.0.2
pyparsing==1.5.5
python-dateutil==1.5
redis==2.2.2
simplejson==2.1.3
uuid==1.30
wsgiref==0.1.2
git+git://github.com/Star2Billing/switch2bill-common.git
git+git://github.com/Star2Billing/simu-prefix-country.git
git+git://github.com/areski/django-countries.git
hg+https://bitbucket.org/jespern/django-piston
BeautifulSoup==3.2.0
Pygments==1.4
#django-test-extensions==0.9.1
hg+https://bitbucket.org/izi/django-admin-tools
python-memcached>=1.47
django-memcache-status>=1.0.1
git+git://github.com/jtauber/django-notification.git
