{% extends "frontend/master.html" %}
{% load i18n %}
{% load pagination_tags %}


{% block extra_files %}
{% endblock %}

{% block content %}

<center>{% if action == 'update' %}
            {% trans "Update" %}
        {% else %}
            {% trans "Add" %}
        {% endif %} {% trans "Contact" %}</center>
<div class="span-24 last" align=left>
<form method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
    <fieldset>
        <legend>Contact</legend>
            <table align=center border=1>
                {% get_fieldset phonebook,last_name,first_name,email,country,city,description,status,additional_vars as contact_fields from form %}
                {{ contact_fields.as_table }}
            </table>
    </fieldset>
        <table align=center border=1 style="width: 500px;">
        <tr>
            <td >&nbsp;</td>
            <td align=left>
              {% if action == 'update' %}
                <input id="update" type="submit" value="{% trans "Update" %}" />
              {% else %}
                <input id="add" type="submit" value="{% trans "Submit" %}" />
              {% endif %}
               &nbsp;&nbsp;
              <input type="reset" name="reset" value="{% trans "Clear" %}">&nbsp;&nbsp;
              {% if action == 'update' %}
                 <input id="delete" name="delete" type="submit" value="{% trans "Delete" %}" />
              {% endif %}
           </td>
        </tr>
    </table>
</form>
</div>
 
{% endblock %}
