{% extends "frontend/master.html" %}
{% load i18n dialer_cdr_extras %}

{% block extra_files %}
<style>
.add {
background:transparent url({{STATIC_URL}}newfies/icons/add.png) no-repeat scroll left center;
padding:1px 1px 1px 20px;
}
</style>
{% endblock %}


{% block content_header %}
<h1>{% if action == 'update' %}
            {% trans "Update" %}
        {% else %}
            {% trans "Add" %}
        {% endif %} {% trans "Contact" %} <small>{% trans "provide here the information about the contact you want to call" %}</small></h1>
{% endblock %}


{% block content %}

<form method="POST" action="." enctype="multipart/form-data">
    {% csrf_token %}
        {{ form }}

        <div class="actions">
            {% if action == 'update' %}
                <input id="update" class="btn primary" type="submit" value="{% trans "Update" %}" />
            {% else %}
                <input id="add" class="btn primary" type="submit" value="{% trans "Submit" %}" />
            {% endif %}
                &nbsp;&nbsp;
            {% if action == 'update' %}
                <input id="delete" class="btn danger" name="delete" type="submit" value="{% trans "Delete" %}" />
            {% endif %}
        </div>
</form>
 
{% endblock %}
