{% extends "frontend/master.html" %}
{% load i18n dialer_cdr_extras %}

{% block extra_files %}
{% endblock %}

{% block content_header %}
<h1>{% trans "Import Contact" %} <small>{% trans "Import list of contact by uploading CSV files" %}</small></h1>
{% endblock %}

{% block content %}
{% if msg %}
<div class="alert-message success">
        <strong>{% trans "Alert" %} : </strong>  {{ msg }}
</div>
{% endif %}
{% if error_msg %}
<div class="alert-message error">
        <strong>{% trans "Alert" %} : </strong>  {{ error_msg }}
</div>
{% endif %}
<br/>
<table id="rounded-corner">
<caption><center>{% trans "Sample File" %}</center></caption>
<thead>
<tr>
    <th class="rounded-company">{% trans "contact" %}</th>
    <th class="rounded-q1">{% trans "last name" %}</th>
    <th class="rounded-q2">{% trans "first name" %}</th>
    <th class="rounded-q3">{% trans "email-id" %}</th>
    <th class="rounded-q3">{% trans "description" %}</th>
    <th class="rounded-q3">{% trans "status" %}</th>
    <th class="rounded-q4">{% trans "additional_vars" %}</th>
</tr>
</thead>
<tr>
    <td>1234</td>
    <td>Belaid</td>
    <td>Arezqui</td>
    <td>areski@gmail.com</td>
    <td>test subscriber</td>
    <td>1</td>
    <td>test</td>
</tr>
<tr>
    <td>5678</td>
    <td>Fourth</td>
    <td>John</td>
    <td>john@gmail.com</td>
    <td>test subscriber</td>
    <td>0</td>
    <td>test</td>
</tr>
</table>
<br/>
<center>{% trans "SUBSCRIBER STATUS = ('1'-'ACTIVE') ('0'-'INACTIVE')" %}</center>
<br/>
<br/>
<div class="span-24 last" align=left>
<form method="post" action="" enctype="multipart/form-data" >
{% csrf_token %}
     {{ form }}
     <div class="actions">
         <input type="submit" class="btn primary" name="submit" value="{% trans "Submit" %}" />
     </div>
<!--<fieldset>
        <table border=1 align=center>
        {% get_fieldset phonebook,csv_file as contact_import_fields from form %}
        {{ contact_import_fields.as_table }}
        </table>
    </fieldset>
    <table align=center border=1>
    <tr>
        <td colspan=2 align=right>
        <input type="submit" class="btn primary" name="submit" value="{% trans "Submit" %}" />
        </td>
    </tr>
    </table>-->
</form>
</div>


{% if success_import_list %}
<table border=1 align=center>
    <tr>
        <th>{% trans "Subscriber(s) Successfully Imported" %} :</th>
    </tr>
{% for row in success_import_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>
            {{ row }}
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}


{% if error_import_list %}
<br>
<table border=1 align=center>
    <tr>
        <th>{% trans "Subscriber(s) not Imported" %} :</th>
    </tr>
{% for row in error_import_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>
            {{ row }}
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}

{% if type_error_import_list %}
<br>
<table border=1 align=center>
    <tr>
        <th>{% trans "Type Miss-match" %} :</th>
    </tr>
{% for row in type_error_import_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>
            {{ row }}
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}
