{% extends "frontend/master.html" %}
{% load i18n %}

{% block extra_files %}
    <style>
    .help-inline {
        padding-left: 55px;
    }
    </style>
{% endblock %}

{% block content_header %}
    <h1>{% trans "import contact"|title %} <small>{% trans "import list of contact by uploading CSV files"|capfirst %}</small></h1>
{% endblock %}

{% block content %}
<center>
    <table class="table table-striped table-bordered table-condensed">
    <caption><center><h3>{% trans "sample file"|title %}</h3></center></caption>
    <thead>
    <tr>
        <th>{% trans "contact number"|title %}</th>
        <th>{% trans "last name"|title %}</th>
        <th>{% trans "first name"|title %}</th>
        <th>{% trans "email"|title %}</th>
        <th>{% trans "description"|title %}</th>
        <th>{% trans "status"|title %}</th>
        <th>{% trans "address"|title %}</th>
        <th>{% trans "city"|title %}</th>
        <th>{% trans "state"|title %}</th>
        <th>{% trans "country"|title %}</th>
        <th>{% trans "unit number"|title %}</th>
        <th>{% trans "additional variables"|title %}</th>
    </tr>
    </thead>
    <tr>
        <td>650784355</td>
        <td>Belaid</td>
        <td>Arezqui</td>
        <td>areski@gmail.com</td>
        <td>test subscriber</td>
        <td>1</td>
        <td>Address</td>
        <td>Barcelona</td>
        <td>State</td>
        <td>ES</td>
        <td>123</td>
        <td>test</td>
    </tr>
    <tr>
        <td>650723032</td>
        <td>Fourth</td>
        <td>John</td>
        <td>john@gmail.com</td>
        <td>test subscriber</td>
        <td>0</td>
        <td>Address</td>
        <td>Barcelona</td>
        <td>State</td>
        <td>ES</td>
        <td>123</td>
        <td>test</td>
    </tr>
    </table>
    <span class="label notice">{% trans "SUBSCRIBER STATUS = ('1'-'ACTIVE') ('0'-'INACTIVE')" %}</span>
</center>
<br/><br/>

<form class="well" method="post" action="" enctype="multipart/form-data" >{% csrf_token %}
     {% for field in form %}
     <div class="clearfix{% if field.errors %} error{% endif %}">
        <label class="control-label" for="{{ field.auto_id }}">{{ field.label|title }}</label>
        <div class="input">
            {{ field }}
            {% if field.errors %}
                <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span>
            {% endif %}
            <span class="help-block">{{ field.help_text|capfirst }} </span>
        </div>
     </div>
     {% endfor %}

     <div class="actions">
         <input type="submit" class="btn btn-primary" name="submit" value="{% trans "submit"|title %}" />
     </div>
</form>

{% if success_import_list %}
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th>{% trans "subscriber(s) imported"|title %} :</th>
        </tr>
        {% for row in success_import_list %}
        <tr>
            <td>
                {{ row }}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

{% if type_error_import_list %}
<br/>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>{% trans "type mismatch"|title %} :</th>
    </tr>
    {% for row in type_error_import_list %}
    <tr>
        <td>
            {{ row }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
