{% extends "frontend/master.html" %}
{% load i18n common_tags pagination_tags common_tags icons %}

{% block extra_files %}
    <script language="javascript" type="text/javascript">
        $(document).ready(function() {
            $("#id_contact_no").keydown(function(event) {
                numeric(event);
            });
        });
    </script>
    {% include "frontend/custom_jquery_select_all.html" %}

    <style type="text/css">
    table td {
        width: auto;
        padding: 10px 5px 9px 0px;
    }
    label {
        text-align: left;
    }
    </style>
{% endblock %}

{% block content_header %}
    <h1>{% trans "Contacts" %} <small>{% trans "List, add and edit contacts" %}</small></h1>
{% endblock %}

{% block content %}

<form class="well form-search" method="POST" action="." enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row">
        <div class="span12">
            <div class="row">
                {% get_fieldset contact_no,name,phonebook as search_contact from form %}
                {% for field in search_contact %}
                <div class="span4 clearfix{% if field.errors %} error{% endif %}">
                    <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                    <div class="input">
                        {{ field }}
                        {% if field.errors %}
                            <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span>
                        {% endif %}
                        <span class="help-block">{{ field.help_text }} </span>
                    </div>
                </div>
                {% endfor %}

                <div class="span4 clearfix{% if form.status.errors %} error{% endif %}">
                    <label class="control-label" for="id_{{ form.status.name }}">{{ form.status.label }}</label>
                    <div class="input">
                        {{ form.status|removetags:"ul li"|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="actions">
        <input class="btn btn-primary" type=submit name=submit value={% trans "Search" %} />&nbsp;
        <input class="btn btn-danger" type=reset name=reset value={% trans "Clear" %} />
    </div>
</form>

<br/>

<script type="text/javascript">
function add_button()
{
    window.location = 'add/';
}
function import_button()
{
    window.location = 'import/';
}
function delete_button()
{
    $('#ListForm').submit();
}
</script>

<div class="btn-group">
    <button class="btn btn-small">{% trans "Action" %}</button>
    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        {% if perms.dialer_contact.add_contact %}
            <li><a href="#" onclick="add_button()">{% trans "Add" %}</a></li>
        {% endif %}
        <li><a href="#" onclick="import_button()">{% trans "Import" %}</a></li>
        {% if perms.dialer_contact.delete_contact %}
            <li><a href="#" onclick="delete_button()">{% trans "Delete selected" %}</a></li>
        {% endif %}
    </ul>
</div>

<br/><br/>

<form method="POST" action="del/0/" enctype="multipart/form-data" id="ListForm">{% csrf_token %}
    <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
            <th><input type="checkbox" onclick="toggleChecked(this.checked)"></th>
            <th>{% sort_link CONTACT_COLUMN_NAME.id col_name_with_order.id %}</th>
            <th>{% sort_link CONTACT_COLUMN_NAME.phonebook col_name_with_order.phonebook %}</th>
            <th>{% sort_link CONTACT_COLUMN_NAME.contact col_name_with_order.contact %}</th>
            <th>{% trans CONTACT_COLUMN_NAME.last_name %}</th>
            <th>{% trans CONTACT_COLUMN_NAME.first_name %}</th>
            <th>{% sort_link CONTACT_COLUMN_NAME.status col_name_with_order.status %}</th>
            <th>{% sort_link CONTACT_COLUMN_NAME.date col_name_with_order.updated_date %}</th>
            <th>{% trans 'Action' %}</th>
        </tr>
        </thead>
        {% if contact_list %}
            {% autopaginate contact_list PAGE_SIZE %}
            {% for row in contact_list %}
                <tr>
                    <td><input type="checkbox" name="select" class="checkbox" value="{{ row.id }}" /></td>
                    <td>{{ row.id }}</td>
                    <td>{{ row.phonebook__name }}</td>
                    <td>{{ row.contact }}</td>
                    <td>{{ row.last_name }}</td>
                    <td>{{ row.first_name }}</td>
                    <td>{{ row.status }}</td>
                    <td>{{ row.updated_date }}</td>
                    <td>
                        {% if perms.dialer_contact.change_contact %}
                            <a href="{{ row.id }}/" {% icon "page_edit" %} title="{% trans "Update contact" %}"></a>
                        {% endif %}
                        {% if perms.dialer_contact.delete_contact %}
                            <a href="del/{{ row.id }}/" {% icon "delete" %} title="{% trans "Delete contact" %}"></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="9">
                    {% paginate %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8" align="center">
                    {% trans "no records found"|title %}
                </td>
            </tr>
        {% endif %}
    </table>
</form>
{% endblock %}
