{% extends "frontend/master.html" %}
{% load i18n common_tags %}

{% block extra_files %}
    <script language="javascript" type="text/javascript">
        $(document).ready(function() {
            $("#id_contact_no").keydown(function(event) {
                numeric(event);
            });
        });
    </script>
    {% include "frontend/custom_jquery_select_all.html" %}

    <style type="text/css">
    table td {
        width: auto;
        padding: 10px 5px 9px 0px;
    }
    label {
        text-align: left;
    }
    </style>
{% endblock %}

{% block content_header %}
    <h1>{% trans "Contacts" %} <small>{% trans "List, add and edit contacts" %}</small></h1>
{% endblock %}

{% block content %}

<form class="well form-search" method="POST" action="." enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="span6">
            <div class="clearfix{% if form.contact_no.errors %} error{% endif %}">
                <label class="control-label" for="id_{{ form.contact_no.name }}">{{ form.contact_no.label }}</label>
                <div class="input">
                    {{ form.contact_no }}
                    {% if form.contact_no.errors %}
                        <span class="help-inline">{{ form.contact_no.errors|removetags:"ul li"|safe }}</span>
                    {% endif %}
                    <span class="help-block">{{ form.contact_no.help_text }} </span>
                </div>
            </div>
        </div>
        <div class="span6">
            {{ form.contact_no_type|removetags:"ul li"|safe }}
        </div>
    </div>

    {% get_fieldset name,phonebook as search_contact from form %}
    {% for field in search_contact %}
    <div class="clearfix{% if field.errors %} error{% endif %}">
        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
        <div class="input">
            {{ field }}
            {% if field.errors %}
                <span class="help-inline">{{ field.errors|removetags:"ul li"|safe }}</span>
            {% endif %}
            <span class="help-block">{{ field.help_text }} </span>
        </div>
    </div>
    {% endfor %}

    <div class="clearfix{% if form.status.errors %} error{% endif %}">
        <label class="control-label" for="id_{{ form.status.name }}">{{ form.status.label }}</label>
        <div class="input">
            {{ form.status|removetags:"ul li"|safe }}
        </div>
    </div>

    <div class="actions">
        <input class="btn btn-primary" type=submit name=submit value={% trans "Search" %} />&nbsp;
        <input class="btn btn-danger" type=reset name=reset value={% trans "Clear" %} />
    </div>
</form>

<br/>

<form method="POST" action="del/0/" enctype="multipart/form-data" id="ListForm">{% csrf_token %}
    <table id="flex1" align="left" style="display:none;"></table>
</form>

<script type="text/javascript">

var kwargs = ('{{ kwargs }}'.replace(/\&#39;/g, "'"));//'{{ kwargs }}'
var name = ('{{ name }}'.replace(/\&#39;/g, "'"));//'{{ q }}'
var arr = new Array(2);
arr[0]=kwargs;
arr[1]=name;
//alert("kwargs="+kwargs+"&name="+name);
//data: encodeURIComponent("kwargs="+kwargs+"&name="+name),

$("#flex1").flexigrid({
    url: "/contact_grid/?" + encodeURIComponent("kwargs="+kwargs+"&name="+name),
    method: 'GET',
    dataType: 'json',
	colModel : [
        {display: '<input type="checkbox" onclick="toggleChecked(this.checked)">', name: '', width: 40, align: 'center'},
		{display: '{% trans "Id" %}', name: 'id', width: 40, sortable: true, align: 'center'},
        {display: '{% trans "Phonebook" %}', name: 'phonebook__name', width: 200, sortable: true, align: 'center'},
        {display: '{% trans "Contact Number" %}', name: 'contact', width: 200, sortable: true, align: 'center'},
        {display: '{% trans "Last Name" %}', name: 'last_name', width: 150, sortable: true, align: 'center'},
        {display: '{% trans "First Name" %}', name: 'first_name', width : 150, sortable : true, align: 'center'},
        {display: '{% trans "Status" %}', name: 'status', width : 100, sortable : true, align: 'center', },
        {display: '{% trans "Date" %}', name: 'updated_date', width: 120, sortable: true, align: 'center', formatter:'datformatter:statusFmattere'},
        {display: '{% trans "Action" %}', name: '', width : 50, align: 'center', formatter:'showlink', formatoptions:{baseLinkUrl:'', }, },
		],
    buttons : [
        {% if perms.dialer_contact.add_contact %}
		    {name: '{% trans "Add" %}', bclass: 'add', onpress : add_button},
            {separator: true},
            {name: '{% trans "Import" %}', bclass: 'add', onpress : import_button},
        {% endif %}
		{separator: true},
        {% if perms.dialer_contact.delete_contact %}
            {name: '{% trans "Delete Selected" %}', bclass: 'delete', onpress : delete_button},
        {% endif %}
		],
    sortname: "id",
	sortorder: "desc",
	usepager: true,
	title: '{% trans "Contacts" %}',
	useRp: true,
	rp: 10,
	showTableToggleBtn: true,
	height: 265,
    pagetext: '{% trans "Page" %}',
    outof: '{% trans "of" %}',
    nomsg: '{% trans "No items" %}',
    procmsg: '{% trans "Processing, please wait ..." %}',
    pagestat: '{% trans "Displaying" %} {from} {% trans "to" %} {to} {% trans "of" %} {total} {% trans "items" %}',
    // onSuccess: function(data){
    //     alert(data);
    //     alert("Request not failed");
    // },
    // onError: function(){
    //     alert("Request failed");
    // },
});

function add_button()
{
    window.location = 'add/';
}
function import_button()
{
    window.location = 'import/';
}
function delete_button()
{
    $('#ListForm').submit();
}
</script>

{% endblock %}
