/* CSS Document */

.fg-button {
   outline: 0;
   margin:0 4px 0 0;
   padding: .8em 1.5em;
   text-decoration:none !important;
   cursor:pointer;
   position: relative;
   text-align: center;
   zoom: 1;
}

.search-form{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.graph_header{
    height: 50px;
    text-align: center;
    font-size: 40px;
}


.errorlist{
    color: red;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

/*reduce font size on listing*/
td {
    font-size: 90%;
}

/* display icon on listing */
.icon {
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 15px;
    padding-bottom: 2px;
    background-repeat:
    no-repeat;
}

td.survey_result_key {
    width: 70px;
    font-weight: bold;
}

td.survey_edit_key {
    width: 100px;
}

.width_200 {
    width: 200px;
}


td.camp_type {
    width: 200px;
}

/* customize the survey edition, this is for the sortable question header */
.portlet-header{
    color: #404040;
    font-weight: bold;
    background-color: whiteSmoke;
    margin: 0.5em;
	padding: 10px 10px 10px 10px;
    padding-bottom: 10px;
	font-size: 20px;
}

/*graph_header*/
.graph_header{
    height: 30px;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 38px;
}

body .modal-section {
    width: 610px;
}

footer {
    margin-top: 50px;
}

.cornerlogo img {
    margin-top: -10px;
    margin-bottom: -10px;
    height: 40px;
}

/* Purple style */
.navbar-inverse {
    background-color: #6E5396;
    border-color: #463265;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #6E5396;
}

.navbar-inverse .navbar-nav > li > a {
    color: #CDBFE3;
    text-shadow: 0 -1px 0 rgba(0,0,0,.15);
}

.jumbotron {
    background-color: #F8F4FF;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color: #8D73B3;
    border-color: #6E5396;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #8D73B3;
    border-color: #8D73B3;
}

.btn-primary {
    color: #ffffff;
    background-color: #6E5396;
    border-color: #6E5396;
}

.nav .caret {
    border-top-color: #463265;
    border-bottom-color: #463265;
}

.btn-info, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    color: #ffffff;
    background-color: #8D73B3;
    border-color: #6E5396;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #463265;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #463265;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #8D73B3;
    border-color: #463265;
}

a {
    color: #6E5396;
}

a:hover, a:focus {
    color: #463265;
    text-decoration: underline;
}

/* End Purple style */

/*#563d7c -> 6E5396
463265 ; 6E5396 ; 8D73B3 ; CDBFE3 ; F8F4FF

*/


/* Add square around icons */
.icon-square {
    padding: 1px 2px 1px 1px;
    color: white;
    background-color: #428bca;
}

.icon-small {
    font-size:10px;
    color: #428bca;
}
/* END - Add circle around icons */
