/* CSS Document */

.fg-button {
   outline: 0;
   margin:0 4px 0 0;
   padding: .8em 1.5em;
   text-decoration:none !important;
   cursor:pointer;
   position: relative;
   text-align: center;
   zoom: 1;
}

.search-form{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.graph_header{
    height: 50px;
    text-align: center;
    font-size: 40px;
}


.errorlist{
    color: red;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

/*reduce font size on listing*/
td {
    font-size: 90%;
}

/* display icon on listing */
.icon {
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 15px;
    padding-bottom: 2px;
    background-repeat:
    no-repeat;
}

td.survey_result_key {
    width: 70px;
    font-weight: bold;
}

td.survey_edit_key {
    width: 100px;
}

.width_200 {
    width: 200px;
}


td.camp_type {
    width: 200px;
}

/* customize the survey edition, this is for the sortable question header */
.portlet-header{
    color: #404040;
    font-weight: bold;
    background-color: whiteSmoke;
    margin: 0.5em;
	padding: 10px 10px 10px 10px;
    padding-bottom: 10px;
	font-size: 20px;
}

/*graph_header*/
.graph_header{
    height: 30px;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 38px;
}

body .modal-section {
    width: 610px;
}

footer {
    margin-top: 50px;
}

.cornerlogo img {
    margin-top: -10px;
    margin-bottom: -10px;
    height: 40px;
}


.navbar-nav > .active > a, .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #463265;
}

.navbar-inverse {
    background-color: #563d7c;
    border-color: #463265;
}

.navbar-inverse .navbar-nav > li > a {
    color: #cdbfe3;
    text-shadow: 0 -1px 0 rgba(0,0,0,.15);
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #fff;
}

.navbar-inverse > .open > a, .navbar-inverse  > .open > a:hover, .navbar-inverse  > .open > a:focus {
    color: #ffffff;
    border-color: #463265;
}
.navbar-inverse > .open > a, .navbar-inverse  > .open > a:hover, .navbar-inverse  > .open > a:focus {
    color: #ffffff;
    background-color: #463265;
}

.jumbotron {
    background-color: #F1E8FF;
}