{% load i18n admin_tools_dashboard_tags %}
{% load memcache_status_tags %}

<script type="text/javascript" src="{{ media_url }}/admin_tools/js/utils.js"></script>

<script type="text/javascript" charset="utf-8">
    // Load js files syncronously and conditionally

    var js_files = [
        {
            src : '{{ media_url }}/admin_tools/js/jquery/jquery.min.js',
            test: function() { return typeof(jQuery) == 'undefined'; }
        },
        {
            src : '{{ media_url }}/admin_tools/js/jquery/jquery-ui.min.js',
            test: function() { return typeof(jQuery.ui) == 'undefined'; }
        },
        {
            src : '{{ media_url }}/admin_tools/js/json.min.js',
            test: function() { return typeof(JSON.stringify) == 'undefined'; }
        },
        {
            src : '{{ media_url }}/admin_tools/js/jquery/jquery.cookie.min.js',
            test: function() { return typeof(jQuery.cookie) == 'undefined'; }
        },
        {
            src : '{{ media_url }}/admin_tools/js/jquery/jquery.dashboard.js',
            test: function() { return true; }
        },
        {
            src : '{{ media_url }}/admin_tools/js/dashboard.js',
            test: function() { return true; }
        }{% for js in dashboard.Media.js %},
        {
            src : '{{ media_url }}/{{ js }}',
            test: function() { return true; }
        }{% endfor %}
    ];

    loadScripts(js_files, function(){
        jQuery(function($) {
            init_dashboard(
                '{{ dashboard.get_id }}',
                {{ dashboard.columns }},
                {% autoescape off %}{{ dashboard_preferences }}{% endautoescape %},
                '{% url admin-tools-dashboard-set-preferences dashboard.get_id %}'
            );
        });
    });
</script>

{% if dashboard.title %}
<h1 class="dashboard-title">{{ dashboard.title }}</h1>
{% endif %}

<div id="dashboard-panel">
    <h3><a href="#">{% trans "Modules" %}</a></h3>
    {% if has_disabled_modules %}
    <ul>
        {% spaceless %}
        {% for module in dashboard.children %}
        {% if not module.enabled %}
        <li><a href="#" rel="module_{{ module.id }}" class="addlink add-dashboard-module">{{ module.title }}</a></li>
        {% endif %}
        {% endfor %}
        {% endspaceless %}
    </ul>
    {% endif %}
</div>
<div id="{{ dashboard.get_id }}" class="dashboard-container">
    {% for module in dashboard.children %}
        {% admin_tools_render_dashboard_module module %}
    {% endfor %}

{% ifequal request.path "/admin/" %}

{% get_cache_stats %}
{% if cache_stats and user.is_superuser %}
<div class="cache_stats">
{% for server in cache_stats %}
<div class="dashboard-module draggable collapsible deletable">
    <table>
    <caption>
        <h2><a href="#"  onclick="
            var elem = document.getElementById('cache{{ forloop.counter }}');
            if(elem.style.display == 'none'){
                elem.style.display = 'table-row-group';
            }else{
                elem.style.display = 'none';
            }
            return false;
        ">memcached: {{ server.0 }} - {% widthratio server.1.bytes server.1.limit_maxbytes 100 %}% load</a> 
       </h2>
    </caption>
    <thead>
    <tr><td colspan="2">
        <div class="cache_graph">
            <div class="cache_graph_value" style="width: {% widthratio server.1.bytes server.1.limit_maxbytes 100 %}%"></div>
        </div>
    </td></tr>
    </thead>
    <tbody id="cache{{ forloop.counter }}">
    <tr>
        <th>{% trans "Miss Ratio" %}</th>
        <td>
            {% widthratio server.1.get_misses server.1.cmd_get 100 %}%
            <div class="cache_graph inline">
                <div class="cache_graph_value" style="width: {% widthratio server.1.get_misses server.1.cmd_get 100 %}%"></div>
            </div>
        </td>
    </tr>
    <tr>
        <th>{% trans "Avg GET by item" %}</th>
        <td>{% widthratio server.1.cmd_get server.1.total_items 1 %}</td>
    </tr>
    <tr>
        <th>{% trans "Avg GET by seconds/minutes" %}</th>
        <td>{% widthratio server.1.cmd_get server.1.uptime 1 %}/{% widthratio server.1.cmd_get server.1.uptime 60 %}</td>
    </tr>
    {# ----- Detailed Statistics ----- #}
    <tr><th class="cache_title" colspan="2">{% trans "Detailed Statistics:" %}</th></tr>
    {% for k,v in server.1.items %}
    <tr><th>{{ k|prettyname }}</th><td>{{ v|prettyvalue:k }}</td></tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endfor %}
</div>
{% endif %}
    <div class="dashboard-module draggable collapsible deletable">
        <h2>{% trans "Call Info" %}</h2>
        <script type="text/javascript" language="javascript">
            $.ajax({
                url: '/admin_call_report/',
                type: "GET",
                dataType: "html",
                data: "",
                async: false,
                cache: false,
                timeout: 30000,
                success: function(data) {
                    //alert(data);
                    $('#call_report').html(data);
                },
                error: function() {
                    alert("Request failed");
                }
            });
        </script>

        <div id="call_report"></div>

        <script language="JavaScript" type="text/javascript">
            var call_type = 'all';
            function call_me(call_type)
            {
                var report_type = 'last_seven_days';
                if (document.getElementById('id_report_today').checked)
                {
                    report_type = 'today';
                }
                if (document.getElementById('id_report_seven').checked)
                {
                    report_type = 'last_seven_days';
                }
                //alert(report_type);

                // Call report without graph
                $.ajax({
                    url: '/admin_call_report/',
                    type: "GET",
                    dataType: "html",
                    data: "report_type="+report_type,
                    async: false,
                    cache: false,
                    timeout: 30000,
                    success: function(data) {
                        //alert(data);
                        $('#call_report').html(data);
                    },
                    error: function() {
                        alert("Request failed");
                    }
                });

                // Call report via graph
                $.ajax({
                    url: '/admin_call_report_graph/',
                    type: "GET",
                    dataType: "json",
                    data: "call_type="+call_type+"&report_type="+report_type ,
                    async: false,
                    cache: false,
                    timeout: 30000,
                    success: function(data) {
                        temp_json = data;
                        plot_call_graph(temp_json);
                    },
                    error: function() {
                        alert("Request failed");
                    }
                });

                return true;
            }
        </script>

        <h3>Graph Type</h3>

        <form action="/admin_call_report_graph/" name="admin_call_graph_form" method="POST" enctype="multipart/form-data">{% csrf_token %}

        <ul>
            <li><b>Note</b> : To view graph 1) Select <b>Report Type</b> 2) Select <b>Call Type</b></li>
            <li class="odd">Report Type :</li>
            <li>
            <input type="radio" name="report_type" id="id_report_today" value="today" > {% trans "Today" %}
            <input type="radio" name="report_type" id="id_report_seven" checked="checked" value="seven_days" > {% trans "Last 7 days" %}
            </li>
            <li class="odd">Call Type :</li>
        </ul>
        <ul>
            <li>
            <input type="radio" name="call_type" checked="checked" onclick="call_me('ALL');"> {% trans "All Calls" %}
            <input type="radio" name="call_type" onclick="call_me('ANSWER');"> {% trans "Answered" %}
            <input type="radio" name="call_type" onclick="call_me('NOANSWER');"> {% trans "No Answer" %}
            <input type="radio" name="call_type" onclick="call_me('BUSY');"> {% trans "Busy" %}
            <input type="radio" name="call_type" onclick="call_me('CANCEL');"> {% trans "Cancel" %}
            </li>
            <li class="even">
            <input type="radio" name="call_type" onclick="call_me('CONGESTION');"> {% trans "Congestion" %}
            <input type="radio" name="call_type" onclick="call_me('CHANUNAVAIL');"> {% trans "Chanunavail" %}
            <input type="radio" name="call_type" onclick="call_me('DONTCALL');"> {% trans "Don't call" %}
            <input type="radio" name="call_type" onclick="call_me('TORTURE');"> {% trans "Torture" %}
            </li>
            <li>
            <input type="radio" name="call_type" onclick="call_me('INVALIDARGS');"> {% trans "Invalid Args" %}
            <input type="radio" name="call_type" onclick="call_me('NOROUTE');"> {% trans "No Route" %}
            <input type="radio" name="call_type" onclick="call_me('FORBIDDEN');"> {% trans "Forbidden" %}
            <input type="radio" name="call_type" onclick="call_me('DURATION');"> {% trans "Duration" %}
            </li>
        </ul>
        </form>

        <script type="text/javascript" language="javascript">
            // Function for tooltip
            function showTooltip(x, y, contents) {
                $('<div id="tooltip">' + contents + '</div>').css( {
                    position: 'absolute',
                    display: 'none',
                    top: y + 5,
                    left: x + 5,
                    border: '1px solid #fdd',
                    padding: '2px',
                    'background-color': '#fee',
                    opacity: 0.80
                }).appendTo("body").fadeIn(200);
            }
            
            var temp_json;
            var output = '';

            $.ajax({
                url: '/admin_call_report_graph/',
                type: "GET",
                dataType: "json",
                data: "",
                async: false,
                cache: false,
                timeout: 30000,
                success: function(data) {
                    temp_json = data;
                    plot_call_graph(temp_json);
                },
                error: function() {
                    alert("Request failed");
                    //alert("No Record Found !!");
                }
            });




            function plot_call_graph(temp_json)
            {
                //alert(JSON.stringify(temp_json.campaign));
                var graph_start_date = JSON.stringify(temp_json.graph_start_date).replace(/['"]/g,'');
                var graph_end_date = JSON.stringify(temp_json.graph_end_date).replace(/['"]/g,'');
                var graph_type = JSON.stringify(temp_json.graph_type).replace(/['"]/g,'');
                //alert(graph_start_date);
                //alert(graph_end_date);

                if (graph_type == '')
                {
                    graph_type = 'day';
                }
                //alert(graph_type);

                /* Plot graph -- LAST 7 Days */
                if (graph_type == 'day')
                {
                    var d1 = [];
                    $.each(temp_json.campaign, function(i,campaign){
                        //(new Date(campaign.date)).getTime()
                        d1.push([(new Date(campaign.date).getTime()), campaign.count]); //.getTime()
                    });
                    //alert(d1);

                    $(function () {
                        var stack = 0, bars = true, lines = false, steps = false;

                        function plotWithOptions() {
                            $.plot($("#placeholder"), [ d1 ], {
                                series: {
                                    bars: { show: bars, barWidth: 60*60*1000*24 }
                                    //bars: { show: bars, barWidth: 0.6 }
                                },
                                xaxis: {
                                    mode: "time",
                                    minTickSize: [1, String(graph_type)],
                                    min: (new Date(graph_start_date)).getTime(),
                                    max: (new Date(graph_end_date)).getTime()
                                },
                                grid: {
                                    hoverable: true,
                                    clickable: true,
                                    backgroundColor: { colors: ["#fff", "#eee"] }
                                },
                                tooltip: true,
                            });
                        }
                        plotWithOptions();
                    });
                }

                /* Plot graph -- Today */
                if (graph_type == 'hour')
                {
                    var d1 = [];
                    $.each(temp_json.campaign, function(i,campaign){
                        //(new Date(campaign.date)).getTime()
                        d1.push([(new Date(campaign.date * 1000)), campaign.count]); //.getTime()
                    });
                    //alert(d1);

                    $(function () {
                        var stack = 0, bars = true, lines = false, steps = false;

                        function plotWithOptions() {
                            $.plot($("#placeholder"), [ d1 ], {
                                series: {
                                    //bars: { show: bars, barWidth: 60*60*1000*24 }
                                    bars: { show: bars, barWidth: 60*60*1000 }
                                },
                                xaxis: {
                                    mode: "time",
                                    minTickSize: [1, String(graph_type)],
                                    min: (new Date(graph_start_date * 1000)), //Converting date from Python to Javascript
                                    max: (new Date(graph_end_date * 1000)) // Converting date from Python to Javascript (You have to multiply by 1,000.)
                                },
                                grid: {
                                    hoverable: true,
                                    clickable: true,
                                    backgroundColor: { colors: ["#fff", "#eee"] }
                                },
                                tooltip: true,
                            });
                        }
                        plotWithOptions();
                    });
                }
                var previousPoint = null;
                $("#placeholder").bind("plothover", function (event, pos, item) {
                    $("#x").text(pos.x.toFixed(2));
                    $("#y").text(pos.y.toFixed(2));
                    if (item) {

                        if (previousPoint != item.dataIndex) {
                            previousPoint = item.dataIndex;

                            $("#tooltip").remove();
                            var x = item.datapoint[0].toFixed(2),
                                y = item.datapoint[1].toFixed(2);
                            //alert(item);
                            showTooltip(item.pageX, item.pageY,
                                        Number(y));
                        }
                    }
                    else {
                            $("#tooltip").remove();
                            previousPoint = null;
                    }
                });

            }

        </script>

        <div class="dashboard-module-content">
        <center>
            <div class="graph_header">{% trans "Report" %}</div>
            <div id="placeholder" style="width:350px;height:300px"></div>
        </center>
         </div>
    </div>
{% endifequal %}

