{% load i18n admin_tools_dashboard_tags %}
{% load memcache_status_tags %}

<script type="text/javascript" src="{{ media_url }}/admin_tools/js/utils.js"></script>

<script type="text/javascript" charset="utf-8">
    // Load js files syncronously and conditionally

    var js_files = [
        {
            src : '{{ media_url }}/admin_tools/js/jquery/jquery.min.js',
            test: function() { return typeof(jQuery) == 'undefined'; }
        },
        {
            src : '{{ media_url }}/admin_tools/js/jquery/jquery-ui.min.js',
            test: function() { return typeof(jQuery.ui) == 'undefined'; }
        },
        {
            src : '{{ media_url }}/admin_tools/js/json.min.js',
            test: function() { return typeof(JSON.stringify) == 'undefined'; }
        },
        {
            src : '{{ media_url }}/admin_tools/js/jquery/jquery.cookie.min.js',
            test: function() { return typeof(jQuery.cookie) == 'undefined'; }
        },
        {
            src : '{{ media_url }}/admin_tools/js/jquery/jquery.dashboard.js',
            test: function() { return true; }
        },
        {
            src : '{{ media_url }}/admin_tools/js/dashboard.js',
            test: function() { return true; }
        }{% for js in dashboard.Media.js %},
        {
            src : '{{ media_url }}/{{ js }}',
            test: function() { return true; }
        }{% endfor %}
    ];

    loadScripts(js_files, function(){
        jQuery(function($) {
            init_dashboard(
                '{{ dashboard.get_id }}',
                {{ dashboard.columns }},
                {% autoescape off %}{{ dashboard_preferences }}{% endautoescape %},
                '{% url admin-tools-dashboard-set-preferences dashboard.get_id %}'
            );
        });
    });
</script>

{% if dashboard.title %}
<h1 class="dashboard-title">{{ dashboard.title }}</h1>
{% endif %}

<div id="dashboard-panel">
    <h3><a href="#">{% trans "Modules" %}</a></h3>
    {% if has_disabled_modules %}
    <ul>
        {% spaceless %}
        {% for module in dashboard.children %}
        {% if not module.enabled %}
        <li><a href="#" rel="module_{{ module.id }}" class="addlink add-dashboard-module">{{ module.title }}</a></li>
        {% endif %}
        {% endfor %}
        {% endspaceless %}
    </ul>
    {% endif %}
</div>
<div id="{{ dashboard.get_id }}" class="dashboard-container">
    {% for module in dashboard.children %}
        {% admin_tools_render_dashboard_module module %}
    {% endfor %}

{% ifequal request.path "/admin/" %}

{% get_cache_stats %}
{% if cache_stats and user.is_superuser %}
<div class="cache_stats">
{% for server in cache_stats %}
<div class="dashboard-module draggable collapsible deletable">
    <table>
    <caption>
        <h2><a href="#"  onclick="
            var elem = document.getElementById('cache{{ forloop.counter }}');
            if(elem.style.display == 'none'){
                elem.style.display = 'table-row-group';
            }else{
                elem.style.display = 'none';
            }
            return false;
        ">memcached: {{ server.0 }} - {% widthratio server.1.bytes server.1.limit_maxbytes 100 %}% load</a> 
       </h2>
    </caption>
    <thead>
    <tr><td colspan="2">
        <div class="cache_graph">
            <div class="cache_graph_value" style="width: {% widthratio server.1.bytes server.1.limit_maxbytes 100 %}%"></div>
        </div>
    </td></tr>
    </thead>
    <tbody id="cache{{ forloop.counter }}">
    <tr>
        <th>{% trans "Miss Ratio" %}</th>
        <td>
            {% widthratio server.1.get_misses server.1.cmd_get 100 %}%
            <div class="cache_graph inline">
                <div class="cache_graph_value" style="width: {% widthratio server.1.get_misses server.1.cmd_get 100 %}%"></div>
            </div>
        </td>
    </tr>
    <tr>
        <th>{% trans "Avg GET by item" %}</th>
        <td>{% widthratio server.1.cmd_get server.1.total_items 1 %}</td>
    </tr>
    <tr>
        <th>{% trans "Avg GET by seconds/minutes" %}</th>
        <td>{% widthratio server.1.cmd_get server.1.uptime 1 %}/{% widthratio server.1.cmd_get server.1.uptime 60 %}</td>
    </tr>
    {# ----- Detailed Statistics ----- #}
    <tr><th class="cache_title" colspan="2">{% trans "Detailed Statistics:" %}</th></tr>
    {% for k,v in server.1.items %}
    <tr><th>{{ k|prettyname }}</th><td>{{ v|prettyvalue:k }}</td></tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endfor %}
</div>
{% endif %}
    <div class="dashboard-module draggable collapsible deletable">
        <h2>{% trans "Call Info Today" %}</h2>
        <script type="text/javascript" language="javascript">
            $.ajax({
                url: '/admin_call_report/',
                type: "GET",
                dataType: "html",
                data: "",
                async: false,
                cache: false,
                timeout: 30000,
                success: function(data) {
                    //alert(data);
                    $('#call_report').html(data);
                },
                error: function() {
                    alert("Request failed");
                }
            });
        </script>
        <div id="call_report"></div>
        <script language="JavaScript" type="text/javascript">
            var call_type = 'all';
            function call_me(value)
            {
                $.ajax({
                    url: '/admin_call_report_graph/',
                    type: "GET",
                    dataType: "json",
                    data: "call_type=" + value,
                    async: false,
                    cache: false,
                    timeout: 30000,
                    success: function(data) {
                        //alert(value);
                        temp_json = data;
                        plot_call_graph(temp_json);
                        //alert(data);
                    },
                    error: function() {
                        alert("Request failed");
                    }
                });

                return true;
            }
        </script>
        <form action="/admin_call_report_graph/" name="admin_call_graph_form" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <ul>Call Type
            <li>
            <input type="radio" name="call_type" value="all" onclick="call_me('all');"> Calls
            <!--<input type="radio" name="call_type" value="answered" onclick="call_me('answered');"> Answered
            <input type="radio" name="call_type" value="unanswered" onclick="call_me('unanswered');"> Unanswered-->
            <input type="radio" name="call_type" value="unanswered" onclick="call_me('duration');"> Duration
            </li>
        </ul>
        </form>
        <script type="text/javascript" language="javascript">
            var temp_json;
            var output = '';

            $.ajax({
                url: '/admin_call_report_graph/',
                type: "GET",
                dataType: "json",
                data: "",
                async: false,
                cache: false,
                timeout: 30000,
                success: function(data) {
                    temp_json = data;
                    plot_call_graph(temp_json);
                },
                error: function() {
                    alert("Request failed");
                }
            });

            function plot_call_graph(temp_json)
            {
                //alert(JSON.stringify(temp_json.campaign));
                var start_date = JSON.stringify(temp_json.start_date).replace(/['"]/g,'');
                var end_date = JSON.stringify(temp_json.end_date).replace(/['"]/g,'');
                //alert(start_date.replace(/['"]/g,''));

                var d1 = [];
                $.each(temp_json.campaign, function(i,campaign){
                    //output +=campaign.date +":"+ campaign.id;
                    //(new Date(campaign.date)).getTime()
                    d1.push([(new Date(campaign.date)).getTime(), campaign.count]);
                });
                //alert(d1);

                $(function () {
                    //var d1 = [];
                    //for (var i = 0; i <= 10; i += 1)
                    //    d1.push([i, parseInt(Math.random() * 30)]);

                    var stack = 0, bars = true, lines = false, steps = false;

                    function plotWithOptions() {
                        $.plot($("#placeholder"), [ d1 ], {
                            series: {
                                //stack: stack,
                                //lines: { show: lines, fill: true, steps: steps },
                                    bars: { show: bars, barWidth: 60*60*1000*24 }
                            },
                            xaxis: {
                                mode: "time",
                                //minTickSize: [1, "days"],
                                min: (new Date(start_date)).getTime(),
                                max: (new Date(end_date)).getTime()
                            }
                        });
                    }

                    plotWithOptions();

                });
            }


        </script>

<center>
    <div class="graph_header">{% trans "Call Info" %}</div>
    <div id="placeholder" style="width:350px;height:300px"></div>
</center>
    </div>
{% endifequal %}

