{% extends "frontend/master.html" %}
{% load i18n utils_tags %}

{% block content_header %}
    <h1>
        {% if action == 'update' %}
            {% trans "update"|title %}
        {% else %}
            {% trans "add"|title %}
        {% endif %}
        {% trans "calendar"|title %}
        <small></small>
    </h1>
{% endblock %}

{% block content %}

<form class="well" role="form" method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
    {% for field in form %}
    <div class="row">
        {% field_html_code field '' 'col-xs-4' %}
    </div>
    {% endfor %}
    {% include "frontend/common_submit_buttons.html" %}
</form>

{% endblock %}
